<script>
  import {setContext} from 'svelte';

	export let segment;
	let isnw
  let workermessage

	if (process.browser) {
		try {
			const fs = require('fs')
			chrome.windows.getAll( {},windows => {
				if (windows.length < 2){
					const current = window.location.pathname
					if (current !== '/sender'){
						chrome.windows.create({
							url: window.location.origin+'/sender',
							state:'minimized'
						});
					} else {
						chrome.windows.create({
							url: window.location.origin
						});
					}

				}
			})
			const sender = new SharedWorker('globandsend.js',{name: 'sender-worker', type: 'module'});
      /*
			sender.port.start();
      const broadcastChannel = new BroadcastChannel("GLOBSENDSTATUS");
      broadcastChannel.addEventListener("message", ({data}) => {
       console.log('broadcastChannel',JSON.stringify(data))
      })

			sender.port.onmessage = function(e) {
				console.log('Message received from worker ', e.data);
        //workermessage = e.data
				//setContext('worker', e.data);
			}
      */
			const win = window.nw.Window.get()
			win.on('close',function(){
				chrome.windows.getAll( {},windows => {
					if (windows.length < 2){
						if (confirm('stop indexing')) {
              chrome.browsingData.remove({},{
  "appcache": true,
  "cache": true,
  "cookies": true,
  "downloads": true,
  "fileSystems": true,
  "formData": true,
  "history": true,
  "indexedDB": true,
  "localStorage": true,
  "pluginData": true,
  "passwords": true,
  "webSQL": true
},()=>{
                alert('clean')
                this.close(true)
              })
            }
					} else {
          this.close(true)
        }
				})
			})
			isnw = true

		} catch (error) {
			console.error(error)
			//noop
		}
	}
</script>


<main>
	<slot></slot>
</main>
