<script context="module">
  export async function preload(page) {
    const { host, path, params, query } = page
    return {hash: query.hash , error:null}
  }

  // a0cc84fe71badfa1e1d85c0034cd57cb
  // aec0db7b117b8203325d26400488b1ac
</script>


<script>
  import { onMount, afterUpdate } from 'svelte'

  import Graph from '../components/graph/graph.svelte'

  import Bug from '../components/itembug.svelte'
  import Preview from '../components/itempreview.svelte'
  import FilterList from '../components/filterlist.svelte'

  export let hash

  let container
  let basename
  let fullname
  let entities
  let entitiescount
  let counter
  let current
  let nohits
  let hitssorted
  let done = false
  let entitieColor = 16646357

  let entitieList
  let docList
  let docs = []

  let graph
  let innerWidth //= document.body.getBoundingClientRect().width
  let innerHeight //= document.body.getBoundingClientRect().height
  let node
  let currentNode
  let currentEntitie
  let currentDoc
  let tmp

  let menus = {
							embeded:['peek','search','mlt','bug'],
							default:['search','bug'],
              container:['search','bug']
							}

  let menufunctions = {}
  menufunctions.bug = (n) => {
    const d = new Bug({props:{i:n},target: document.body})
    d.close = () => d.$destroy();
  }
  menufunctions.search = (n) => {
    //TODO fix wait message
    done = false
    current = n.id
    window.location.href = '/search?q='+n.id
  }
  menufunctions.mlt = (n) => {
    //TODO fix wait message
    done = false
    current = n.id
    window.location.href = '/doc?hash='+n.id.split('-')[0]
  }
  menufunctions.peek = (n) => {
    const d = new Preview({props:{id:n.id},target: document.body})
    d.close = () => d.$destroy();
  }

  onMount(async ()=>{
    //graph.setWidth(innerWidth)
    //graph.setHeight(innerHeight)
    //console.log('bv',innerWidth,innerHeight)
    const startTime = new Date()
    let globalCounter = 0
    try {
      const result = await fetch('/api/search?q=__contenthash__:"'+hash+'"&nohighlight&size=1000&fields=__meta.resourcename,__fields.*,__entities.*')
      if (result.ok) {
        const answer = await result.json()
        if (answer.total.value){
          globalCounter += answer.total.value
          container = answer
          basename = container.hits[0]._source.__fields.basename ? container.hits[0]._source.__fields.basename : container.hits[0]._source.__fields.__filename__
          fullname = container.hits[0]._source.__fields.fullname ? container.hits[0]._source.__fields.fullname : ''

          for (const hit of container.hits){
            // is self link
            if (hit._source.__meta ) {graph.add({id:hash,data:{menuType:'container',label:basename}},{id:hit._id,data:{menuType:'embeded',label:(hit._source.__meta && hit._source.__meta.resourcename)?hit._source.__meta.resourcename:basename}})
              docs.push({id:hash,label:basename})
              docs.push({id: hit._id, label:(hit._source.__meta && hit._source.__meta.resourcename)?hit._source.__meta.resourcename:basename})
            }
            if (hit._source.__entities){
              if (!entities) {
                entities = {}
                entitiescount = 0
              }
              for (const key of Object.keys(hit._source.__entities)){
                if (!entities[key]) entities[key] = {}
                for (const entitie of hit._source.__entities[key]){

                  graph.add(
                  {id:hit._id,data:{menuType:'embeded',label:(hit._source.__meta && hit._source.__meta.resourcename)?hit._source.__meta.resourcename:basename}},
                  {id:entitie,data:{menuType:key,type:key,color:entitieColor}})
                  docs.push({id:hit._id,label:(hit._source.__meta && hit._source.__meta.resourcename)?hit._source.__meta.resourcename:basename})
                  if (!entities[key][entitie]) {
                    entitiescount ++
                    entities[key][entitie] = {}
                    entities[key][entitie].resourcenames = []
                  }
                  entities[key][entitie].resourcenames.push({_id:hit._id,name:(hit._source.__meta && hit._source.__meta.resourcename)?hit._source.__meta.resourcename:basename})
                }
              }
            }
          }

          if (entities) {
            counter = 0
            for (const key of Object.keys(entities)){
              for (const entitie of Object.keys(entities[key])){

                current = entitie
                const result = await fetch('/api/search?q='+entitie+' -"'+hash+'"')
                counter ++
                if (result.ok) {
                  const answer = await result.json()
                  if (answer.total.value ){
                    entities[key][entitie].hits = answer.total.value
                    globalCounter += 1

                  } else {
                    if (!nohits) nohits = {}
                    if (!nohits[key]) nohits[key] = {}
                    nohits[key][entitie] = entities[key][entitie]
                    delete entities[key][entitie]
                  }
                }
              }
            }
          }
          tmp = []
          if (entities){
            for (const key of Object.keys(entities)){
              for (const entitie of Object.keys(entities[key])){
                tmp.push({hits:entities[key][entitie].hits,entitie,key,resourcenames:entities[key][entitie].resourcenames})
              }
            }
            tmp = tmp.sort((a,b)=>{return (b.hits-a.hits)})
          }
          if (tmp && tmp.length){
            //docs = []
            for (const entitie of tmp){
              counter ++
              current = entitie.entitie
              const result = await fetch('/api/search?q='+entitie.entitie+' -"'+hash+'"&size=0')
              if (result.ok) {
                const answer = await result.json()
                globalCounter += 1
                if (answer.total.value ) {
                  entitie.links = []

                  if ( answer.total.value < 128) { // TODO some better Tambov

                  for (let from = 0; from < answer.total.value; from ++){
                    current = entitie.entitie +' ' + answer.total.value + ' / ' + from
                    const result2 = await fetch('/api/search?q='+entitie.entitie+' -"'+hash+'"&size=1&from='+from+'&nohighlight&fields=__meta.resourcename,__fields.basename,__fields.__filename__')
                    if (result2.ok) {
                      current = entitie.entitie +' ' + answer.total.value + ' / ' + from + ' got some'
                      globalCounter += 1
                      const answer2 = await result2.json()
                      entitie.links.push(answer2.hits[0])
                      const l = answer2.hits[0]
                      let label = ''
                      let clabel = ''
                      if (l && l._source && l._source.__meta && l._source.__meta.resourcename){
                        label =  l._source.__meta.resourcename +' ('+l._source.__fields.__filename__+')'
                      }
                      if (l && l._source && l._source.__fields && l._source.__fields.__filename__){
                        clabel = l._source.__fields.__filename__
                      }
                      if (label.length) {
                        graph.add({id:l._id,data:{label,menuType:'embeded'}},{id:entitie.entitie})
                        docs.push({id:l._id,label:label})
                        //docs.push({id:l._id.split('-')[0],label:label})
                        graph.add({id:l._id.split('-')[0],data:{menuType:'container',label:clabel}},{id:l._id,data:{label,menuType:'embeded'}})
                        docs.push({id:l._id.split('-')[0],label:clabel})
                      } else if (clabel.length) {
                        graph.add({id:l._id,data:{label:clabel,menuType:'embeded'}},{id:entitie.entitie})
                        docs.push({id:l._id,label:clabel})
                      } else {
                        //console.error(new Error('missing label'+ JSON.stringify({answer2,l},null,4)))
                      }
                    } else {

                    }
                  }
                } else {
                  // to many ..
                  for (let from = 0; from < answer.total.value; from ++){
                    graph.add({id:'tomany_'+from+'_'+entitie.entitie,data:{label:'tomany',menuType:'embeded'}},{id:entitie.entitie})
                  }
                }
                }
              }
            }

            hitssorted = tmp
            // TODO move up
            const result = [];
            const map = new Map();
            for (const item of docs) {
                if(!map.has(item.id)){
                    map.set(item.id, true);
                    result.push(item);
                }
            }
            docs = [...result]
            /*
            for (const hit of hitssorted){

              for (const l of hit.links){
                  // l._id.endsWith('-1') container contains onlu itself
                  current = l._source.__fields.__filename__
                  if (l._source.__meta && l._source.__meta.resourcename){
                    const label =  l._source.__meta.resourcename //+' ('+l._source.__fields.__filename__+')'
                    graph.add({id:l._id,data:{label}},{id:hit.entitie})
                    graph.add({id:l._id,data:{label}},{id:l._id.split('-')[0],data:{type:'container',label:l._source.__fields.__filename__}})
                  } else {
                    graph.add({id:l._id.split('-')[0],data:{type:'container',label:l._source.__fields.__filename__}},{id:hit.entitie})
                  }


              }

            }
            */
            //console.dir(hitssorted)

          }
          //graph.birdview()
          //graph.highlight(tmp[tmp.length-1].entitie)
          //console.dir(tmp)
          done = true
        } else {
          current = '404 NOT FOUND !'
      }
      } else {
        current = { error:result.statusText }
      }
    } catch (error) {
      console.error(error)
      //current = {error: error.message}
    }
    const endTime = new Date();
    const took = endTime - startTime
    //console.log(took/globalCounter, took, globalCounter, hash)

  })



  let bug
  function handlemenu(m){

    const {selected, node} = m
    if (menufunctions[selected]) menufunctions[selected](node)
    else console.error(new Error('missing menu: '+selected))

  }

/*
  $:  if (innerWidth || innerHeight) {
    console.log('rz',innerWidth, innerHeight)

  }
*/

  /*
  function showEntitie(e){
    if (!graph) return
    if (!currentNode) currentNode = graph.highlight(e)
    else if (currentNode.data && currentNode.data.entitie) {
      if (currentNode.data.entitie !== e)
        currentNode = graph.highlight(e)
    }
  }
  */

  // $: if (currentNode) console.log(currentNode)
  //$: showEntitie(currentEntitie)
</script>

<style >

  .wait {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    letter-spacing: normal;
    text-align: center;
    background-color: #000000a8;

  }

  .spinner {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: 1em;
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
  }

  div {
    background: #1e1e1e;
  }

</style>

<svelte:window bind:innerWidth bind:innerHeight />


{#if (!done)}
  <div class="wait">
    <span style="display: table-cell;vertical-align: middle;">
      Please wait ..
      <br>
      {Math.round((counter/(entitiescount*2)*100))-1}%
      <br>
      <small><small>( {current} )</small></small>
      <div class="spinner">#</div>
    </span>
  </div>
{/if}
{#if (innerWidth && innerHeight)}
<div class="pure-g" style="height:{innerHeight}px;">
  <div class="pure-u-1-2" style="height:{innerHeight}px;">
    <div class="pure-g" style="height:{innerHeight-20}px;">
    {#if (done)}
      <div class="pure-u-3-5" style="height:{innerHeight-20}px;">
        <small>
        <FilterList
          bind:this="{docList}" items="{docs}" name="label"
          on:clicked="{(e)=>{graph.zoomto(e.detail.id)}}"
          on:mouseon="{(e)=>{graph.highlight(e.detail.id); entitieList.highlight()}}"
        />
        </small>
      </div>
      <div class="pure-u-2-5" style="height:{innerHeight - 20}px;">
       <FilterList
       id="{'entitie'}"
       bind:this="{entitieList}" items="{tmp}" name="entitie"
       on:clicked="{(e)=>{graph.zoomto(e.detail.entitie)}}"
       on:mouseon="{(e)=>{graph.highlight(e.detail.entitie);docList.highlight()}}"
       />
      </div>
      {/if}
    </div>
  </div>
  <div class="pure-u-1-2">

    <Graph bind:this="{graph}"
           width="{innerWidth/2}"
           height="{innerHeight}"
           menus="{menus}"
           on:mouseOnNode="{(e)=>{
             currentNode = e.detail;
             if (!currentNode.data.label) {
               entitieList.highlight(currentNode.id)
               docList.highlight()
             }
             else {
               entitieList.highlight()
               docList.highlight({id:currentNode.id})
               //console.log(currentNode.id)
             }
             }}"
           on:clickOnNode="{(e)=>{currentNode = e.detail}}"
           on:menu="{(e)=>{handlemenu(e.detail)}}">
           <button on:click="{()=>{window.location.href='/search'}}">go to search page</button>
           <button on:click="{()=>{graph.relayout(10)}}">layout</button>
           <button on:click="{()=>{graph.birdview()}}">overview</button>

    </Graph>
  </div>
</div>
{/if}






<!--
<hr>

<div class="">
  {hash}

  <div class="wait">

  </div>

  <div class="results">
    {#if (container && basename)}
    <h3>
      {basename}
      {#if (entitiescount)}
      <small>
        ({entitiescount}/{counter})
      </small>
      {/if}
    </h3>
      <div class="resourcenames">
        <small>
        {#each container.hits as hit}
        {#if (hit._source.__entities && Object.keys(hit._source.__entities).length && hit._source.__meta)}
        <div class="">
            { hit._source.__meta.resourcename}
            <small>
              {#each Object.keys(hit._source.__entities) as key}
              <span>
                {key}({hit._source.__entities[key].length})
              </span>
              {/each}
            </small>
        </div>
        {/if}
        {/each}
        </small>
      </div>
      {#if (hitssorted)}
      <hr>
      <div class="entities">
        {#each hitssorted as entitie}
        <hr>
        <div class="entitie">
          {entitie.entitie}
          <small>
            ({entitie.hits})
          </small>
        </div>
        <div class="docs">
          {#each entitie.links as doc}
            <div class="doc">
              <h4>{doc._source.__fields.basename}</h4>
              <div class="">
                {@html doc.highlight.content}
              </div>
            </div>

          {/each}

        </div>
        {/each}

      </div>
      {/if}
    {/if}

  </div>

{#if (done)}
  <div class="pre">
    <pre>

      sorted
      {JSON.stringify(hitssorted,null,4)}

      nohits
      {JSON.stringify(nohits,null,4)}
      hits
      {JSON.stringify(entities,null,4)}
      raw
      {JSON.stringify(container,null,4)}

    </pre>
  </div>
{/if}
</div>
  -->
