<script context="module">
  export async function preload(page) {
    const { host, path, params, query } = page
    return {hash: query.hash , error:null}
  }
</script>

<script>

/*

http://localhost:3000/api/files?id=fcc8dcf4acddd7637e8ab3c7c4181ba3

http://localhost:3000/api/search?q=__contenthash__:%222269402622d5fb5e79cb5ea1f911d361%22
http://localhost:3000/api/search?q=__contenthash__:%222269402622d5fb5e79cb5ea1f911d361%22&size=${size}&fields=__entities.*

*/

  import ContentLoader from 'svelte-content-loader';
  import { onMount, afterUpdate } from 'svelte'
  import EntitieResults from '../components/entitieresults.svelte'


  import Fa from 'svelte-fa'
  import { faSearch } from '@fortawesome/free-solid-svg-icons'


  export let hash
  export let error

  const cache = {}
  const docs = {}

  let filesOK = false
  let metaOK = false
  let entitiesOK = false
  let contentOK = false

  let done = false
  let counter = 0
  let current = ''
  let entitiesTotal
  let entitiesCounter
  let currentTotal
  let currentCounter
  let startTime
  let elapsed
  let docindex = []
  let visibleSummaries = []
  let visibleContents = []

  function sleep(ms,msg) {
    if (msg) console.log(ms,msg)
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  async function ___docSearchFiles(hash) {
    const result = await fetch()

  }

  async function docSearchFiles(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"__contenthash__": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!filesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*files*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })

                if (!result.ok) {
                  error = result.statusText
                  await sleep(2500,'files '+hash)
                } else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    filesOK = []
                    for (const hit of response.hits.hits) {

                      if (!filesOK.includes(hit._source.__filename__)) filesOK.push(hit._source.__filename__)
                    }
                  } else {
                    current = 'wait for pipeline ' + hash
                    await sleep(1500,'files '+hash)
                  }
                }
            }

  }


  async function docSearchMeta(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "query_string": {"query": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!metaOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*meta*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()
                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    metaOK = {}
                    const tmp = {}
                    for (const hit of response.hits.hits) {
                      tmp[hit._id] = hit
                    }
                    for (const key of Object.keys(tmp).sort()){
                      metaOK[key] = tmp[key]
                    }
                  } else {
                    current = 'wait for indexing ' + hash
                    await sleep(1500,'meta ')
                  }
                }
            }

  }


  async function docSearchEntities(hash){

    const data = {
                  "_source": {
                      "includes": "*",
                    //  "excludes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"_id": hash}
                      }
                  },
                  //"size": 0

                  }
              }

              //let filesOK = false
              while (!entitiesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*entities*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    entitiesOK = response.hits.hits
                  } else {
                    if (contentOK) {
                      entitiesOK = []
                      for (const hit of contentOK){
                        if (hit._source && hit._source.__entities){
                          entitiesOK.push({_source:hit._source.__entities})
                        }
                      }
                    } else await sleep(1500,'entities '+hash)
                  }
                }
            }

  }



    let list

    let scrollableContainer
    let currentDocItem
    let io


    onMount(async () => {
      await docSearchFiles(hash)
      await docSearchMeta(hash)
      for (const key of Object.keys(metaOK)){


        let foundsome = false

        async function docSearchContent(hash) {
          current = hash
          const data = {
            //_source: {
              //includes: ['__contenthash__', '__entities.*'],
              //"excludes": "*"
          //  },
            query: {
              bool: {
                must: {
                  term: { _id: hash },
                },
              },
            },
          }

          //let filesOK = false
          while (!foundsome) {
            // wait for files

            const result = await fetch('/elastic/' + encodeURI('*content*') + '/_search', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            })
            if (!result.ok) {error = result.statusText
             return}
            else {
              const response = await result.json()

              if (response && response.hits && response.hits.total && response.hits.total.value) {
                foundsome = response.hits.hits[0]
              } else {
                //if (entitiesOK) contentOK = true
                //else
                await sleep(1500, 'content ' + hash + foundsome + JSON.stringify({data,response},null,4))
              }
            }
          }
        }

        const me = await docSearchContent(key)
        if (!contentOK) contentOK = {}
        contentOK[key] = foundsome
      }

        //const maybeentities = await Promise.all([docSearchContent(e._id),docSearchEntities(e._id)])
      //}
      startTime = new Date()
      for (const key of Object.keys(contentOK).sort()) {

        if (contentOK[key]._source && contentOK[key]._source.__entities){
          entitiesTotal =  0/ Object.keys(contentOK[key]._source.__entities).length
          entitiesCounter = 0
          for (const type of Object.keys(contentOK[key]._source.__entities)){
            entitiesTotal += contentOK[key]._source.__entities[type].length
          }
          for (const type of Object.keys(contentOK[key]._source.__entities)){
            for (const value of contentOK[key]._source.__entities[type]){
              entitiesCounter ++
              counter ++
              elapsed = (new Date() - startTime)
              // -----------------
              if (!cache[type]) cache[type] = {}
              if (!cache[type][value]) {
                //const k = await sleep(Math.random()*10000,value)
                //cache[type][value] = [{name:'kala'}]

                const data = `{
                      "_source": {
                        "excludes": "*"
                      },
                      "query": {
                        "term": {
                          "${type}": {
                            "value": "${value}"
                          }
                        }
                      }
                    }`
                current = value
                const result = await fetch('/elastic/' + encodeURI('*entities*') + '/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: data,
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    cache[type][value] = []
                    for (const hit of response.hits.hits) {
                      const __contenthash__ = hit._id.split('-')[0]
                      if (!cache[type][value].filter((i) => i.id === __contenthash__).length) {
                        if (!docs[__contenthash__]) {
                          const files = []
                          const metas = []
                          const data = {
                            _source: {
                              includes: '*',
                            },
                            query: {
                              bool: {
                                must: {
                                  term: { __contenthash__: __contenthash__ },
                                },
                              },
                            },
                          }
                          current = __contenthash__
                          const result = await fetch('/elastic/' + encodeURI('*files*') + '/_search', {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                          })
                          if (!result.ok) error = result.statusText
                          else {
                            const response = await result.json()

                            if (response && response.hits && response.hits.total && response.hits.total.value) {
                              for (const hit of response.hits.hits) {
                                const name = hit._source.fullname || hit._source.basename || hit._source.__filename__
                                if (Array.isArray(name)) {
                                  for (const n of name){
                                    if (!files.includes(n)) files.push(n)
                                  }
                                } else if (!files.includes(name)) files.push(name)
                              }
                            }
                            current = hit._id
                            const rr = await fetch('/elastic/' + encodeURI('*meta*') + '/_search?q=_id:'+hit._id, {
                              method: 'GET',
                              headers: {
                                'Content-Type': 'application/json',
                              }
                            })
                            if (rr.ok) {
                              const rrs = await rr.json()
                              if (rrs.hits && rrs.hits.hits) {
                                for (const hit of rrs.hits.hits){
                                    if (!metas.includes(hit._source.resourcename)) metas.push(hit._source.resourcename)
                                 }
                              }

                            }
                          }
                          docs[__contenthash__] = {}
                          docs[__contenthash__].files = files
                          docs[__contenthash__].metas = metas
                          docs[__contenthash__].hits = {}
                          docs[__contenthash__].hits[type] = [value]
                          docs[__contenthash__].hits.types = 1
                          docs[__contenthash__].hits.count = 1
                        } else {
                          docs[__contenthash__].hits.count ++
                          if (!docs[__contenthash__].hits[type]){
                            docs[__contenthash__].hits.types ++
                            docs[__contenthash__].hits[type] = [value]
                          } else {
                            docs[__contenthash__].hits[type].push(value)
                          }

                        }
                        cache[type][value].push({ id: __contenthash__, files: docs[__contenthash__] })
                      }
                    }
                  } else {
                    cache[type][value] = []
                  }
                }
              }

              //-------------------

            }
          }
        }
      }

      for (const key of Object.keys(docs)){
          docindex.push({score:docs[key].hits.types*docs[key].hits.count, types:docs[key].hits.types,count:docs[key].hits.count,key})
      }

      //docindex.sort((a,b) => {return (b.score - a.score)} )
      docindex = [...docindex.sort((a,b) => {return (b.score - a.score)} )]

      //counter = Object.keys(docs).length
      done = true

      //await Promise.all([docSearchContent(hash),docSearchEntities(hash)])
      let scrolldown = true
      io = new IntersectionObserver(entries => {

			entries.forEach(e => {
				const id = e.target.id
				if (e.isIntersecting) {
          const isAbove = e.boundingClientRect.y < e.rootBounds.y;
          if (scrolldown) visibleContents.push(id)
          else visibleContents.unshift(id)
          scrolldown = !isAbove

        } else {
          const index = visibleContents.indexOf(id)
          //console.log(index,id)
          if (index > -1) visibleContents.splice(index,1)
          //console.log('del',visibleContents.indexOf(id))
        }
      })
      currentDocItem = visibleContents[0]
      //console.log(visibleContents.length,visibleContents)

    })
      return () => io.disconnect()

    })

    afterUpdate(()=>{
      const sectionElements = [].slice.call(scrollableContainer.querySelectorAll('.scrollable-section'))
      sectionElements.forEach(el => {
        io.observe(el)
      })
    })

    function isSelected(id){
    //console.log('isSelected',id,visibleContents[0],id === visibleContents[0])
      if (id === hash) return 'doc-item-unread'
    }

    function namesOnly(files){
      const tmp = []
      for (const file of files) {
        const bittes = file.split(/\\|\//)
        const last  = bittes.pop()
        if (!tmp.includes(last)) tmp.push(last)
      }
      return tmp
    }
    function pathsOnly(files){
      const tmp = []
      for (const file of files) {
        const bittes = file.split(/\\|\//)
        bittes.pop()
        tmp.push(bittes.join(' / '))
      }
      return tmp
    }

    function list2doc(id){

      const scrolltoElement = scrollableContainer.querySelector('#doc-'+id)
      console.dir(scrolltoElement.offsetTop)
      // scrollableContainer.scrollTo ???
      window.scrollTo({
        top: scrolltoElement.offsetTop,
        left: 0,
        behavior: 'smooth'
      })
      console.dir(scrollableContainer)

    }

    $: if (currentDocItem) {
      const scrolltoElement = list.querySelector('#list-'+currentDocItem)
      list.scrollTo({
        top: scrolltoElement.offsetTop,
        left: 0,
        behavior: 'smooth'
      })
    }
    //$: if (current) console.log(current)

</script>

{#if (!done)}
<div class="wait" on:keydown="{(e)=>{console.log(e)}}">
  <span style="display: table-cell;vertical-align: middle;">
    Please wait ..
    <br>
    <small>
      {#if (elapsed > 1000 * 20)}
      Time remaining until task completion {Math.round((elapsed/entitiesCounter*entitiesTotal-elapsed)/1000/60)} minutes
      {/if}
    </small>
    <br>
    {(entitiesCounter/entitiesTotal*100).toFixed(2)}%
    <br>
    <small><small>
      ( {current} )
      <br>
      {(counter/(elapsed/1000)).toFixed(2)} qps
    </small></small>
    <br>
  </span>

</div>
{/if}

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <a href="/search">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
            </a>
            <hr>
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Files <span class="doc-count">({Object.keys(docs).length})</span></a></li>
                    <!--
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Terms MLT</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Terms MLT</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">SSDeep content</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">SSDeep binary</a></li>
                    -->

                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1" bind:this={list} style="overflow:hidden; font-size:75%;">

        {#each docindex as item}

        <div id={'list-'+item.key} class="pure-g doc=-item {isSelected(item.key, currentDocItem)}">


            <div class="pure-u-3-4 doc-item" on:click={()=>{list2doc(item.key)}}>
                <p class="doc-subject">{namesOnly(docs[item.key].files).join(', ')}<small>({docs[item.key].files.length})</small></p>
                <p class="doc-desc">
                {#each Object.keys(docs[item.key].hits) as type}
                  {#if Array.isArray(docs[item.key].hits[type])}

                    {type}:{docs[item.key].hits[type].length}
                  &nbsp; &nbsp;
                  {/if}
                {/each}
                </p>
            </div>

        </div>
        {/each}

    </div>

    <div id="main" class="pure-u-1" bind:this={scrollableContainer}>
        {#each docindex as item}

        <div class="doc-content doc-item scrollable-section" id={item.key}>
          <div class="">
                <a href="/doc?hash={item.key}" target="_self">
                <h4 id={"doc-"+item.key} class="doc-content-title">
                  {@html namesOnly(docs[item.key].files).join(',<br> ')}
                  <svg class="hoverable" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-6 17c1.513-6.587 7-7.778 7-7.778v-2.222l5 4.425-5 4.464v-2.223c0 .001-3.78-.114-7 3.334z"/></svg>
                </h4>
                </a>
                <small>
                  <p class="doc-content-title"><li>{@html pathsOnly(docs[item.key].files).join(',<li> ')}</p>
                  </small>
          </div>
            <!--<div class="doc-content-header pure-g">


                <!--
                <div class="pure-u-1-2">
                    <h4 class="doc-content-title">{@html docs[item.key].files.join(',<br> ')}</h4>
                    <p class="doc-content-subtitle">
                      {item.key}
                    </p>
                </div>

                <div class="doc-content-controls pure-u-1-2">
                  {#each Object.keys(docs[item.key].hits) as type}
                    {#if Array.isArray(docs[item.key].hits[type])}
                    <button class="secondary-button pure-button">
                      {type}
                    </button>
                    {/if}
                  {/each}
                </div>
                        </div>
                -->
            <div class="doc-content-body">
            {#each Object.keys(docs[item.key].hits) as type}
              {#if Array.isArray(docs[item.key].hits[type])}

                  <p>
                  <button class="secondary-button pure-button">
                    {type}

                    <svg class="hoverable" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24"><path d="M7 16h10v1h-10v-1zm0-1h10v-1h-10v1zm15-13v22h-20v-22h3c1.229 0 2.18-1.084 3-2h8c.82.916 1.771 2 3 2h3zm-11 1c0 .552.448 1 1 1s1-.448 1-1-.448-1-1-1-1 .448-1 1zm9 1h-4l-2 2h-3.898l-2.102-2h-4v18h16v-18zm-13 9h10v-1h-10v1zm0-2h10v-1h-10v1z"/></svg>

                  </button>
                  &nbsp; &nbsp;
                  {#each docs[item.key].hits[type] as entitie}
                  <a href="/search?q={entitie}" target="_self">
                    {entitie}
                    <svg class="hoverable" width="12" height="12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
                  </a>
                  &nbsp;
                  {/each}

                  </p>

              {/if}
            {/each}
            </div>


        </div>
        {/each}
        <!--
        <pre>
          {JSON.stringify(docindex,null,4)}
          {JSON.stringify(docs,null,4)}
        </pre>
        -->
    </div>
</div>

<style>

.hoverable {
  opacity: 0;
  box-shadow: 1px 1px 3px 1px yellow;
  transition: opacity .7s;

}
.secondary-button:hover .hoverable{
		opacity: 1;
	}
  A:hover .hoverable{
  		opacity: 1;
  	}

body {
    color: #333;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    //background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;

}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu-link {
        color: #aaa;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }


/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.doc-count {
    color: rgb(75, 113, 151);
}

.doc-label-personal,
.doc-label-work,
.doc-label-travel {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}
.doc-label-personal {
    background: #ffc94c;
}
.doc-label-work {
    background: #41ccb4;
}
.doc-label-travel {
    background: #40c365;
}


/* Email Item Styles */
.doc-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}
    .doc-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .doc-name,
    .doc-subject {
        margin: 0;
    }
    .doc-name {
        text-transform: uppercase;
        color: #999;
    }
    .doc-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.doc-item-selected {
    background: #eee;
}
.doc-item-unread {
    border-left: 6px solid #1b98f8;
}

/* Email Content Styles */
.doc-content-header, .doc-content-body, .doc-content-footer {
    padding: 1em 2em;
}
    .doc-content-header {
        border-top: 1px solid #ddd;
    }

        .doc-content-title {
            margin: 0.5em 0 0;
        }
        .doc-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .doc-content-subtitle span {
                color: #999;
            }
    .doc-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .doc-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .doc-avatar {
        width: 40px;
        height: 40px;
    }


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
    }
}

.wait {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  letter-spacing: normal;
  text-align: center;
  background-color: #000000a8;

}

.spinner {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

</style>
