<script context="module">

  /*
  import { makeQuery } from '../components/ela-query.mjs'

  const url = '/elastic/'+encodeURI('*content*')+'/_search'
  */
  export async function preload(page) {
    const { host, path, params, query } = page
    return {hash: query.hash , error:null}
    /*
    if (query.q) {
      const data = {
        "_source": {"excludes": "*"},
        query: makeQuery(query.q)
        size: 0,
      }

      const response = await this.fetch(url, {
        method: 'POST',
        mode: 'no-cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })

      if (response.ok) {
        const result = await response.json()

        return {result:result.hits, query: query.q , error:null}
      } else {
        return { error: response.status }
      }
    }
    */
  }



</script>

<script>

  import ContentLoader from 'svelte-content-loader';
  import { onMount } from 'svelte'
  import EntitieResults from '../components/entitieresults.svelte'


  export let hash
  export let error

  let filesOK = false
  let metaOK = false
  let entitiesOK = false
  let contentOK = false

  function sleep(ms,msg) {
    if (msg) console.log(ms,msg)
    return new Promise(resolve => setTimeout(resolve, ms));
}


  async function docSearchFiles(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"__contenthash__": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!filesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*files*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    filesOK = []
                    for (const hit of response.hits.hits) {
                      if (!filesOK.includes(hit._source.__filename__)) filesOK.push(hit._source.__filename__)
                    }
                  } else {

                    await sleep(1500,'files '+hash)
                  }
                }
            }

  }


  async function docSearchMeta(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "query_string": {"query": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!metaOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*meta*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()
                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    metaOK = {}
                    const tmp = {}
                    for (const hit of response.hits.hits) {
                      tmp[hit._id] = hit
                    }
                    for (const key of Object.keys(tmp).sort()){
                      metaOK[key] = tmp[key]
                    }
                  } else {
                    await sleep(1500,'meta ')
                  }
                }
            }

  }


  async function docSearchEntities(hash){

    const data = {
                  "_source": {
                      "includes": "*",
                    //  "excludes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"_id": hash}
                      }
                  },
                  //"size": 0

                  }
              }

              //let filesOK = false
              while (!entitiesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*entities*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    entitiesOK = response.hits.hits
                  } else {
                    if (contentOK) {
                      entitiesOK = []
                      for (const hit of contentOK){
                        if (hit._source && hit._source.__entities){
                          entitiesOK.push({_source:hit._source.__entities})
                        }
                      }
                    } else await sleep(1500,'entities '+hash)
                  }
                }
            }

  }




    onMount(async () => {
      await docSearchFiles(hash)
      await docSearchMeta(hash)
      for (const key of Object.keys(metaOK)){


        let foundsome = false

        async function docSearchContent(hash) {
          const data = {
            //_source: {
              //includes: ['__contenthash__', '__entities.*'],
              //"excludes": "*"
          //  },
            query: {
              bool: {
                must: {
                  term: { _id: hash },
                },
              },
            },
          }

          //let filesOK = false
          while (!foundsome) {
            // wait for files

            const result = await fetch('/elastic/' + encodeURI('*content*') + '/_search', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            })
            if (!result.ok) error = result.statusText
            else {
              const response = await result.json()

              if (response && response.hits && response.hits.total && response.hits.total.value) {
                foundsome = response.hits.hits[0]
              } else {
                //if (entitiesOK) contentOK = true
                //else
                await sleep(1500, 'content ' + hash + foundsome + JSON.stringify({data,response},null,4))
              }
            }
          }
        }

        const me = await docSearchContent(key)
        if (!contentOK) contentOK = {}
        contentOK[key] = foundsome


        //const maybeentities = await Promise.all([docSearchContent(e._id),docSearchEntities(e._id)])
      }

      //await Promise.all([docSearchContent(hash),docSearchEntities(hash)])

    })


</script>

<style >
  .entitiegroup {
    box-shadow: 1px 2px 2px 1px green;
    padding: .5em;
  }
</style>

<small class="main boxes fills">

{#if (error)}

sorry, got ERROR: <span style="color:red;">{error}</span>

{:else}



    {#if (filesOK)}
      {#each filesOK as file}
        <h1> {file} </h1>
      {/each}

      {#if (metaOK)}
      {#each Object.keys(metaOK) as key}
      <div class="">

          {#if (metaOK[key]._source.resourcename)}
          <h2> {metaOK[key]._source.resourcename} ( <small>{metaOK[key]._source['content-type']}</small> ) </h2>
          {/if}

          {#if (contentOK && contentOK[key])}
            {#if (contentOK[key]._source && contentOK[key]._source.__entities)}
              {#each Object.keys(contentOK[key]._source.__entities) as type}
              <div class="entitiegroup">
                <h3>{type}</h3>
                 {#each contentOK[key]._source.__entities[type] as some}
                 <EntitieResults type={type} value={some} />
                 {/each}
                 </div>
              {/each}
            {/if}
          {:else}
          <ContentLoader>
            <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
            <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
            <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
          </ContentLoader>

          {/if}

      </div>
      {/each}
      {:else}
        <ContentLoader>
          <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
          <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
          <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
        </ContentLoader>
        <ContentLoader>
          <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
          <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
          <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
        </ContentLoader>
      {/if}
    {:else}
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>

    {/if}



{/if}
</small>
