<script context="module">



  /*
  import { makeQuery } from '../components/ela-query.mjs'

  const url = '/elastic/'+encodeURI('*content*')+'/_search'
  */
  export async function preload(page) {
    const { host, path, params, query } = page
    return {hash: query.hash , error:null}
    /*
    if (query.q) {
      const data = {
        "_source": {"excludes": "*"},
        query: makeQuery(query.q)
        size: 0,
      }

      const response = await this.fetch(url, {
        method: 'POST',
        mode: 'no-cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })

      if (response.ok) {
        const result = await response.json()

        return {result:result.hits, query: query.q , error:null}
      } else {
        return { error: response.status }
      }
    }
    */
  }



</script>

<script>

  import ContentLoader from 'svelte-content-loader';
  import { onMount } from 'svelte'
  import EntitieResults from '../components/entitieresults.svelte'


  import Icon from 'fa-svelte'
  import { faSearch } from '@fortawesome/free-solid-svg-icons/faSearch'


  export let hash
  export let error

  const cache = {}
  const docs = {}

  let filesOK = false
  let metaOK = false
  let entitiesOK = false
  let contentOK = false

  let done = false
  let counter = 0
  let sorted = []

  function sleep(ms,msg) {
    if (msg) console.log(ms,msg)
    return new Promise(resolve => setTimeout(resolve, ms));
}


  async function docSearchFiles(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"__contenthash__": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!filesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*files*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    filesOK = []
                    for (const hit of response.hits.hits) {
                      if (!filesOK.includes(hit._source.__filename__)) filesOK.push(hit._source.__filename__)
                    }
                  } else {

                    await sleep(1500,'files '+hash)
                  }
                }
            }

  }


  async function docSearchMeta(hash){

    const data = {
                  "_source": {
                      "includes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "query_string": {"query": hash}
                      }
                  }
                  }
              }

              //let filesOK = false
              while (!metaOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*meta*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()
                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    metaOK = {}
                    const tmp = {}
                    for (const hit of response.hits.hits) {
                      tmp[hit._id] = hit
                    }
                    for (const key of Object.keys(tmp).sort()){
                      metaOK[key] = tmp[key]
                    }
                  } else {
                    await sleep(1500,'meta ')
                  }
                }
            }

  }


  async function docSearchEntities(hash){

    const data = {
                  "_source": {
                      "includes": "*",
                    //  "excludes": "*"
                  },
                  "query": {
                      "bool": {
                          "must": {
                              "term": {"_id": hash}
                      }
                  },
                  //"size": 0

                  }
              }

              //let filesOK = false
              while (!entitiesOK) { // wait for files

                const result = await fetch('/elastic/'+encodeURI('*entities*')+'/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    entitiesOK = response.hits.hits
                  } else {
                    if (contentOK) {
                      entitiesOK = []
                      for (const hit of contentOK){
                        if (hit._source && hit._source.__entities){
                          entitiesOK.push({_source:hit._source.__entities})
                        }
                      }
                    } else await sleep(1500,'entities '+hash)
                  }
                }
            }

  }




    onMount(async () => {
      await docSearchFiles(hash)
      await docSearchMeta(hash)
      for (const key of Object.keys(metaOK)){


        let foundsome = false

        async function docSearchContent(hash) {
          const data = {
            //_source: {
              //includes: ['__contenthash__', '__entities.*'],
              //"excludes": "*"
          //  },
            query: {
              bool: {
                must: {
                  term: { _id: hash },
                },
              },
            },
          }

          //let filesOK = false
          while (!foundsome) {
            // wait for files

            const result = await fetch('/elastic/' + encodeURI('*content*') + '/_search', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            })
            if (!result.ok) error = result.statusText
            else {
              const response = await result.json()

              if (response && response.hits && response.hits.total && response.hits.total.value) {
                foundsome = response.hits.hits[0]
              } else {
                //if (entitiesOK) contentOK = true
                //else
                await sleep(1500, 'content ' + hash + foundsome + JSON.stringify({data,response},null,4))
              }
            }
          }
        }

        const me = await docSearchContent(key)
        if (!contentOK) contentOK = {}
        contentOK[key] = foundsome


        //const maybeentities = await Promise.all([docSearchContent(e._id),docSearchEntities(e._id)])
      }
      for (const key of Object.keys(contentOK).sort()) {
        console.dir(key)

        if (contentOK[key]._source && contentOK[key]._source.__entities){
          for (const type of Object.keys(contentOK[key]._source.__entities)){
            console.dir(type)
            for (const value of contentOK[key]._source.__entities[type]){
              //console.dir(value)
              counter ++
              // -----------------
              if (!cache[type]) cache[type] = {}
              if (!cache[type][value]) {
                //const k = await sleep(Math.random()*10000,value)
                //cache[type][value] = [{name:'kala'}]

                const data = `{
                      "_source": {
                        "excludes": "*"
                      },
                      "query": {
                        "term": {
                          "${type}": {
                            "value": "${value}"
                          }
                        }
                      }
                    }`
                const result = await fetch('/elastic/' + encodeURI('*entities*') + '/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: data,
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    cache[type][value] = []
                    for (const hit of response.hits.hits) {
                      const __contenthash__ = hit._id.split('-')[0]
                      if (!cache[type][value].filter((i) => i.id === __contenthash__).length) {
                        if (!docs[__contenthash__]) {
                          const files = []
                          const data = {
                            _source: {
                              includes: '*',
                            },
                            query: {
                              bool: {
                                must: {
                                  term: { __contenthash__: __contenthash__ },
                                },
                              },
                            },
                          }

                          const result = await fetch('/elastic/' + encodeURI('*files*') + '/_search', {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                          })
                          if (!result.ok) error = result.statusText
                          else {
                            const response = await result.json()

                            if (response && response.hits && response.hits.total && response.hits.total.value) {
                              for (const hit of response.hits.hits) {
                                if (!files.includes(hit._source.__filename__)) files.push(hit._source.__filename__)
                              }
                            }
                          }
                          docs[__contenthash__] = {}
                          docs[__contenthash__].files = files
                          docs[__contenthash__].hits = {}
                          docs[__contenthash__].hits[type] = [value]
                          docs[__contenthash__].hits.types = 1
                          docs[__contenthash__].hits.count = 1
                        } else {
                          docs[__contenthash__].hits.count ++
                          if (!docs[__contenthash__].hits[type]){
                            docs[__contenthash__].hits.types ++
                            docs[__contenthash__].hits[type] = [value]
                          } else {
                            docs[__contenthash__].hits[type].push(value)
                          }

                        }
                        cache[type][value].push({ id: __contenthash__, files: docs[__contenthash__] })
                      }
                    }
                  } else {
                    cache[type][value] = []
                  }
                }
              }

              //-------------------

            }
          }
        }
      }
      const sortable = []
      for (const key of Object.keys(docs)){
          sorted.push({score:docs[key].hits.types*docs[key].hits.count, types:docs[key].hits.types,count:docs[key].hits.count,key})
      }
      sorted.sort((a,b) => {return (b.score - a.score)} )
      done = true

      //await Promise.all([docSearchContent(hash),docSearchEntities(hash)])

    })


</script>

<div>

<div class="">
  <a href="/search"><Icon  icon={faSearch}> </Icon></a>

</div>

{#if (error)}

sorry, got ERROR: <span style="color:red;">{error}</span>

{:else}



    {#if (filesOK)}
      {#each filesOK as file}
        <h1> {file} </h1>
      {/each}
      {#if (metaOK)}
      {#if (!done)}
      {counter}
      {/if}
      <pre>

        {#if done}
          <small >

            <!--{JSON.stringify(docs,null,4)}-->
            <!--{JSON.stringify(sorted,null,4)}-->
              {#each sorted as item}
                <!--{item.key}-->
                <div class="">
                  <div class="email-content-header pure-g">
                    <div class="pure-u-1-2">
                      <h2 class="email-content-title">
                        {docs[item.key].files.join(', ')}
                      </h2>

                    </div>
                    <div class="email-content-controls pure-u-1-2">

                      {#each Object.keys(docs[item.key].hits) as type}
                        {#if Array.isArray(docs[item.key].hits[type])}
                        <button class="secondary-button pure-button">
                              {type}
                        </button>

                        {/if}
                      {/each}

                    </div>

                  </div>

                  <div class="email-content-body">
                    {#each Object.keys(docs[item.key].hits) as type}
                      {#if Array.isArray(docs[item.key].hits[type])}
                        <h4 class="email-subject">{type}</h4>
                        <p class="email-desc">
                          {docs[item.key].hits[type].join(', ')}
                        </p>
                      {/if}
                    {/each}
                  </div>
                </div>
              {/each}
            </small>
        {/if}
      </pre>
      {:else}
        <ContentLoader>
          <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
          <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
          <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
        </ContentLoader>
        <ContentLoader>
          <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
          <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
          <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
        </ContentLoader>
      {/if}
    {:else}
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>
    <ContentLoader>
      <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
      <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
      <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
    </ContentLoader>

    {/if}



{/if}

</div>


<style >
  /*
   * -- BASE STYLES --
   * Most of these are inherited from Base, but I want to change a few.
   */
  body {
      color: #333;
  }



  a {
      text-decoration: none;
      color: #1b98f8;
  }


  /*
   * -- HELPER STYLES --
   * Over-riding some of the .pure-button styles to make my buttons look unique
   */
  .primary-button,
  .secondary-button {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border-radius: 20px;
  }
  .primary-button {
      color: #fff;
      background: #1b98f8;
      margin: 1em 0;
  }
  .secondary-button {
      background: #fff;
      border: 1px solid #ddd;
      color: #666;
      padding: 0.5em 2em;
      font-size: 80%;
  }

  /*
   * -- LAYOUT STYLES --
   * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
   */
  #layout, #nav, #list, #main {
      margin: 0;
      padding: 0;
  }

  /* Make the navigation 100% width on phones */
  #nav {
      width: 100%;
      height: 40px;
      position: relative;
      background: rgb(37, 42, 58);
      text-align: center;
  }
  /* Show the "Menu" button on phones */
  #nav .nav-menu-button {
      display: block;
      top: 0.5em;
      right: 0.5em;
      position: absolute;
  }

  /* When "Menu" is clicked, the navbar should be 80% height */
  #nav.active {
      height: 80%;
  }
  /* Don't show the navigation items... */
  .nav-inner {
      display: none;
  }

  /* ...until the "Menu" button is clicked */
  #nav.active .nav-inner {
      display: block;
      padding: 2em 0;
  }


  /*
   * -- NAV BAR STYLES --
   * Styling the default .pure-menu to look a little more unique.
   */
  #nav .pure-menu {
      background: transparent;
      border: none;
      text-align: left;
  }
      #nav .pure-menu-link:hover,
      #nav .pure-menu-link:focus {
          background: rgb(55, 60, 90);
      }
      #nav .pure-menu-link {
          color: #fff;
          margin-left: 0.5em;
      }
      #nav .pure-menu-heading {
          border-bottom: none;
          font-size:110%;
          color: rgb(75, 113, 151);
      }


  /*
   * -- EMAIL STYLES --
   * Styles relevant to the email messages, labels, counts, and more.
   */
  .email-count {
      color: rgb(75, 113, 151);
  }

  .email-label-personal,
  .email-label-work,
  .email-label-travel {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 0.5em;
      border-radius: 3px;
  }
  .email-label-personal {
      background: #ffc94c;
  }
  .email-label-work {
      background: #41ccb4;
  }
  .email-label-travel {
      background: #40c365;
  }


  /* Email Item Styles */
  .email-item {
      padding: 0.9em 1em;
      border-bottom: 1px solid #ddd;
      border-left: 6px solid transparent;
  }
      .email-avatar {
          border-radius: 3px;
          margin-right: 0.5em;
      }
      .email-name,
      .email-subject {
          margin: 0;
      }
      .email-name {
          text-transform: uppercase;
          color: #999;
      }
      .email-desc {
          font-size: 80%;
          margin: 0.4em 0;
      }

  .email-item-selected {
      background: #eee;
  }
  .email-item-unread {
      border-left: 6px solid #1b98f8;
  }

  /* Email Content Styles */
  .email-content-header, .email-content-body, .email-content-footer {
      padding: 1em 2em;
  }
      .email-content-header {
          border-bottom: 1px solid #ddd;
      }

          .email-content-title {
              margin: 0.5em 0 0;
          }
          .email-content-subtitle {
              font-size: 1em;
              margin: 0;
              font-weight: normal;
          }
              .email-content-subtitle span {
                  color: #999;
              }
      .email-content-controls {
          margin-top: 2em;
          text-align: right;
      }
          .email-content-controls .secondary-button {
              margin-bottom: 0.3em;
          }

      .email-avatar {
          width: 40px;
          height: 40px;
      }


  /*
   * -- TABLET (AND UP) MEDIA QUERIES --
   * On tablets and other medium-sized devices, we want to customize some
   * of the mobile styles.
   */
  @media (min-width: 40em) {

      /* Move the layout over so we can fit the nav + list in on the left */
      #layout {
          padding-left:500px; /* "left col (nav + list)" width */
          position: relative;
      }

      /* These are position:fixed; elements that will be in the left 500px of the screen */
      #nav, #list {
          position: fixed;
          top: 0;
          bottom: 0;
          overflow: auto;
      }
      #nav {
          margin-left:-500px; /* "left col (nav + list)" width */
          width:150px;
          height: 100%;
      }

      /* Show the menu items on the larger screen */
      .nav-inner {
          display: block;
          padding: 2em 0;
      }

      /* Hide the "Menu" button on larger screens */
      #nav .nav-menu-button {
          display: none;
      }

      #list {
          margin-left: -350px;
          width: 100%;
          height: 33%;
          border-bottom: 1px solid #ddd;
      }

      #main {
          position: fixed;
          top: 33%;
          right: 0;
          bottom: 0;
          left: 150px;
          overflow: auto;
          width: auto; /* so that it's not 100% */
      }

  }

  /*
   * -- DESKTOP (AND UP) MEDIA QUERIES --
   * On desktops and other large-sized devices, we want to customize some
   * of the mobile styles.
   */
  @media (min-width: 60em) {

      /* This will take up the entire height, and be a little thinner */
      #list {
          margin-left: -350px;
          width:350px;
          height: 100%;
          border-right: 1px solid #ddd;
      }

      /* This will now take up it's own column, so don't need position: fixed; */
      #main {
          position: static;
          margin: 0;
          padding: 0;
      }
  }
</style>
