<script context="module">
  export async function preload(page) {
    const { host, path, params, query } = page
    return {hash: query.hash , error:null}
  }
</script>

<script>
  import Fa from 'svelte-fa'
  import { faDizzy as faEye, faCheck } from '@fortawesome/free-solid-svg-icons'

  import { onMount, afterUpdate } from 'svelte'

  export let hash
  export let error

  let done = false
  let exists = []
  let rotate = 0

  function sleep(ms,msg) {
    if (msg) console.log(ms,msg)
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  onMount( async ()=>{
    while (!done) {

      const result = await fetch('/api/status?hash='+hash)
      if (result.ok) {
          const answer = await result.json()
          done = answer.done
          if (!exists.includes(answer.exists)) exists = [...exists, answer.exists]
      }
      rotate += 45
      await sleep(1750)
    }
    window.location.href = '/doc?hash='+hash

  })



</script>

<style>

  .newsearch {
    display: table;
    width: 100%;
    height: 88%;
    letter-spacing: normal;
    text-align: center;
  }

</style>

<div class="pure-g" style="position:absolute; bottom:0; height:100%; width:100%; overflow:hidden;">
  {#if (!done)}
  <div class="newsearch">
    <span style="display: table-cell;vertical-align: middle;">
      <Fa icon={faEye} rotate={rotate}/>
      waiting for {hash} ..
    </span>
  </div>

  <div class="pure-u-1">
    {#each exists as i}
    <div class="">
      <Fa icon={faCheck} />
      {i}
    </div>
    {/each}
    <div>
      <button on:click="{()=>{window.location.href = '/search?q='+hash}}">go to search</button>
    </div>
  </div>
  {/if}
</div>
