<script context="module">
  export async function preload(page) {
    const { host, path, params, query } = page
    return {params, query , error:null}
  }

  // a0cc84fe71badfa1e1d85c0034cd57cb
  // aec0db7b117b8203325d26400488b1ac
</script>
<script>
import {onMount} from 'svelte'

import Graph from '../components/graph/graph.svelte'
import {betweenness} from 'ngraph.centrality'
import {aStar} from 'ngraph.path'

import Bug from '../components/itembug.svelte'
import FilterList from '../components/filterlist.svelte'

export let params
export let query

let data = []
let mouseon
let rootkey = 0
let childs = {}
let innerWidth
let innerHeight
let graph
let entitieColor = 16646357
let currentNode
let nodesonedge = []
let nodesonedgeList


let menus = {
            default:['open','bug','search','expand'],
            root:['expand']
            }

let menufunctions = {}
menufunctions.bug = (n) => {
  const d = new Bug({props:{i:n},target: document.body})
  d.close = () => d.$destroy();
}
menufunctions.open = (n) => {
  window.location.href = '/entitie?q='+n.id
}
menufunctions.search = (n) => {
  window.location.href = '/search?q='+n.id
}
menufunctions.expand = (n) => {
  let hadsome = false
  let counter = 0
  let x = 0
  if (n.data.menuType !== 'root') expandEntitie(n)
  else {
    graph.forEachNode((node) => {
      if (!node.data.__expanded) {
        expandEntitie(node)
      }
    })
  }

}

function handlemenu(m){
  const {selected, node} = m
  if (menufunctions[selected]) menufunctions[selected](node)
  //else console.error(new Error('missing menu: '+selected))
}

function expandEntitie(n){
  if (n.data.__expanded) return
  n.data.__expanded = true

  const url = '/elastic/*line*/_search'
  const _query = {
 "query": {
   "bool": {
     "must": [
       {"term": {
         "_index": {
           "value": "*￣line￣*"
         }
       }}
     ]
   }
 }
}
const term = {}
term[n.data.type+'.keyword'] = {value:n.id}
_query.query.bool.must.push({term})
  //const response = await
  let hadsome = false
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(_query),
  })

    .then((x) => x.json())
    .then((result) => {
      let hadsome = false
      for (const hit of result.hits.hits){
        for (const key of Object.keys(hit._source)){
          if (!key.startsWith('__') && key !== 'timestamp') for (const item of hit._source[key]){
            if (!childs[key]) childs[key] = []
            if (!childs[key].includes(item)) {
              childs[key].push(item)
              hadsome = true
              graph.add({id:n.id,data:{menuType:n.data.type,label:n.id }},{id:item,data:{menuType:key,label:item,type:key,color:entitieColor}})
            } else {
              graph.add({id:n.id,data:{menuType:n.data.type,label:n.id }},{id:item,data:{menuType:key,label:item,type:key,color:entitieColor}})
            }
          }
        }
      }
      if (hadsome) {
        graph.relayout()
        let tmp = []
        const between = betweenness(graph.self);
        for (const key of Object.keys(between)){
          if (between[key] === 0 ) {
            tmp.push({id:key,label:key})
          }
        }
        nodesonedge = [...tmp]
      }

    })
}

onMount(async()=>{
	const url = '/elastic/*line*/_search'
	const _query = {
 "query": {
   "bool": {
     "must": [
       {"term": {
         "_index": {
           "value": "*￣line￣*"
         }
       }}
       , {"simple_query_string": {
         "query": query.q,
         "fields": ["*"]
       }}
     ]
   }
 }
}

	//console.log(JSON.stringify(data,null,4))
	const response = await fetch(url, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(_query),
	})
	const result = await response.json()
	for (const hit of result.hits.hits){
      if (!rootkey) for (const key of Object.keys(hit._source)){
          if (hit._source[key].includes(query.q )) {
            rootkey = key
            break
          }
      }
      for (const key of Object.keys(hit._source)){
        if (!key.startsWith('__') && key !== 'timestamp') for (const item of hit._source[key]){
          if (!childs[key]) childs[key] = []
          if (!childs[key].includes(item)) {
            childs[key].push(item)
            nodesonedge.push({id:item,label:item})
            graph.add({id:query.q,data:{menuType:'root',label:query.q }},{id:item,data:{menuType:key,label:item,type:key,color:entitieColor}})
            graph.relayout(100)
          }
        }
      }

      data.push(hit)
  }
  graph.relayout(100)
  graph.birdview()
  data = [...data]
  nodesonedge = [...nodesonedge]


})


</script>

<style>

.container {
	border: 1px solid;
	padding: 20px;
}



</style>

<svelte:head>
	<title>entitie</title>
</svelte:head>

<svelte:window bind:innerWidth bind:innerHeight />

{#if (innerWidth && innerHeight)}
<div class="pure-g" style="height:{innerHeight}px;">
  <div class="pure-u-3-4" style="height:{innerHeight}px;">
    <Graph bind:this="{graph}"
           width="{(innerWidth/4)*3}"
           height="{innerHeight}"
           menus="{menus}"
           showLabel="{true}"
           on:menu="{(e)=>{handlemenu(e.detail)}}"
           on:mouseOnNode="{(e)=>{
             const pathFinder = aStar(graph.self)
             const pathtoroot = pathFinder.find(e.detail.id,query.q)
             currentNode = pathtoroot.map(x=>x.id).join(' -> ')
           }}"
          >
          <button on:click="{()=>{window.location.href='/search'}}">go to search page</button>
          <button on:click="{()=>{graph.relayout(10)}}">layout</button>
          <button on:click="{()=>{graph.birdview(); graph.zoomto(query.q)}}">overview</button>
          {currentNode}
    </Graph>
  </div>
  <div class="pure-u-1-4" style="height:{innerHeight}px;">
    <small>
    {nodesonedge.length}
    <FilterList
    id="{'id'}"
    bind:this="{nodesonedgeList}" items="{nodesonedge}" name="label"
    on:clicked="{(e)=>{graph.zoomto(e.detail.id)}}"
    on:mouseon="{(e)=>{graph.highlight(e.detail.id);}}"
    />
    </small>
  </div>

</div>

{/if}
