<script context="module">

  export async function preload(page,session) {
    return {user:session.user }
  }

</script>

<script>
	import { onMount } from 'svelte';

	export let user

  let platform
	let pcuser
	let mounted

	const hwinfo = (platform) => {
		return new Promise((resolve)=>{
      const os = require('os')
			const exec = nw.require('child_process').exec
			const hardware = {}
			if (platform.startsWith('darwin')) {
				exec('system_profiler SPHardwareDataType', (error, output, code) => {

					if (!error && output) {
            console.dir(output)
						const lines = output.split(os.EOL)
						for (const i in lines) {
							const bittes = lines[i].trim().split(':')
							if (bittes[1] && bittes[1].trim()) {
								if (bittes[0] === 'Hardware UUID') hardware['uuid'] = bittes[1].trim()
								if (bittes[0] === 'Serial Number (system)') hardware['serial'] = bittes[1].trim()
							}
						}
						resolve(hardware)
					} else {
						console.error(error)
					}
          resolve()
				})
			} else if (platform.startsWith('win')) {
				exec('wmic CSPRODUCT get /format:list', (error, output, code) => {
					if (!error && output) {
						const lines = output.split(os.EOL)
						for (const i in lines) {
							const bittes = lines[i].trim().split('=')
							if (bittes[1] && bittes[1].trim()) {
								//_hardware[bittes[0]] = bittes[1].trim()
								if (bittes[0] === 'UUID') hardware['uuid'] = bittes[1].trim()
								if (bittes[0] === 'IdentifyingNumber') hardware['serial'] = bittes[1].trim()
							}
						}
						resolve(hardware)
					} else {
						console.error(error)
						resolve()
					}
				})
			} else {
				console.error('_platform', _platform, 'not supported (yet)')
				//resolve({ error: 'not supported' })
				resolve()
			}

		})
	}

	onMount(async ()=>{

	  try {
	    const os = require('os')
	    const user = os.userInfo()
	    const platform = os.platform()
	    const hostname = os.hostname()
	    const hardware = await hwinfo(platform)
	    pcuser = { user, platform, hostname, hardware }
      await fetch('/api/user', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({user,pcuser})
  });
	  } catch (error) {
	    console.error
      const tmp = navigator.platform
      if (tmp.startsWith('Mac')) platform = 'osx'
      else if (tmp.startsWith('Win')) platform = 'win'
      else platform = 'linux'
	  }
		mounted = true
		console.dir(pcuser)

		})



</script>

<style>
	h1, figure, p {
		text-align: center;
		margin: 0 auto;
	}

	h1 {
		font-size: 2.8em;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
	}

	p {
		margin: 1em auto;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
	}
</style>

<svelte:head>
	<title>Naiive search</title>
</svelte:head>


{#if (mounted)}
{#if (pcuser)}
<div class="motd">
	<p>This service is restricted to authorized users only.
	<p>All activities on this system are logged.
	<p>Unauthorized access will be fully investigated.
	<p>By continuing to use this system you indicate your awareness of and consent to these conditions of use.
</div>

<div class="user">
	<p>{user.displayName}
	<small>{user.ou}	</small>
</div>
<div class="">
	<p>
	<button on:click="{()=>{
    const win = nw.Window.get()
    win.close()
    }}">Cancel</button>
	<button type="button" name="button" on:click="{() => window.location.href='/search'}" >Continue</button>
</div>
{:else}
<div class="">
	<p>This service is restricted to authorized users only.
	<p>All activities on this system are logged.
	<p>Unauthorized access will be fully investigated.
	<p>By downloading specialized application you indicate your awareness of and consent to these conditions of use.
		<p>	<button type="button" name="button" on:click="{() => window.location.href='/download/'+platform}" >Download</button>
</div>
{/if}
{:else}
<p> wait please ..
{/if}
