<ScrollSpy>
  <ul>
    {#each sections as section (section.id)}
    <li>
      <SectionHeader id="{section.id}">
        {section.title}
      </SectionHeader>
    </li>
    {/each}
  </ul>
  {#each sections as section (section.id)}
  <ScrollableSection id="{section.id}">
    <h2>{section.title}</h2>
    <p>{section.content}</p>
  </ScrollableSection>
  {/each}
</ScrollSpy>

<script>
  import { SectionHeader, ScrollableSection, ScrollSpy } from '@beyonk/svelte-scrollspy'

  const sections = [
    { id: 'abc', title: 'Some Title', content: 'Lorem ipsum dolor...'+Array(300).fill(4).join(' ,')  },
    { id: 'def', title: 'Some Other Title', content: 'Lorem ipsum dolor...' },
    { id: 'ghi', title: 'A Different Title', content: 'Lorem ipsum dolor...' }
  ]
</script>

<style>
  .columns {
    display: flex;
  }
  .column {
    font-family: sans-serif;
    padding: 2vh 2vw;
  }
  ul {
    list-style-type: none;
  }
  li {
    padding: 1vh 0.25vw;
  }
  a, a:hover, a:active, a:visited {
    color: darkslategrey;
    text-decoration: none;
  }
  h4 {
    padding-top: 2vh;
  }
  .left {
    position: fixed;
    top: 0;
    width: 20vw;
    background-color: goldenrod;
    color: darkslategrey;
    font-weight: 700;
    font-size: 1.25rem;
  }
  .right {
    flex: 1;
    padding-left: 26vw;
  }
  :global(.beyonk-svelte-scrollspy .active a) {
    color: cornflowerblue;
  }
</style>
