<script context="module">

  import { makeQuery } from '../components/ela-query.mjs'

  const url = '/elastic/'+encodeURI('*content*')+'/_search'

  export async function preload(page) {
    const { host, path, params, query } = page
    if (query.q) {
      const data = {
        "_source": {"excludes": "*"},
        query: makeQuery(query.q),
        size: 0,
      }

      const response = await this.fetch(url, {
        method: 'POST',
        mode: 'no-cors',
        cache: 'no-cache',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      if (response.ok) {
        const result = await response.json()
        return {result:result.hits, query: query.q , error:null}
      } else {

        return { error: response.status + ' ' + response.statusText}
      }
    }
  }


</script>

<script>
  import Icon from 'fa-svelte'
  import { faCircle } from '@fortawesome/free-solid-svg-icons/faCircle'
  import { faShip } from '@fortawesome/free-solid-svg-icons/faShip'
  console.dir(faCircle)
  import Items from '../components/items.svelte'
  import TagCloud from './tags.svelte'

  export let result
  export let query
  export let error

  let innerHeight = 1024


  function onEnter(e) {

    if (!e) e = window.event;
    const keyCode = e.keyCode || e.which;
    if (keyCode == '13' && query.trim().length) {
      e.preventDefault()
      window.location.href = window.location.href.split('?').shift()+'?q='+query
      return false
    }
  }

  function sleep(ms,msg) {
    if (msg) console.dir(ms,msg)
    return new Promise(resolve => setTimeout(resolve, ms));
}




  async function dropped(dt){
    //dt.preventDefault();
    if (dt.files && dt.files.length) {
      result = null
      query = ''
      for (const f of dt.files) {
        if (f instanceof File) {
          console.log(f.name,f.type)
          const formData = new FormData();
          formData.append("file", f);
          //formData.append('dropped', new Date())
          const result = await fetch('/upload', { method: 'PUT',body: formData})
          if (!result.ok) alert(result.statusText)
          else {
            const response = await result.text()
            // TODO files server json answer
            const hash = response.split('\n')[0].split('/')[3]
            window.location.href = window.location.protocol+'//'+window.location.host+'/doc?hash='+hash
            //await docSearch(hash)
          }
        }
      }

    } else if (dt.items) {
      if (dt.types.includes('text/plain')){
				query = dt.getData('text/plain')
						.split('\n')
						.map((s) => {if (s.trim().length>0) return s.trim()} )
						.filter( i => (!(i === undefined)) )
						.map((s) => '('+s+')' )
						.join(' | ')
			}

    } else {

    }

  }
/*
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

<div class="splash-container">
    <div class="splash">
*/

let d1
let d2

$: if (result && result.total && result.total.value) {
  d1 = "header"
  d2 = "home-menu pure-menu pure-menu-horizontal pure-menu-fixed"
} else {
  d1 = "splash-container"
  d2 = "splash"
}

</script>


<svelte:window bind:innerHeight={innerHeight}/>

<div class="{d1}">
    <div class="{d2}">
      {#if (result && result.total && result.total.value)}
        <ul class="pure-menu-list">
            <!--
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">ä</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">ö  <Icon  icon={faShip}> </Icon> </a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">ü <Icon  icon={faCircle}> </Icon></a></li>
            -->

            <!-- container -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M3.9,14.4"></path>
        <path d="M17.7,7.7h-1.4V5.6l-2.4-2H3.9v13.3h3.8v-1H4.9V4.6h8.5L15.2,6v1.6H7.8V21h12.3V9.7L17.7,7.7z M19.1,20H8.8V8.7h8.5l1.8,1.5
          V20z"></path>
      </svg>

            <!-- notify -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34">
        <path d="M9.3,28.1c-0.2,0-0.3,0-0.5-0.1c-0.4-0.1-0.7-0.4-0.8-0.8c-0.3-0.7,0-1.6,0.7-2l0.5-0.2l-2.2-4.8
        c-1.7-3.7-0.6-8.2,2.6-10.7C9.3,9.4,9.2,9.2,9.1,9C8.8,8.4,8.8,7.8,9,7.3s0.6-1,1.1-1.2c0.5-0.2,1.1-0.3,1.7-0.1
        c0.6,0.2,1,0.6,1.2,1.1c0.1,0.2,0.2,0.5,0.2,0.7c4-0.8,8.1,1.3,9.8,5l2.2,4.8l0.5-0.2c0.8-0.3,1.6,0,2,0.7c0.3,0.7,0,1.6-0.7,2
        l-4.9,2.3c0.4,1.9-0.5,3.8-2.3,4.6c-1.8,0.8-3.9,0.3-5-1.3L9.9,28C9.7,28.1,9.5,28.1,9.3,28.1z M11.1,6.9c-0.2,0-0.3,0-0.5,0.1
        c-0.3,0.1-0.5,0.4-0.6,0.7c-0.1,0.3-0.1,0.6,0,0.9c0.1,0.2,0.3,0.4,0.6,0.6l0.8,0.4L10.6,10c-3.2,2.1-4.4,6.4-2.8,9.9l2.6,5.7
        l-1.4,0.6c-0.2,0.1-0.4,0.4-0.2,0.7C8.9,27,9,27.1,9.1,27.1c0.1,0,0.3,0,0.4,0l5.7-2.6l0.2,0.4c0.8,1.4,2.5,1.9,4,1.3
        c1.5-0.7,2.1-2.3,1.6-3.8l-0.1-0.4l5.7-2.6c0.2-0.1,0.4-0.4,0.2-0.7c-0.1-0.2-0.4-0.4-0.7-0.2l-1.4,0.6l-2.6-5.7
        c-1.6-3.5-5.6-5.3-9.4-4.3L12,9.2l0.2-0.9c0.1-0.3,0.1-0.6,0-0.8C12,7.1,11.5,6.9,11.1,6.9z"></path>
        <path d="M9.2,17.2C9.2,17.2,9.2,17.2,9.2,17.2c-0.3,0-0.5-0.3-0.5-0.5c0.1-1.4,0.6-2.7,1.3-3.9c0.1-0.2,0.5-0.3,0.7-0.2
        c0.2,0.1,0.3,0.5,0.2,0.7c-0.6,1-1,2.2-1.1,3.5C9.7,17,9.5,17.2,9.2,17.2z"></path>
        <rect x="14.7" y="23.1" transform="matrix(0.908 -0.4189 0.4189 0.908 -8.2062 9.8212)" width="7.2" height="1"></rect>
      </svg>


      <!-- open external -->
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M14 4h-13v18h20v-11h1v12h-22v-20h14v1zm10 5h-1v-6.293l-11.646 11.647-.708-.708 11.647-11.646h-6.293v-1h8v8z"/></svg>


            <!-- download -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <rect x="2.8" y="20" width="18.5" height="1"></rect>
        <rect x="4.5" y="18.3" width="15" height="1"></rect>
        <polygon points="20.1,7.8 19.4,7.1 12.5,14.3 12.5,3.5 11.5,3.5 11.5,14 4.6,7.1 3.9,7.8 12,16  "></polygon>
      </svg>

          <!-- upload -->

          <svg  width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <rect x="4.5" y="18.3" width="15" height="1"></rect>
        <rect x="2.8" y="20" width="18.5" height="1"></rect>
        <polygon points="11.5,6.5 11.5,14.3 12.5,14.3 12.5,6.5 18.2,11.7 18.8,11 12,4.7 5.2,11 5.8,11.7"></polygon>
      </svg>
      <!-- chat -->
      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 1c-6.338 0-12 4.226-12 10.007 0 2.05.739 4.063 2.047 5.625l-1.993 6.368 6.946-3c1.705.439 3.334.641 4.864.641 7.174 0 12.136-4.439 12.136-9.634 0-5.812-5.701-10.007-12-10.007zm0 1c6.065 0 11 4.041 11 9.007 0 4.922-4.787 8.634-11.136 8.634-1.881 0-3.401-.299-4.946-.695l-5.258 2.271 1.505-4.808c-1.308-1.564-2.165-3.128-2.165-5.402 0-4.966 4.935-9.007 11-9.007zm-5 7.5c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5zm5 0c.828 0 1.5.672 1.5 1.5s-.672 1.5-1.5 1.5-1.5-.672-1.5-1.5.672-1.5 1.5-1.5z"/></svg>


            <!-- messages -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5.2,22.1c-0.1,0-0.1,0-0.2,0c-0.2-0.1-0.3-0.3-0.3-0.5l0-3.5c-1.3-0.3-2.3-1.6-2.3-3.2V5.1c0-1.8,1.3-3.2,2.8-3.2h13.6
  c1.6,0,2.8,1.4,2.8,3.2v9.8c0,1.8-1.3,3.2-2.8,3.2H9.4L5.5,22C5.4,22,5.3,22.1,5.2,22.1z M5.2,2.9c-1,0-1.8,1-1.8,2.2v9.8
  c0,1.2,0.8,2.2,1.8,2.2c0.1,0,0.3,0.1,0.4,0.1c0.1,0.1,0.1,0.2,0.1,0.4l0,2.7l3.1-3.1c0.1-0.1,0.2-0.1,0.4-0.1h9.6
  c1,0,1.8-1,1.8-2.2V5.1c0-1.2-0.8-2.2-1.8-2.2H5.2z"></path>
      </svg>

            <!--  info -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path stroke-miterlimit="10" d="M18.9,3.5"></path>
        <path d="M12,21.1c-4.9,0-8.8-4-8.8-8.8c0-4.9,4-8.8,8.8-8.8c4.9,0,8.8,4,8.8,8.8C20.8,17.1,16.9,21.1,12,21.1z M12,4.5
          c-4.3,0-7.8,3.5-7.8,7.8c0,4.3,3.5,7.8,7.8,7.8c4.3,0,7.8-3.5,7.8-7.8C19.8,8,16.3,4.5,12,4.5z"></path>
        <path d="M11.4,7.6h1.3v2l-1.3,1V7.6z M12.6,11v5.9h-1.3V12L12.6,11z"></path>
      </svg>

            <!-- multi similar -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M20.7,10.5h-6l-4.1-6.7c-0.1-0.1-0.3-0.2-0.4-0.2c0,0,0,0,0,0c-0.2,0-0.3,0.1-0.4,0.2L2.9,14.9c-0.1,0.2-0.1,0.3,0,0.5
          c0.1,0.2,0.3,0.3,0.4,0.3c0,0,0,0,0,0l6.8,0v4.9c0,0.3,0.2,0.5,0.5,0.5h10.1c0.3,0,0.5-0.2,0.5-0.5V11C21.2,10.7,21,10.5,20.7,10.5z
           M14.5,12l0.4,0.6l-1.7,2.1l-0.9,0L14.5,12z M11.1,14.4v-2.9h2.5L11.1,14.4z M15.4,13.4l0.8,1.2l-1.8,0L15.4,13.4z M4.2,14.7l6-9.7
          l3.4,5.4h-3c-0.3,0-0.5,0.2-0.5,0.5v3.7L4.2,14.7z M20.2,20.1h-9.1v-4.4l6,0c0.2,0,0.3-0.1,0.4-0.3s0.1-0.4,0-0.5l-2.1-3.4h4.8V20.1
          z"></path>
      </svg>

            <!-- similar -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M7.8,16.8c-1.7,0-2.6-0.4-3.5-0.9c-0.4-0.2-0.7-0.4-1.2-0.6c-0.3-0.1-0.4-0.4-0.3-0.7c0.1-0.3,0.4-0.4,0.7-0.3
          c0.5,0.2,0.9,0.4,1.3,0.6c0.9,0.5,1.6,0.8,3,0.8c1.5,0,2.1-0.3,3-0.8c1.1-0.6,2.4-1.3,4.9-1.3c2.5,0,3.8,0.7,4.9,1.3l0.4,0.2
          c0.2,0.1,0.3,0.4,0.2,0.7c-0.1,0.2-0.4,0.3-0.7,0.2l-0.4-0.2c-1.1-0.6-2.2-1.2-4.4-1.2c-2.2,0-3.3,0.6-4.4,1.2
          C10.3,16.3,9.5,16.8,7.8,16.8z"></path>
        <path d="M7.8,10.4c-1.7,0-2.6-0.4-3.5-1C3.9,9.2,3.5,9,3.1,8.8C2.8,8.7,2.7,8.4,2.8,8.2c0.1-0.3,0.4-0.4,0.7-0.3
          c0.5,0.2,0.9,0.4,1.3,0.6c0.9,0.5,1.6,0.8,3,0.8c1.5,0,2.1-0.3,3-0.8c1.1-0.6,2.4-1.3,4.9-1.3c2.5,0,3.8,0.7,4.9,1.3L21,8.7
          c0.2,0.1,0.3,0.4,0.2,0.7c-0.1,0.2-0.4,0.3-0.7,0.2l-0.4-0.2c-1.1-0.6-2.2-1.2-4.4-1.2s-3.3,0.6-4.4,1.2
          C10.3,9.9,9.5,10.4,7.8,10.4z"></path>
      </svg>

            <!-- cluster -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34 34">
        <path d="M29.3,11.9c0.1-0.7-0.1-1.4-0.6-1.9c-0.4-0.5-1.1-0.9-1.7-0.9c-0.7-0.1-1.4,0.1-1.9,0.6c-0.1,0.1-0.2,0.2-0.3,0.3l-5.3-3
        c0.1-0.2,0.1-0.4,0.2-0.7c0.1-1.4-0.9-2.7-2.3-2.8c-1.4-0.1-2.7,0.9-2.8,2.3c0,0.4,0,0.7,0.1,1l-5.3,3C8.9,9.3,8.3,9,7.7,8.9
        C7,8.9,6.3,9.1,5.8,9.5s-0.9,1.1-0.9,1.7c-0.1,0.7,0.1,1.4,0.6,1.9c0.4,0.4,0.8,0.7,1.4,0.9c0,1,0,4.6,0,5.8C6.3,19.9,6,20,5.6,20.3
        c-0.5,0.4-0.9,1.1-0.9,1.7c-0.1,0.7,0.1,1.4,0.6,1.9s1.1,0.9,1.7,0.9c0.1,0,0.2,0,0.3,0c0.6,0,1.2-0.2,1.6-0.6
        C9,24.2,9.1,24.1,9.2,24l5.3,3.1c-0.1,0.2-0.1,0.3-0.1,0.5c-0.1,1.4,0.9,2.7,2.3,2.8c0.1,0,0.2,0,0.3,0c0.6,0,1.2-0.2,1.6-0.6
        c0.5-0.4,0.9-1.1,0.9-1.7c0-0.4,0-0.8-0.2-1.1l5.2-2.9c0,0,0,0,0,0c0.4,0.5,1.1,0.9,1.7,0.9c0.1,0,0.2,0,0.3,0
        c0.6,0,1.2-0.2,1.6-0.6c0.5-0.4,0.9-1.1,0.9-1.7c0.1-0.7-0.1-1.4-0.6-1.9c-0.4-0.5-0.9-0.8-1.5-0.9l0.1-5.8
        C28.3,14,29.2,13.1,29.3,11.9z M26.7,10.1c0.1,0,0.1,0,0.2,0c0.4,0,0.8,0.2,1.1,0.6s0.4,0.7,0.4,1.2v0c-0.1,0.9-0.9,1.5-1.7,1.4
        c-0.9-0.1-1.5-0.9-1.4-1.7C25.2,10.7,25.9,10.1,26.7,10.1z M15.6,5.9c0.1-0.8,0.8-1.4,1.6-1.4c0.1,0,0.1,0,0.2,0
        c0.9,0.1,1.5,0.9,1.4,1.7c0,0.4-0.2,0.8-0.6,1.1c-0.3,0.3-0.7,0.4-1.2,0.4c-0.4,0-0.8-0.2-1.1-0.6C15.6,6.7,15.5,6.3,15.6,5.9z
        M16.9,8.6c0.1,0,0.2,0,0.3,0c0.6,0,1.2-0.2,1.6-0.6C18.9,8,18.9,7.9,19,7.8l5.3,3c-0.1,0.2-0.1,0.4-0.2,0.6c0,0.3,0,0.6,0.1,0.9
        l-4.3,2.5c-0.6-0.8-1.4-1.4-2.5-1.5c-0.9-0.1-1.8,0.2-2.6,0.8c-0.2,0.2-0.4,0.4-0.6,0.7l-4.4-2.5C9.9,12.2,10,12,10,11.8
        c0-0.4,0-0.7-0.1-1.1l5.3-3C15.6,8.2,16.2,8.5,16.9,8.6z M16.8,19.3c-1.4-0.1-2.4-1.4-2.2-2.7c0.1-1.3,1.2-2.2,2.5-2.2
        c0.1,0,0.2,0,0.3,0c1.4,0.1,2.4,1.4,2.2,2.7C19.4,18.5,18.2,19.5,16.8,19.3z M5.8,11.3c0-0.4,0.2-0.8,0.6-1.1C6.7,10,7,9.9,7.4,9.9
        c0.1,0,0.1,0,0.2,0c0.4,0,0.8,0.2,1.1,0.6S9,11.2,9,11.7c0,0.4-0.2,0.8-0.6,1.1c-0.3,0.3-0.7,0.4-1.2,0.4C6.4,13,5.7,12.2,5.8,11.3z
        M8.3,23.5c-0.3,0.3-0.7,0.4-1.2,0.4c-0.4,0-0.8-0.2-1.1-0.6c-0.3-0.3-0.4-0.7-0.4-1.2c0-0.4,0.2-0.8,0.6-1.1c0.3-0.2,0.6-0.4,1-0.4
        c0.1,0,0.1,0,0.2,0c0.9,0.1,1.5,0.9,1.4,1.7C8.8,22.9,8.6,23.3,8.3,23.5z M14.9,26.3l-5.2-3.1c0.1-0.2,0.1-0.4,0.2-0.6
        C10,21.2,9,20,7.7,19.8c0-1.2,0-4.6,0-5.7C8.2,14,8.7,13.8,9,13.5c0.1-0.1,0.2-0.2,0.3-0.3l4.4,2.5c-0.1,0.3-0.2,0.5-0.2,0.8
        c-0.2,1.8,1.1,3.5,2.9,3.8l-0.1,5.1C15.8,25.5,15.3,25.8,14.9,26.3z M18.5,28.1c0,0.4-0.2,0.8-0.6,1.1c-0.3,0.3-0.7,0.4-1.2,0.4
        c-0.9-0.1-1.5-0.9-1.4-1.7c0.1-0.8,0.8-1.4,1.6-1.4c0.1,0,0.1,0,0.2,0c0.4,0,0.8,0.2,1.1,0.6C18.4,27.3,18.5,27.7,18.5,28.1z
        M23.9,22.2c0,0.3,0,0.7,0.1,1l-5.2,3c-0.4-0.4-0.9-0.7-1.4-0.8l0.1-5.1c1.6-0.2,2.9-1.4,3.1-3.1c0.1-0.5,0-1-0.2-1.5l4.3-2.5
        c0.4,0.5,0.9,0.8,1.5,0.9L26.1,20c-0.4,0.1-0.8,0.3-1.2,0.5C24.3,20.9,24,21.5,23.9,22.2z M27.8,21.5c0.3,0.3,0.4,0.7,0.4,1.2
        c0,0.4-0.2,0.8-0.6,1.1c-0.3,0.3-0.7,0.4-1.2,0.4c-0.4,0-0.8-0.2-1.1-0.6c-0.3-0.3-0.4-0.7-0.4-1.2c0-0.4,0.2-0.8,0.6-1.1
        c0.3-0.2,0.6-0.4,1-0.4c0.1,0,0.1,0,0.2,0C27.1,21,27.5,21.2,27.8,21.5z"></path>
      </svg>

            <!-- api -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M8.5,7.5l-4,0v4.1H2.8v1h1.7v4.1l4,0v1.6h1V5.9h-1V7.5z M8.5,15.6l-3,0V8.5l3,0V15.6z"></path>
        <path d="M21.2,11.5h-1.7V7.4l-4,0V5.8h-1v3.7h-3.1v1h3.1v2.7h-3.1v1h3.1v3.9h1v-1.6l4,0v-4.1h1.7V11.5z M18.5,15.5l-3,0V8.4l3,0
          V15.5z"></path>
      </svg>

            <!-- grid ? -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <g>
            <path d="M6.8,7.5H4.2C3.5,7.5,3,7,3,6.3V3.7C3,3,3.5,2.5,4.2,2.5h2.6C7.5,2.5,8,3,8,3.7v2.6C8,7,7.5,7.5,6.8,7.5z M4.2,3.5
              C4.1,3.5,4,3.6,4,3.7v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6C6.9,6.5,7,6.4,7,6.3V3.7c0-0.1-0.1-0.2-0.2-0.2H4.2z"></path>
            <path d="M13.3,7.5h-2.6C10,7.5,9.5,7,9.5,6.3V3.7c0-0.7,0.5-1.2,1.2-1.2h2.6c0.7,0,1.2,0.5,1.2,1.2v2.6C14.5,7,14,7.5,13.3,7.5z
               M10.7,3.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2V3.7c0-0.1-0.1-0.2-0.2-0.2H10.7z"></path>
            <path d="M19.8,7.5h-2.6C16.5,7.5,16,7,16,6.3V3.7c0-0.7,0.5-1.2,1.2-1.2h2.6C20.5,2.5,21,3,21,3.7v2.6C21,7,20.5,7.5,19.8,7.5z
               M17.2,3.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2V3.7c0-0.1-0.1-0.2-0.2-0.2H17.2z"></path>
          </g>
          <g>
            <path d="M6.8,14.5H4.2C3.5,14.5,3,14,3,13.3v-2.6C3,10,3.5,9.5,4.2,9.5h2.6C7.5,9.5,8,10,8,10.7v2.6C8,14,7.5,14.5,6.8,14.5z
               M4.2,10.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6c0-0.1-0.1-0.2-0.2-0.2H4.2z"></path>
            <path d="M13.3,14.5h-2.6c-0.7,0-1.2-0.5-1.2-1.2v-2.6c0-0.7,0.5-1.2,1.2-1.2h2.6c0.7,0,1.2,0.5,1.2,1.2v2.6
              C14.5,14,14,14.5,13.3,14.5z M10.7,10.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6
              c0-0.1-0.1-0.2-0.2-0.2H10.7z"></path>
            <path d="M19.8,14.5h-2.6c-0.7,0-1.2-0.5-1.2-1.2v-2.6c0-0.7,0.5-1.2,1.2-1.2h2.6c0.7,0,1.2,0.5,1.2,1.2v2.6
              C21,14,20.5,14.5,19.8,14.5z M17.2,10.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6
              c0-0.1-0.1-0.2-0.2-0.2H17.2z"></path>
          </g>
          <g>
            <path d="M6.8,21.5H4.2C3.5,21.5,3,21,3,20.3v-2.6c0-0.7,0.5-1.2,1.2-1.2h2.6C7.5,16.5,8,17,8,17.7v2.6C8,21,7.5,21.5,6.8,21.5z
               M4.2,17.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6c0-0.1-0.1-0.2-0.2-0.2H4.2z"></path>
            <path d="M13.3,21.5h-2.6c-0.7,0-1.2-0.5-1.2-1.2v-2.6c0-0.7,0.5-1.2,1.2-1.2h2.6c0.7,0,1.2,0.5,1.2,1.2v2.6
              C14.5,21,14,21.5,13.3,21.5z M10.7,17.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6
              c0-0.1-0.1-0.2-0.2-0.2H10.7z"></path>
            <path d="M19.8,21.5h-2.6c-0.7,0-1.2-0.5-1.2-1.2v-2.6c0-0.7,0.5-1.2,1.2-1.2h2.6c0.7,0,1.2,0.5,1.2,1.2v2.6
              C21,21,20.5,21.5,19.8,21.5z M17.2,17.5c-0.1,0-0.2,0.1-0.2,0.2v2.6c0,0.1,0.1,0.2,0.2,0.2h2.6c0.1,0,0.2-0.1,0.2-0.2v-2.6
              c0-0.1-0.1-0.2-0.2-0.2H17.2z"></path>
          </g>
      </svg>

            <!-- settings -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="7.2,4.9 7.2,3 5.6,3 5.6,4.9 2.3,4.9 2.3,5.9 5.6,5.9 5.6,7.8 7.2,7.8
        7.2,5.9 21.7,5.9 21.7,4.9   "></polygon>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="11.8,9.6 10.3,9.6 10.3,11.5 2.3,11.5 2.3,12.5 10.3,12.5 10.3,14.4
        11.8,14.4 11.8,12.5 21.7,12.5 21.7,11.5 11.8,11.5   "></polygon>
        <polygon fill-rule="evenodd" clip-rule="evenodd" points="18.1,16.2 16.5,16.2 16.5,18.1 2.3,18.1 2.3,19.1 16.5,19.1 16.5,21
        18.1,21 18.1,19.1 21.7,19.1 21.7,18.1 18.1,18.1   "></polygon>
      </svg>

            <!-- search2 -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M19.7,19L15,14.3c2-2.3,1.9-5.9-0.3-8.1c-2.3-2.3-6.1-2.3-8.5,0c-2.3,2.3-2.3,6.1,0,8.5c1.2,1.2,2.7,1.8,4.2,1.8
        c1.4,0,2.7-0.5,3.8-1.4l4.7,4.7L19.7,19z M7,14C5,12.1,5,8.9,7,7c1-1,2.2-1.5,3.5-1.5C11.8,5.5,13,6,14,7C16,8.9,16,12.1,14,14
        C12.1,16,8.9,16,7,14z"></path>
      </svg>


              <!-- target -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M14.889 23.652c-.923.227-1.888.348-2.881.348-6.627 0-12.008-5.377-12.008-12s5.381-12 12.008-12c6.628 0 12.009 5.377 12.009 12 0 1.027-.13 2.023-.373 2.975l-.965-.34c.21-.847.321-1.732.321-2.643 0-6.066-4.929-10.992-11-10.992s-11 4.926-11 10.992c0 6.067 4.929 10.993 11 10.993.887 0 1.751-.106 2.577-.304l.312.971zm-2.889-13.652c-1.104 0-2 .896-2 2s.896 2 2 2c.28 0 .546-.057.788-.162l3.06 9.525 2.174-3.622 4.116 4.259 1.879-1.828-4.087-4.216 3.671-1.926-9.694-3.426c.06-.19.093-.393.093-.604 0-1.104-.896-2-2-2zm1.768 3.615l7.333 2.597-2.823 1.481 4.324 4.461-.445.431-4.324-4.473-1.716 2.86-2.349-7.357zm.049 6.692c-.583.126-1.188.193-1.809.193-4.691 0-8.5-3.809-8.5-8.5s3.809-8.5 8.5-8.5c4.692 0 8.5 3.809 8.5 8.5 0 .619-.066 1.222-.192 1.803l-.959-.337c.094-.474.143-.964.143-1.466 0-4.139-3.361-7.5-7.5-7.5-4.139 0-7.5 3.361-7.5 7.5 0 4.139 3.361 7.5 7.5 7.5.517 0 1.022-.052 1.51-.152l.307.959zm-1.076-3.36c-.239.035-.484.053-.733.053-2.759 0-5-2.24-5-5s2.241-5 5-5c2.76 0 5 2.24 5 5 0 .212-.013.421-.039.626l-.979-.345.01-.281c0-2.208-1.792-4-4-4s-4 1.792-4 4 1.792 4 4 4l.43-.023.311.97zm-.741-5.947c.552 0 1 .448 1 1s-.448 1-1 1-1-.448-1-1 .448-1 1-1z"/></svg>

            <!-- tag -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.434 22.586l7.859-7.858.707.707-8.565 8.565-.001-.001v.001l-12.434-12.434.707-.707 11.727 11.727zm-.033-1.7l-12.401-12.405v-8.481h8.441l12.445 12.401-8.485 8.485zm-4.373-19.886h-7.028v7.067l11.401 11.405 7.07-7.07s-7.534-7.506-11.443-11.402zm-1.598 2.594c.78.78.78 2.048 0 2.828-.781.781-2.048.781-2.829 0-.78-.78-.78-2.048 0-2.828.781-.781 2.048-.781 2.829 0zm-.707.707c.39.39.39 1.024 0 1.414-.391.39-1.024.39-1.414 0-.391-.39-.391-1.024 0-1.414.39-.39 1.023-.39 1.414 0z"/></svg>

            <!-- peek -->

             <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.01 20c-5.065 0-9.586-4.211-12.01-8.424 2.418-4.103 6.943-7.576 12.01-7.576 5.135 0 9.635 3.453 11.999 7.564-2.241 4.43-6.726 8.436-11.999 8.436zm-10.842-8.416c.843 1.331 5.018 7.416 10.842 7.416 6.305 0 10.112-6.103 10.851-7.405-.772-1.198-4.606-6.595-10.851-6.595-6.116 0-10.025 5.355-10.842 6.584zm10.832-4.584c2.76 0 5 2.24 5 5s-2.24 5-5 5-5-2.24-5-5 2.24-5 5-5zm0 1c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4z"/></svg>

            <!--  linked -->
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M16.272 5.451c-.176-.45-.272-.939-.272-1.451 0-2.208 1.792-4 4-4s4 1.792 4 4-1.792 4-4 4c-1.339 0-2.525-.659-3.251-1.67l-7.131 3.751c.246.591.382 1.239.382 1.919 0 .681-.136 1.33-.384 1.922l7.131 3.751c.726-1.013 1.913-1.673 3.253-1.673 2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4c0-.51.096-.999.27-1.447l-7.129-3.751c-.9 1.326-2.419 2.198-4.141 2.198-2.76 0-5-2.24-5-5s2.24-5 5-5c1.723 0 3.243.873 4.143 2.201l7.129-3.75zm3.728 11.549c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3zm-15-9c2.208 0 4 1.792 4 4s-1.792 4-4 4-4-1.792-4-4 1.792-4 4-4zm15-7c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3z"/></svg>

              <!-- timeline -->

            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 23h-24v-19h4v-3h4v3h8v-3h4v3h4v19zm-1-15h-22v14h22v-14zm-16.501 8.794l1.032-.128c.201.93.693 1.538 1.644 1.538.957 0 1.731-.686 1.731-1.634 0-.989-.849-1.789-2.373-1.415l.115-.843c.91.09 1.88-.348 1.88-1.298 0-.674-.528-1.224-1.376-1.224-.791 0-1.364.459-1.518 1.41l-1.032-.171c.258-1.319 1.227-2.029 2.527-2.029 1.411 0 2.459.893 2.459 2.035 0 .646-.363 1.245-1.158 1.586.993.213 1.57.914 1.57 1.928 0 1.46-1.294 2.451-2.831 2.451-1.531 0-2.537-.945-2.67-2.206zm9.501 2.206h-1.031v-6.265c-.519.461-1.354.947-1.969 1.159v-.929c1.316-.576 2.036-1.402 2.336-1.965h.664v8zm7-14h-22v2h22v-2zm-16-3h-2v2h2v-2zm12 0h-2v2h2v-2z"/></svg>

            <!-- notes -->
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M8.071 21.586l-7.071 1.414 1.414-7.071 14.929-14.929 5.657 5.657-14.929 14.929zm-.493-.921l-4.243-4.243-1.06 5.303 5.303-1.06zm9.765-18.251l-13.3 13.301 4.242 4.242 13.301-13.3-4.243-4.243z"/></svg>
            <!-- entities -->

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4  4v1h24v-1h-24zm0 8h20v-1h-20v1zm0 8h17v-1h-17v1z"/></svg>

            <!-- filter -->
            <li class="pure-menu-item">
              <a href="#" class="pure-menu-link">
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23 0l-9 14.146v7.73l-3.996 2.124v-9.853l-9.004-14.147h22zm-20.249 1l8.253 12.853v8.491l1.996-1.071v-7.419l8.229-12.854h-18.478z"/></svg>
              </a>
            </li>

        </ul>
      {/if}
      <form on:drop={(e)=>{dropped(e.dataTransfer);}} class="pure-form">
          <fieldset>
              <!--<legend>Try to search something ..</legend>-->
              <input
              disabled
              on:keydown={ (e) => {onEnter(e)} }
              bind:value={query}
              style="width:80%; box-shadow: 0 0 19px 1px #cecece;"
              type="text"
              placeholder="Try to search something .. ... ...."
              />
              <a href="/grid?filter={query}" class="active">
              <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
              </a>
              <!--
              <button on:click={()=>handleClick()} type="submit" class="pure-button pure-button-primary">
                Search
              </button>
              -->
          </fieldset>
      </form>


    </div>
</div>

<div class="content-wrapper">
    <div class="content">
      {#if (error)}
        <div style="text-align:center">
          sorry, got ERROR: <span style="color:red;">{error}</span>
        </div>
      {:else}
          <div style="height:{innerHeight};">
            {#if (result && result.total && result.total.value)}
            <Items q={query} s={result.total.value} />
            {:else}
            <!--found nothing ;(-->
            {/if}
          </div>
      {/if}
    </div>
</div>
