<script context="module">

  export async function preload(page) {
    let minscore = 0
    let maxscore = 1
    const tags = []
    const { host, path, params, query } = page
    console.dir({ host, path, params, query } )
    const response = await this.fetch('/api/tags')
    if (response.ok) {
      const tmp = await response.json()
      minscore = tmp.tags.tags[tmp.tags.tags.length -1].score
      maxscore = minscore = tmp.tags.tags[tmp.tags.tags.length -1].score
      // pseudo circle
      while (tmp.tags.tags.length) {
        const p = tmp.tags.tags.pop()
        tags.push(p)
        if (tmp.tags.tags.length) {
          const u = tmp.tags.tags.pop()
        tags.unshift(u)
        }
      }
    }

    return {tags,minscore,maxscore, filter:query.filter}
  }

</script>



<script>
  import { onMount } from 'svelte'
  import Tag from '../components/tag.svelte'
  export let tags
  export let minscore
  export let maxscore

  let croped = true
  let inverted = true
  export let filter
  let selected = []

  async function load() {
    console.log(inverted,croped)
    const response = await fetch('/api/tags')
    if (response.ok) {
      const tmp = await response.json()
      if (croped) {
        minscore = tmp.tags.tags[tmp.tags.tags.length -1].score
        maxscore = tmp.tags.tags[0].score
        while (tmp.tags.tags[tmp.tags.tags.length -1].score === minscore) tmp.tags.tags.pop()
        while (tmp.tags.tags[0].score === maxscore) tmp.tags.tags.shift()
      }
      minscore = tmp.tags.tags[tmp.tags.tags.length -1].score
      maxscore =  tmp.tags.tags[0].score
      // pseudo circle
      tags = []
      while (tmp.tags.tags.length) {
          let p
          let u
          if (inverted) p = tmp.tags.tags.pop()
          else p = tmp.tags.tags.shift()
          tags.push(p)
          if (tmp.tags.tags.length) {
            if (inverted) u = tmp.tags.tags.pop()
            else u = tmp.tags.tags.shift()
            tags.unshift(u)
          }
        }

    }


  }

  onMount(()=>{
    //load()
    if (filter && filter.length) highlight()
  })

  function highlight() {
    if (filter.length > 2 ) {
      for (const tag of tags) {
        if (tag.name.toLowerCase().includes(filter.toLowerCase())){

          tag.highlight = true
        } else tag.highlight = undefined
      }
      tags = [...tags]
    } else if (filter.length === 0) {
      for (const tag of tags) tag.highlight = undefined
      tags = [...tags]
    }
  }


function add2selected(tagname){
  console.log('selected',tagname)
  selected.push(tagname)
  selected = [ ...selected]

}





</script>

<style >

  .container {
    padding: .5rem;
  }

  .tagcloud {
    line-height: .6;
    display: flex;
    flex-flow: row wrap;
  }

  .active {
    box-shadow:red 1px 1px 4px 0px;
    color:blue;
  }

</style>

<div class="container">
<div class="control-buttons">

  <span on:click={()=>{croped = !croped; load()}} class:active={croped}>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M22 4v16h-20v-16h20zm2-2h-24v20h24v-20zm-5 13.092v-6.184c.581-.207 1-.756 1-1.408 0-.828-.672-1.5-1.5-1.5-.652 0-1.201.419-1.408 1h-10.184c-.207-.581-.756-1-1.408-1-.828 0-1.5.672-1.5 1.5 0 .652.419 1.201 1 1.408v6.184c-.581.207-1 .756-1 1.408 0 .828.672 1.5 1.5 1.5.652 0 1.201-.419 1.408-1h10.184c.207.581.756 1 1.408 1 .828 0 1.5-.672 1.5-1.5 0-.652-.419-1.201-1-1.408zm-1.908.908h-10.184c-.15-.424-.484-.757-.908-.908v-6.184c.424-.151.757-.484.908-.908h10.184c.151.424.484.757.908.908v6.184c-.424.151-.758.484-.908.908z"/></svg>
  </span>

  <span on:click={()=>{inverted = !inverted; load()}} class:active={inverted}>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 12c0 6.627 5.373 12 12 12s12-5.373 12-12-5.373-12-12-12-12 5.373-12 12zm2 0c0-5.514 4.486-10 10-10v20c-5.514 0-10-4.486-10-10z"/></svg>
  </span>

  <span>
    <input type="text" bind:value="{filter}" on:keyup="{()=>{highlight()}}"  />

  </span>


  <span>

    {JSON.stringify(selected)}

  </span>

</div>


<div class="tagcloud">

  {#if tags.length}
    {#each tags as tag}
      {#if (!inverted)}
        <Tag on:selected={add2selected(tag.name)} name={tag.name}  size={100-(1/tag.score)} zoom={(1/maxscore)} highlight={tag.highlight} />
      {:else}
        <Tag on:selected={()=>{add2selected(tag.name)}} name={tag.name}  size={1/tag.score} zoom={1/minscore} highlight={tag.highlight} />
      {/if}
    {/each}

  {:else}
    no tags ;(
  {/if}
</div>

</div>
