<script>
import {onMount} from 'svelte'
import DateHeatmap from '../components/dateheatmap/DateHeatmap.svelte'


let data = []
let mouseon

onMount(async()=>{
  const __id__ = '002f4375bd93826337bede547350b775-0-1'
	const url = '/elastic/*timeline*/_search'
	const query = {
  "size": 0,
   "query": {
    "term": {
      "__id__.keyword": {
        "value": __id__
      }
    }
  },
  "aggs": {
    "over_time": {
      "date_histogram": {
        "field": "timestamp",
        "calendar_interval": "day"
      }
    }
  }

}

	//console.log(JSON.stringify(data,null,4))
	const response = await fetch(url, {
		method: 'POST',
		headers: {
			'Content-Type': 'application/json',
		},
		body: JSON.stringify(query),
	})
	const result = await response.json()

	for (const dp of result.aggregations.over_time.buckets){
    if (dp.doc_count){
      data.push({date:dp.key,value:dp.doc_count})
    }
  }
  data = [...data]

})


</script>

<style>

.container {
	border: 1px solid;
	padding: 20px;
}



</style>

<svelte:head>
	<title>date heat map</title>
</svelte:head>
{#if (data && data.length)}
<div class="container">

  <DateHeatmap
    data={data}
		cellRadius={0}
		on:mouseOn="{ ({detail}) => {
				mouseon = detail
		}
			}"
  />
</div>

<span>

	{mouseon && mouseon.date ? mouseon.date : '.'}

</span>
{/if}
