<rect
    data-date={stringifyDate(date)}
    data-value={value}
    fill={color}
    height={size}
    rx={radius}
    width={size}
    x={x}
    y={y}
    bind:this={self}
    on:mouseout="{(event)=>{
      //self.style = color;
      if (last) {
        //last = undefined
        //dispatch('mouseOn',{date:undefined})
      }
      }}"
    on:mouseover={(event)=>{
      clearTimeout(waitformousetostop);
      if (value && !last) {
        waitformousetostop = setTimeout(() => {
          //self.style = 'fill:red;'
          dispatch('mouseOn',{date:stringifyDate(date),value})

        },250)
      }
      }}
      on:click={(event)=>{
        clearTimeout(waitformousetostop);
        if (value) {
            if (last) {
              last.style = color
              last = undefined
              //self.style = color;
              dispatch('mouseOn',{date:stringifyDate(date),value})
            } else {
              self.style = 'fill:red;'
              dispatch('mouseOn',{date:stringifyDate(date),value})
              last = self
            }
        }
        }}
/>

<script context="module">
	let waitformousetostop;
  let last
</script>

<script>
import { createEventDispatcher } from 'svelte'
import { stringifyDate } from '../utils/date';

export let color;
export let date;
export let radius;
export let size;
export let value;
let x;
export let y;

const dispatch = createEventDispatcher()
let self

</script>
