<g transform={`translate(${translation}, ${monthLabelHeight})`}>
    {#each days as day, index}
        <Cell
            color={day.color}
            date={day.date}
            radius={cellRadius}
            size={cellSize}
            value={day.value}
            y={day.date.getDay() * cellRect}
            on:mouseOn="{({detail})=>{
              dispatch('mouseOn',detail)
              }
            }"
        />
    {/each}
</g>

<script>
import { createEventDispatcher } from 'svelte'
import Cell from './Cell.svelte';
import { stringifyDate } from '../utils/date';

$: translation = cellRect * index;

export let cellRadius;
export let cellRect;
export let cellSize;
export let days;
export let index;
export let monthLabelHeight;

const dispatch = createEventDispatcher()

</script>
