<script>
		/*
	
		<Graph 
		     bind:this={graph}
				 menus="{menus}" 
				 on:menu
				 on:clickOnNode
				 on:mouseOnNode
				 />

		graph.add(parent,child(s))
		graph.birdview()
		graph.relayout()

	*/

	import {onMount} from 'svelte'
	import Graph from './graph.svelte'

	let graph
	let node
	let menus = {
							embeded:['expand','open','mlt','bug','search','similar'],
							default:['expand','open',]
							}


	onMount(()=>{
		const root = {id:'root',data:{a:1,}}
		const childs = []
		for (let i = 0; i < 6; ++i) {
			childs.push({id:'node'+i,data:{menuType:'embeded', }})
		}
		graph.add(root,childs)
	})

	function handleMenu(ed){

		const {selected, node} = ed
		console.log(selected)
		console.log(node)
		if (ed.selected === 'expand'){
			const count = Math.round(Math.random()*20)
			const childs = []
			for (let i = 0; i < count; ++i) {
				childs.push({id:'node'+Math.round(Math.random()*1000),data:{a:2,}})
			}
			graph.add({id:node.id},childs)
		}
	}
</script>


<div>
	<button on:click={()=>{
		const tmp = Math.round(Math.random()*1000)
		const parent = {id:'node'+tmp,data:{a:1, }}
		const childs = []
		const count = Math.round(Math.random()*20)
		for (let i = 0; i < count; ++i) {
			childs.push({id:'node'+Math.round(Math.random()*100),data:{a:2,}})
		}
		graph.add(parent,childs)
		}}>
		+
	</button>
		<button on:click={()=>{ graph.relayout() }}>
		o
	</button>
		<button on:click={()=>{ graph.birdview() }}>
		v
	</button>
		{#if (node)}
		<span>{node}</span>
		{/if}
</div>

<div>
	<Graph bind:this={graph}
				 menus="{menus}"
				 on:clickOnNode={(e)=>{node = JSON.stringify(e.detail.label ? e.detail.label : e.detail.id)}}
		     on:menu={(e)=>{handleMenu(e.detail)}}
				 on:mouseOnNode={(e)=>{node = JSON.stringify(e.detail.label ? e.detail.label : e.detail.id)}}
		>
		<div>
			{#if (node)}
			<span> {node}</span>
			{/if}
		</div>
	</Graph>
</div>
