<script context="module">
		export const STATUS = {};
		/*

		TODO

		catch fetch errors:
			ERR_TIMED_OUT
			ERR_SSL_VERSION_INTERFERENCE

		*/
</script>

<script>

  import 'bulma/css/bulma.css'
  import '@fortawesome/fontawesome-free/js/all.js'


	import { remoteuser } from './utils/remoteinfo.js'
	import { usersettings } from './utils/sysinfo.js'

	import { Tabs, Tab } from '../../../../../packages/vendor/svelma/src/components/Tabs/index.js'
	import Button  from '../../../../../packages/vendor/svelma/src/components/Button.svelte'


	import Search from './tabs/search.svelte'
	import Settings from './tabs/settings.svelte'
	import Status from './tabs/status.svelte'

	let mode

  try {
		if (!!window.nw) {
			try {
				var os = require('os');
				mode = 'nwjs'
			} catch (error) {
				mode = 'error'
				console.error(error)
				document.body.innerText = 'something went wrong, conctact your admin'
			}
		} else {
			mode = 'browser'
		}
	} catch (error) {
		console.error(error)
		document.body.innerText = 'something went wrong, conctact your admin'
	}
	STATUS.mode = mode

	function toast(m){
		alert(m)
	}

	let errors = []
	let logger
	let watcher
	let sender
	let indexing = {sender:{status:'',message:'',errors:[]},watcher:{status:'',message:'',errors:[]}}

	function loadWorkers(paths,servers,uid) {
		 indexing = {sender:{status:'',message:'',errors:[]},watcher:{status:'',message:'',errors:[]}}
		 if (logger) {
			 toast('reloading workers ')
			 logger.postMessage({app:'terminating workers'})
		 } else logger = new Worker('logger.js')
		 if (logger) {
			 if (watcher) {
				 //watcher.terminate()
				 watcher.postMessage({stop:true})
				 watcher.postMessage({init:{paths, ignore : [process.cwd()]}})
				 watcher.postMessage({resume:true})
				 logger.postMessage({watcher:'reloaded'})
			 } else watcher = new Worker('watcher.js')
			 if (watcher) {
				 if (sender) {
					 //sender.terminate()
					 sender.postMessage({stop:true})
					 sender.postMessage({init:{paths, servers}})
					 sender.postMessage({resume:true})
					 logger.postMessage({sender:'reloaded'})
				 } else sender = new Worker('sender.js')
				 if (sender) {
					 watcher.onmessageerror = function() { logger.postMessage({watcher:{error:{message:' a message cannot be deserialized'}}})}
					 sender.onmessageerror = function() { logger.postMessage({sender:{error:{message:' a message cannot be deserialized'}}})}
					 watcher.onerror = function(e) { console.error(e);logger.postMessage({watcher:{error:{message:' unknown ;('}}}) };
					 sender.onerror = function(e) { console.error(e);logger.postMessage({sender:{error:{message:' unknown ;('}}}) };
					 watcher.onmessage = function(m) {
							if (m.data.filename) {
								sender.postMessage({filename:m.data.filename})
							} else {
								let timestamp = new Date()
								logger.postMessage({watcher:m.data})
								if (m.data.error) {
									indexing.watcher.errors = [{timestamp,error:m.data.error},...indexing.watcher.errors]
								} else if (typeof m.data === 'object' && Object.keys(m.data).length>0) {
									const key = Object.keys(m.data)[0]
									if (key !== 'error') indexing.watcher.status = key
									indexing.watcher.message = m.data[key]
									if (typeof m.data[key] === 'object') indexing.watcher.message.timestamp = new Date()
								} else {
									indexing.watcher.errors = [{timestamp,error:{shouldnothappen:m.data}},...indexing.watcher.errors]
								}
							}
						}
					 sender.onmessage = function(m) {
							let timestamp = new Date()
							//if (main.isDevToolstoast()) {console.log(m.data)}
							console.log(JSON.stringify(m.data))
							logger.postMessage({sender:m.data})
							if (m.data.error) {
								indexing.sender.errors = [{timestamp,error:m.data.error},...indexing.sender.errors]
							} else if (typeof m.data === 'object' && Object.keys(m.data).length>0) {
								const key = Object.keys(m.data)[0]
								if (key !== 'error') indexing.sender.status = key
								indexing.sender.message = m.data[key]
								if (typeof m.data[key] === 'object') indexing.sender.message.timestamp = new Date()
							} else {
								indexing.sender.errors = [{timestamp,error:{shouldnothappen:m.data}},...indexing.sender.errors]
							}
					 }
					 //const servers = [{server:location.origin+'/files',default:true}]
					 //const paths = $usersettings.paths

					 sender.postMessage({init:{paths, servers}})
					 sender.postMessage({resume:true})
					 watcher.postMessage({init:{paths, ignore : [process.cwd()]}})
					 watcher.postMessage({resume:true})
				 }
			 }
		} else toast('failed to load workers, contact your admin')
	}

	if (mode==='nwjs') {
		const win = window.nw.Window.get()
		win.on('close',function(){
			if (logger) logger.postMessage('closing')
			if (sender) sender.terminate()
			if (watcher) watcher.terminate()
			if (logger) logger.terminate()
			toast('closing')
			this.close(true)
		})
	}

	$: if ($remoteuser && $usersettings && $usersettings.paths && $usersettings.paths.length && mode === 'nwjs' ) loadWorkers($usersettings.paths,[{server:location.origin+'/files',default:true}],$remoteuser.uid)



</script>


{#if (!$remoteuser)}
	<div class="modal is-active">
		<span class="icon">
			<i class="fas fa-spinner fa-pulse is-large"></i>
		</span>
	</div>
{:else}
	{#if mode === 'nwjs'}
		<section>
			<Tabs size="is-small" position="is-right">
				<Tab label="Search">
					<Search />
				</Tab>
				<Tab label="Settings" keepalive={false}>
					<Settings />
				</Tab>
				<Tab label="Status" keepalive={false}>
					<Status bind:status={indexing}/>
				</Tab>
			</Tabs>
		</section>
	{:else}
		<section>
		    <Button>
				<a href="/clients/" >download desktop client ..</a>
				</Button>
				<Search />
		</section>
	{/if}
{/if}

<style>

</style>
