<script>

import { hardware, localuser, netuse, usersettings} from './utils/sysinfo.js'


</script>

<div class="card">
  <div class="card-content">
    <p class="subtitle">
    </p>
    <pre>
    {JSON.stringify({$hardware, $localuser, $netuse, $usersettings},null,4)}
    </pre>
  </div>
</div>
