<script>

	import { Button, Tabs, Tab, Toast  } from 'svelma'
	import { remoteuser } from './utils/remoteinfo.js'
	import { usersettings as mysettings} from './utils/sysinfo.js'
	import Settings from './settings.svelte'
	import Indexing from './indexing.svelte'
	import Status from './components/status.svelte'
	import Errors from './errors.svelte'
	import Search from './search.svelte'
	import AboutLocal from './aboutlocal.svelte'
  import AboutRemote from './aboutremote.svelte'

	let mode
	let main
	//let message
	const selfname = location.host.split(':').shift().split('.').shift().toUpperCase()
	try {
	  if (!!window.nw) {
	    try {
	      var os = require('os');
				mode = 'nwjs'
					main = window.nw.Window.get()
				console.dir(main)
	      //message = os.platform()
	    } catch (error) {
				mode = 'error'
	      console.error(error)
	    }
	  } else {
	    mode = 'browser'
	  }
	} catch (error) {
	  console.error(error)
	  document.write('<hr><font color=red> something went wrong, conctact your admin </font><hr>');
	}


	function open(message, type = 'is-light', position = 'is-bottom-right') {
		Toast.create({ message, type, position })
	}




	let errors = []
	let logger
	let watcher
	let sender
	let indexing = {sender:{status:'',message:''},watcher:{status:'',message:''}}

	function loadWorkers(paths,servers,uid) {
		 indexing = {sender:{status:'',message:''},watcher:{status:'',message:''}}
		 if (logger) {
			 open('reloading workers ')
			 logger.postMessage({app:'terminating workers'})
		 } else logger = new Worker('logger.js')
		 if (logger) {
			 if (watcher) {
				 //watcher.terminate()
				 watcher.postMessage({stop:true})
				 watcher.postMessage({init:{paths, ignore : [process.cwd()]}})
				 watcher.postMessage({resume:true})
				 logger.postMessage({watcher:'reloaded'})
			 } else watcher = new Worker('watcher.js')
			 if (watcher) {
				 if (sender) {
					 //sender.terminate()
					 sender.postMessage({stop:true})
					 sender.postMessage({init:{paths, servers}})
					 sender.postMessage({resume:true})
					 logger.postMessage({sender:'reloaded'})
				 } else sender = new Worker('sender.js')
				 if (sender) {
					 watcher.onmessageerror = function() { logger.postMessage({watcher:{error:{message:' a message cannot be deserialized'}}})}
					 sender.onmessageerror = function() { logger.postMessage({sender:{error:{message:' a message cannot be deserialized'}}})}
					 watcher.onerror = function(e) { console.error(e);logger.postMessage({watcher:{error:{message:' unknown ;('}}}) };
					 sender.onerror = function(e) { console.error(e);logger.postMessage({sender:{error:{message:' unknown ;('}}}) };
					 watcher.onmessage = function(m) {
							if (m.data.filename) {
								sender.postMessage({filename:m.data.filename})
							} else {
								let timestamp = new Date()
								logger.postMessage({watcher:m.data})
								if (m.data.error) {
									errors = [{timestamp,watcher:m.data.error},...errors]
								} else if (typeof m.data === 'object' && Object.keys(m.data).length>0) {
									const key = Object.keys(m.data)[0]
									if (key !== 'error') indexing.watcher.status = key
									indexing.watcher.message = m.data[key]
									if (typeof m.data[key] === 'object') indexing.watcher.message.timestamp = new Date()
								} else {
									errors = [{timestamp,watcher:{shouldnothappen:m.data}},...errors]
								}
							}
						}
					 sender.onmessage = function(m) {
						  let timestamp = new Date()
							//if (main.isDevToolsOpen()) {console.log(m.data)}
							console.log(JSON.stringify(m.data))
							logger.postMessage({sender:m.data})
							if (m.data.error) {
								errors = [{timestamp,sender:m.data.error},...errors]
							} else if (typeof m.data === 'object' && Object.keys(m.data).length>0) {
								const key = Object.keys(m.data)[0]
								if (key !== 'error') indexing.sender.status = key
								indexing.sender.message = m.data[key]
								if (typeof m.data[key] === 'object') indexing.sender.message.timestamp = new Date()
							} else {
								errors = [{timestamp,sender:{shouldnothappen:m.data}},...errors]
							}
					 }
					 //const servers = [{server:location.origin+'/files',default:true}]
					 //const paths = $mysettings.paths

					 sender.postMessage({init:{paths, servers}})
					 sender.postMessage({resume:true})
					 watcher.postMessage({init:{paths, ignore : [process.cwd()]}})
					 watcher.postMessage({resume:true})
				 }
			 }
	 	} else open('failed to load workers, contact your admin')
	}

	$: if ($remoteuser && $mysettings && $mysettings.paths && $mysettings.paths.length && mode === 'nwjs' ) loadWorkers($mysettings.paths,[{server:location.origin+'/files',default:true}],$remoteuser.uid)

	let app_height
	let inner_height
	let tofill_height
	$: tofill_height = inner_height - app_height
	//$: console.log('height',JSON.stringify({app_height,inner_height}))



</script>
<svelte:window bind:innerHeight={inner_height} />
<div bind:clientHeight={app_height}>
{#if mode !== 'nwjs'}
  <section class="hero is-warning">
    <div class="hero-body">
        <h2 class="subtitle">
          You are running {selfname} in browser, please download app from 'itabi'
        </h2>
    </div>
  </section>
{/if}

{#if $remoteuser}

<Tabs>
  <Tab label="SEARCH">
    	<Search/>
  </Tab>
	{#if mode === 'nwjs'}
	<Tab label="SETTINGS">
		<Settings/>
	</Tab>
	<Tab label="INDEXING">
<!--
{"status":"globbing","message":{"seen":43956,"errors":0,"newCount":43956,"changedCount":0,"counter":43956,"timestamp":"2019-07-04T06:23:19.287Z"}}
-->

		<Status label='watcher'
					 spinner='spinner'
					 status={indexing.watcher.status === 'globbing' ? 'spin' : indexing.watcher.status === 'running' ? 'pulse' : 'stale' }
					 progress={(indexing.watcher.message.counter/indexing.watcher.message.seen)*100}
					 fields={ {total:indexing.watcher.message.seen} }  />
<!-- {"status":"running","message":{"queue":0,"errors":0,"counter":0,"tracked":368,"timestamp":"2019-07-04T06:19:50.606Z"}} -->
	 <Status label='sender'
					 status={indexing.sender.status === 'sending' ? 'spin' : indexing.sender.status === 'running' ? 'pulse' : 'stale' }
					 progress={(indexing.sender.message.counter/indexing.sender.message.start)*100}
					 fields={{queue:indexing.sender.message.queue, sent:indexing.sender.message.tracked}} />

		<Errors {errors} />
		<!--
		<pre>
		{JSON.stringify(indexing,null,4)}
		</pre>
    -->
	</Tab>
	{/if}
  <Tab label="ABOUT">
		{#if mode === 'nwjs'}
		<AboutLocal/>
		{/if}
		<AboutRemote/>
  </Tab>
</Tabs>
{:else}
	<div class="modal is-active">
		<span class="icon">
			<i class="fas fa-spinner fa-pulse is-large"></i>
		</span>
  </div>
{/if}
</div>
