<script>
//import VirtualList from '@sveltejs/svelte-virtual-list'
import VirtualList from './components/vendor/sveltejs/virtuallist.svelte'

export let errors = []

let mounted
let start
let end

function makeline(item) {
  let str = ''
  for (const key of Object.keys(item)){
      if (key === 'timestamp') str += JSON.stringify(item[key])
      else str += ' '+ key + ':'+ JSON.stringify(item[key])
  }
  return str
}

let wh
$: resultsHeigth =  wh - 280 //(wh / 2) + (wh / 5)

</script>

<svelte:window  bind:innerHeight={wh} />

{#if errors.length}

  <p>notifications: {errors.length}</p>
  <hr>

  <div style="height:{resultsHeigth}px">
    <VirtualList items={errors} let:item bind:start bind:end >
      <p is-small>{makeline(item)}</p>
    </VirtualList>
  </div>

{:else}
<p> no notifications</p>
{/if}
