<script>

  //import VirtualList from '@sveltejs/svelte-virtual-list'
  import VirtualList from './components/vendor/sveltejs/virtuallist.svelte'
  import { Field, Input, Button, Icon, Modal } from 'svelma'
  import Item from './components/item.svelte'
  import { hardware, localuser } from './utils/sysinfo.js'

  let loading = false
  let fetching = {}
  let q = ''
  let last = ''
  let message = 'input query ..'
  let response
  let found = []
  let start
  let end
  let filter = []
  let lastfilter = []
  let searchagain = true

  async function makequery() {
    let realQ = q
    if (last === q && JSON.stringify(filter) === JSON.stringify(lastfilter)) return
    message = 'searching ..'
    response = null
    found = []
    fetching = {}
    //loading = Modal.open({showClose:false})
    loading = true

    let res
    try {
      if (filter.length > 0) {
        for (const f of filter){

          realQ += ` ${f.name}:"${f.value}"`
        }
      }
      console.log(realQ)
      res = await fetch(window.location.origin+'/search/?q='+realQ,{ headers: {
            'Content-Type': 'application/json',
            'ain-client-data': JSON.stringify({$hardware,$localuser})
          }})

          if (res && res.ok) {
            try {
              response = await res.json()
            } catch (error) {
              message = 'server: ' +error.message
              console.dir(error)
            }
            if (response && response.total) {
              message = 'found ' + response.total.value
              if (response.total.value > 0) {
                //found = [...response.hits]
                for (const i in response.hits) {
                  found.push(response.hits[i])
                  found[i].__n__ = i
                }
                // fill with 0  for virtualist
                while (found.length < response.total.value) {
                  found.push(0)
                }
              }
            }

          } else {
            message = 'server: ' +res.status + ' ' + res.statusText
            console.log(res.status,res.statusText)
          }
    } catch (error) {
      message = 'server: ' +error.message
      console.dir(error)
    }

    // keep last query params
    last = q
    lastfilter = [ ...filter]
    loading = false

  }

  async function handleEnter(event) {
    const key = event.key;
    const keyCode = event.keyCode;
    if (q && q.length > 2 && key === 'Enter') {
      await makequery()
    }
  }

  function handleEscape(event){
    if (event.key === 'Escape'){
      q = ''
      last = undefined
      response = undefined
      found = []
      fetching = {}
      filter = []
      lastfilter = []

      message = 'input query ..'
    }
  }

  function makemessage(){
    if (found.length) return 'found '+ found.length + ' showing ' + start + ' - ' + end + ' (fetched ' + Object.keys(fetching).length + ' )';
    else if (last) return 'nothing to show'
    else return 'input query ..'
  }
  $: message = makemessage(start,end)

  async function load(n){
    if (last && found.length && n > -1 && n < found.length && !fetching[n] && !found[n]) {
      fetching[n] = true
      const _res = await fetch(window.location.origin+'/search/?q='+last+'&start='+n+'&size=1')
      fetching[n] = false
      const _response = await _res.json()
      if (_response.hits) found[n] = _response.hits[0]
      if (found[n]) found[n].__n__ = n
      else console.log('failed',n,last)
    }
  }
  $: if (!found[end]) {load(end); load(end+1)}
  $: if (!found[start]) {load(start)}

  let wh
  $: resultsHeigth =  wh - 150 //(wh / 2) + (wh / 5)

  function dropped (ev) {
    ev.preventDefault();
    console.dir(ev)
    console.dir(ev.dataTransfer.items)
    console.dir(ev.dataTransfer.items[0].kind)
    if (ev.dataTransfer.items) {
      // Use DataTransferItemList interface to access the file(s)
      for (var i = 0; i < ev.dataTransfer.items.length; i++) {
        // If dropped items aren't files, reject them
        if (ev.dataTransfer.items[i].kind === 'file') {
          var file = ev.dataTransfer.items[i].getAsFile();
          console.log('item file[' + i + '].name = ' + file.name);
          console.dir(file)
          alert('you dropped file:\n\n'+file.name)
        } else {
          if ((ev.dataTransfer.items[i].kind == 'string') &&
             (ev.dataTransfer.items[i].type.match('^text/plain'))) {
             ev.dataTransfer.items[i].getAsString(function (s){
             console.dir({s})
             alert('you dropped plain text:\n\n'+s)
           })
         }
        }
      }
    } else {
      // Use DataTransfer interface to access the file(s)
      for (var i = 0; i < ev.dataTransfer.files.length; i++) {
        console.log('files file[' + i + '].name = ' + ev.dataTransfer.files[i].name);
        console.dir(ev.dataTransfer.files[i])
      }
    }
  }


</script>

<svelte:window on:keydown={handleEscape} bind:innerHeight={wh} />


<section>
<div>
  <Field message={message}>
    <div class="field is-expanded is-horizontal has-addons">
      <p class="control is-expanded">
        <Input type="text" onkeydown={handleEnter} bind:value={q}   ondrop="{(e)=>{e.preventDefault();dropped(e)}}" ondragover="{(e)=>e.preventDefault()}"   />
      </p>
      <p class="control">
        {#if q && q.length > 2 && (q !== last || ( JSON.stringify(filter) != JSON.stringify(lastfilter)))}
          <Button on:click={() => makequery()} >
            <Icon icon="search-plus" />
          </Button>
        {:else}
          <Button disabled>
            <Icon icon="search" />
          </Button>
        {/if}
      </p>
    </div>
    <div class="field is-expanded is-horizontal has-addons">
      {#each filter as f}
      <Button class="is-small" iconPack="fa" iconLeft="times" on:click="{()=>{ filter = [...filter.filter(e=>!(e.value===f.value&&e.name===e.name))] }}"> {f.name}:{f.value}</Button>
      {/each}
    </div>
  </Field>
</div>
<div style="height:{resultsHeigth}px">
  {#if (found.length)}
    <VirtualList items={found} let:item bind:start bind:end>
        <Item content={item} bind:filter={filter}/>
    </VirtualList>
  {:else}
    {#if (loading) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {/if}
    <pre>
Default operation is AND

The query supports the following special characters:

| signifies OR operation
- negates a single token
" wraps a number of tokens to signify a phrase for searching
* at the end of a term signifies a prefix query
~N after a word signifies edit distance (fuzziness)

Filter can be set with tag's
    </pre>
  {/if}
</div>
<div>
  <!-- -->
</div>
</section>
