<script>

import { Button } from 'svelma'
import { netuse } from './utils/sysinfo.js'
import { usersettings as mysettings} from './utils/sysinfo.js'
import SelectPath from './components/selectpath.svelte'
import SetUserSettings from './components/setusersettings.svelte'
//import { sep, resolve } from 'path'
let sep = '/'
let resolve
if (!!window.nw) {
  sep = window.nw.require('path').sep
  resolve = window.nw.require('path').resolve
}

let paths = $mysettings.paths

function addPath(){
  paths = [...paths,{path:'',tags:[]}]
}

function deletePath(index){
    const b = paths.slice(0, index)
    const e = paths.slice(index+1)
    paths = [...b, ...e]
}

function cleanPaths(dirs) {
    const r = []
    const n = {}
    // trim & uniq
    for (const d of dirs) {
      if (d.path && !(d.path.trim()==='')){
        d.path = resolve(d.path)
        // replace net use
        if ($netuse && !$netuse.error && $netuse.length){
          for (const share of $netuse){
            if (d.path.startsWith(share.local+':')){
              d.path = share.remote + d.path.slice(2)
            } else if (d.path.startsWith(sep+sep)){
              // only hostname in path, not fqdn as in netuse ;(
              const nbittes = share.remote.split(sep)
              const pbittes = d.path.split(sep)
              // replace hostname with netuse value
              if (nbittes[2].startsWith(pbittes[2]) && nbittes[3] == pbittes[3]) {
                pbittes[2] = nbittes[2]
                d.path = pbittes.join(sep)
              }
            }
          }
        }
        if (!n[d.path]){
          n[d.path] = d
        }
      }
    }
    // remove subdirs
    let last = ''
    for (const k of Object.keys(n).sort()){
      if (!(last != '' && k.startsWith(last+sep))) {
        r.push(n[k])
        last = k
      }
    }

    return r
  }
/*
function savePaths(){
  // clean up paths
  const newpaths = cleanPaths(paths)
  let changed = false
  for (const p of usersettings.paths){
    if (!(newpaths.some(e=>e.path === p.path))) {
        // removed
        changed = true
    }
  }
  for (const p of newpaths) {
    if (!(usersettings.paths.some(e=>e.path === p.path))) {
        // added
        changed = true
    }
  }
  if (changed) {
    usersettings.paths = newpaths
    //localStorage.setItem('usersettings',JSON.stringify(usersettings))
    paths = [...JSON.parse(JSON.stringify(newpaths))]
  }
}
*/

//$: localStorage.setItem('usersettings',JSON.stringify(usersettings))


</script>

<section class="section">
  <div class="control is-expanded">
    <p class="subtitle">
      Paths:
    </p>
    <ul>
    	{#each paths as p, i }
    		<li class="field ">
          <SelectPath bind:path={p}>
            <Button class="control" type="is-danger" outline iconPack="fa" iconRight="times" on:click={()=>deletePath(i)}>Delete</Button>
          </SelectPath>
        </li>
    	{/each}
    </ul>
<hr>
<Button class="is-link" on:click={addPath}>
  Add path
</Button>
<SetUserSettings class="is-link" settings={ {paths:cleanPaths(paths)} }/>

</div>
</section>
