<script>

	import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
	import PathSelector from '../components/pathselector.svelte'
	import SaveButton from '../components/buttonsaveusersettings.svelte'
	import { usersettings, netuse } from '../utils/sysinfo.js'

	import { cleanPaths } from '../utils/var.js'

	let _netuse

	let paths = cleanPaths($usersettings.paths,_netuse)
	let __paths = cleanPaths($usersettings.paths,_netuse)
	let cannotSave = true

	let saved

	function addpath(){
		paths = [...paths,{}]

	}

	function deletePath(index) {
		const b = paths.slice(0, index)
		const e = paths.slice(index+1)
		paths = [...b, ...e]
	}

	function redraw(){
		paths = cleanPaths([ ...$usersettings.paths],_netuse)
	}


	$: cannotSave = !(paths.length > 0)
	$: if (paths && paths.length) __paths = cleanPaths(paths,_netuse)
	$: if ($usersettings) {
		redraw()
	}
	$: _netuse = $netuse


</script>

<section class="section"
on:dragover="{(e)=>{
		e.preventDefault()
		return false
	}
}"
on:drop="{ (e) => {
		e.preventDefault()
		 const old = [ ...new Set(paths.map(x => x.path))]
		 for (let i = 0; i < e.dataTransfer.files.length; ++i) {
			 if (!old.includes(e.dataTransfer.files[i].path))
			 	paths.push({path:e.dataTransfer.files[i].path})
		 }
		 paths = [ ...paths]
		 return false
	}
}"

>
	<fieldset class="is-small">
  	{#if (paths.length)}
			<p class="subtitle">
				Paths to index:
			</p>
    	{#each paths as p, i }
			<div class="field" >
				<p class="control">
          <PathSelector bind:path={p} class="is-small">
            <Button class="is-small" type="is-danger" iconRight="times" on:click={()=>deletePath(i)}>Delete</Button>
          </PathSelector>
        </p>
			</div>
    	{/each}
  	{:else}
			<p class="control">
    	no paths selected, please add one (or drag and drop)
			</p>
			<p>&nbsp;</p>
  	{/if}
		<p>&nbsp;</p>
		<div class="field is-grouped">
			<p class="control">
				<Button iconRight="folder-open" type="is-primary" on:click="{()=>{addpath()}}">Add path</Button>
			</p>
			<p class="control">
			{#if (cannotSave)}
				<SaveButton disabled />
			{:else}
				<SaveButton key='paths' label='Save paths' type="is-success" bind:settings="{__paths}" bind:updated={saved} />
			{/if}
			</p>
		</div>
	</fieldset>

</section>
