<script>

  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'

  import { getContext } from 'svelte'
  import { usersettings, netuse } from '../utils/sysinfo.js'
  import { STATUS } from '../App.svelte'
  import Status from '../components/status.svelte'

  export let status

  let diskreadok = 'is-success'
  let uploadok = 'is-success'
  let filesok = 'is-success'
  let searchok = 'is-success'

  $: if (status.sender.errors.length) {
      let diff = Date.now() - status.sender.errors[0].timestamp
      if ( diff < 10*1000 ){
        uploadok = 'is-danger'
      } else if ( diff < 20*1000 ){
        uploadok = 'is-warning'
      } else {
        uploadok = 'is-success'
      }
  } else uploadok = 'is-success'

  $: if (status.watcher.errors.length) {
      let diff = Date.now() - status.watcher.errors[0].timestamp
      if ( diff < 30*1000 ){
        diskreadok = 'is-danger'
      } else if ( diff < 60*1000 ){
        diskreadok = 'is-warning'
      } else {
        diskreadok = 'is-success'
      }
  } else diskreadok = 'is-success'

  $: if (STATUS.search && STATUS.search.error) {
    searchok = 'is-danger'
  } else searchok = 'is-success'

  $: if (STATUS.files && STATUS.files.error) {
    filesok = 'is-danger'
  } else filesok = 'is-success'

</script>

&nbsp;

<Icon icon='hdd' type="{diskreadok}" size="is-medium" />

<Icon icon='upload' type="{uploadok}" size="is-medium" />

<Icon icon='server' type="{filesok}" size="is-medium" />

<Icon icon='coins' type="{searchok}" size="is-medium"/>



<Status label='watcher'
       status={status.watcher.status === 'globbing' ? 'spin' : status.watcher.status === 'running' ? 'pulse' : 'stale' }
       progress={(status.watcher.message.counter/status.watcher.message.seen)*100}
       fields={ {total:status.watcher.message.seen} }
       errors={[...status.watcher.errors]}
       />
<!-- {"status":"running","message":{"queue":0,"errors":0,"counter":0,"tracked":368,"timestamp":"2019-07-04T06:19:50.606Z"}} -->
<Status label='sender'
       status={status.sender.status === 'sending' ? 'spin' : status.sender.status === 'running' ? 'pulse' : 'stale' }
       progress={(status.sender.message.counter/status.sender.message.start)*100}
       fields={{queue:status.sender.message.queue, sent:status.sender.message.tracked}}
       errors={[...status.sender.errors]}
       />
