
<script context="module">

export const cache = {}
export const docs = {}

</script>

<script>
  import { onMount } from 'svelte'

  export let type
  export let value

  let current = false

  function sleep(ms, msg) {
    if (msg) console.log(ms, msg)
    return new Promise((resolve) => setTimeout(resolve, ms))
  }

  onMount(async () => {
    if (!cache[type]) cache[type] = {}
    if (!cache[type][value]) {
      //const k = await sleep(Math.random()*10000,value)
      //cache[type][value] = [{name:'kala'}]

      const data = `{
            "_source": {
              "excludes": "*"
            },
            "query": {
              "term": {
                "${type}": {
                  "value": "${value}"
                }
              }
            }
          }`
      const result = await fetch('/elastic/' + encodeURI('*entities*') + '/_search', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: data,
      })
      if (!result.ok) error = result.statusText
      else {
        const response = await result.json()

        if (response && response.hits && response.hits.total && response.hits.total.value) {
          cache[type][value] = []
          for (const hit of response.hits.hits) {
            const __contenthash__ = hit._id.split('-')[0]
            if (!cache[type][value].filter((i) => i.id === __contenthash__).length) {
              if (!docs[__contenthash__]) {
                const files = []
                const data = {
                  _source: {
                    includes: '*',
                  },
                  query: {
                    bool: {
                      must: {
                        term: { __contenthash__: __contenthash__ },
                      },
                    },
                  },
                }

                const result = await fetch('/elastic/' + encodeURI('*files*') + '/_search', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json',
                  },
                  body: JSON.stringify(data),
                })
                if (!result.ok) error = result.statusText
                else {
                  const response = await result.json()

                  if (response && response.hits && response.hits.total && response.hits.total.value) {
                    for (const hit of response.hits.hits) {
                      if (!files.includes(hit._source.__filename__)) files.push(hit._source.__filename__)
                    }
                  }
                }

                docs[__contenthash__] = files
              }
              cache[type][value].push({ id: __contenthash__, files: docs[__contenthash__] })
            }
          }
        } else {
          cache[type][value] = []
        }
      }
    }
    current = cache[type][value]
  })


</script>


  <div class="">

    {#if (current)}
      {value} : <small>({JSON.stringify(current.length)})</small>
      {#if (current.length)}
        {#each current as doc}
          <div class="">
            <a href="/doc?hash={doc.id}" target="_self" > {doc.files.join(', ')}</a>
          </div>
        {/each}
      {/if}
    {:else}
     loading ..
    {/if}

  </div>
