<script>

	import VirtualList from '@sveltejs/svelte-virtual-list';
	import {onMount, createEventDispatcher} from 'svelte'

	const dispatch = createEventDispatcher()

	export let items // array of objects
	export let name  // key for object attribute to display
	export let id = 'id' //key for object attribute to id


	let start, end
	let filtervisible = true
	let filter
	let matched = items
	let index
	let selected
	let vlist
	let waitformousetostop

	export function highlight(e){
		if (!e) selected = undefined
		let key
		let value
		if (e && !e.length && Object.keys(e)) {
			key = Object.keys(e)[0]
			value = e[key]
		} else {
			key = name
			value = e
		}
		if (!(key && value)) return
		const found = matched.findIndex(i=>i[key]===value)

		if (found > -1) {
			selected = matched[found][id]
			scrollto(found)
		}
	}

	function scrollto(index){
				// TODO ask rh to add scrollto
		    if (isNaN(index)) return
				if (isNaN(start)) return
		    if (isNaN(end)) return
				if (index >= start && index <= end) return
				//filter = undefined
				if (matched.length !== items.length) matched = items
		    const tstart = start
		    const tend = end
				const vc = tend - tstart
				start = Math.max(index - Math.round(vc/2),0)
		    end = start + vc

	}

	function setFilter(filter){
		if (filter && filter.length){
			selected = undefined;
			matched = items.filter(i=>i[name].includes(filter))
		} else {
			if (matched.length !== items.length) matched = items
		}
		start = 0
	}

	onMount(()=>{
		console.log(items.length,matched.length)
		index = items.findIndex(i=>i[id]===selected)
		scrollto(index)
		// TODO fix list not show on load
		setFilter('a')
		setFilter('')

	})

	$: if (!(filter && filter.length) && start === 0 && items.length === end) filtervisible = false
		 else filtervisible = true
	$: setFilter(filter)
	//$: if ( selected ) {index = items.findIndex(i=>i[name]===selected)	}
	$: scrollto(index)
	$: if (items.length && !matched.length && !filter) matched = items



</script>

<style>
	.list{box-shadow: inset 0px 0px 3px 0px black;
		height:100%;
		padding: .5em;
	}
	.selected {
		    background-color: #9bc4e2;
	}
</style>


<div style="height:90%;">

	{#if (filtervisible)}
	<div style="padding: .5em;">
		<input bind:value={filter} style="width:100%;">
	</div>
	{/if}
	<div class="list">
		<VirtualList bind:start bind:end items={matched} let:item bind:this="{vlist}">
	  <span
			on:click="{()=>{
				selected=item[id];
				dispatch('clicked',item)
				}}"
			on:mouseenter="{()=>{
					waitformousetostop = setTimeout(() => {
							dispatch('mouseon',item)
							selected = item[id];
						},500)
				}}"

			on:mouseleave="{()=>{
				clearTimeout(waitformousetostop);
			}}"
			class="{selected===item[id] ? 'selected' : ''}">
			{item[name]}
			</span><br>
	</VirtualList>
	</div>
</div>
