<script>
import VirtualList from '@sveltejs/svelte-virtual-list';
import {onMount} from 'svelte'
import { createEventDispatcher } from 'svelte';
const dispatch = createEventDispatcher();


import Item from './item.svelte'

  export let hits
  export let typing

  let items
  let start
  let end

  onMount(()=>{
    if (hits && hits.total && hits.total.value){
      items = []
      for (const i in hits.hits) items.push({i,...hits.hits[i]})
      for (let i = hits.hits.length ; i < hits.total.value; i++) items.push({i})
      items = [...items]
    }
  })


</script>

<style >

</style>




{#if (hits && hits.hits && hits.hits.length && items)}
<div class="" style="height:100%">


  <div class="info">
    showing {start+1}-{end} of {items.length} hits
    {#if (typing && hits && hits.total && hits.total.query)}
    <small>
      (<i>last query</i>: {hits.total.query})
    </small>
    {/if}
  </div>

  <div class="list" style="height:100%">
    <hr>
    <VirtualList  items={items} let:item bind:start bind:end>
      <div class="item">
          <Item on:selected="{(t)=>{dispatch('tag',t.detail)}}" query={hits.total.query} index={item.i}  item={item} />
      </div>
    </VirtualList>

  </div>
</div>

{:else if (hits && hits.total && hits.total.value === 0)}
<div class="">
  No hits.
</div>
{/if}
<!--
<pre>
{hits.total}

{JSON.stringify(hits,null,4)}
</pre>
-->
