<script>
import ContentLoader from 'svelte-content-loader';
import DateHeatmap from './dateheatmap/DateHeatmap.svelte'
import Toast from './toast.svelte'
import Fa from 'svelte-fa'
import { faClipboard} from '@fortawesome/free-solid-svg-icons'



	import { onMount } from 'svelte'

	export let id

	let data = []
	let mouseon
	let entities


	let self
	let content


	const close = () => {
		self.parentNode.removeChild(self)
	}

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}
	}

	async function copy2Clipboard(data,key,count='') {
		const { clipboard } = navigator;
		if (clipboard){
			await clipboard.writeText(data);
		} else {
			const textArea = document.createElement("textarea");
			textArea.value = data;
			document.body.appendChild(textArea);
			textArea.select();
			document.execCommand('copy');
			document.body.removeChild(textArea);
		}

			const d = new Toast({props:{message:'copied to clipboard: '+key+' '+count},target: document.body})
			d.close = () => d.$destroy();

		//createToast({ message: key +' copied to clipboard', type:'is-success', position:'is-top' })
	}

	onMount(async()=>{
	  const __id__ = '002f4375bd93826337bede547350b775-0-1'
		const url = '/elastic/*timeline*/_search'
		const query = {
	  "size": 0,
	   "query": {
	    "term": {
	      "__id__.keyword": {
	        "value": id
	      }
	    }
	  },
	  "aggs": {
	    "over_time": {
	      "date_histogram": {
	        "field": "timestamp",
	        "calendar_interval": "day"
	      }
	    }
	  }

	}

		//console.log(JSON.stringify(data,null,4))
		const response = await fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
			},
			body: JSON.stringify(query),
		})
		const result = await response.json()
		for (const dp of result.aggregations.over_time.buckets){
	    if (dp.doc_count){
	      data.push({date:dp.key,value:dp.doc_count})
	    }
	  }
	  data = [...data]

	})



	async function getDateData(id,start,end){
		if (!end) end = start
		const url = '/elastic/*timeline*/_search'
		const query = {
  "query": {
    "bool": {
      "must": [
        {
          "term": {
            "__id__.keyword": {
              "value": id
            }
          }
        },
                {
          "range": {
            "timestamp": {
              "gte": start,
              "lte": end
            }
          }
        }
      ]
    }
  }
}

const response = await fetch(url, {
	method: 'POST',
	headers: {
		'Content-Type': 'application/json',
	},
	body: JSON.stringify(query),
})
const result = await response.json()
const answer = {}
for (const hit of result.hits.hits){
	const key = Object.keys(hit._source).filter(a=>a !== '__id__' && a !== 'timestamp')[0]
	if (!answer[key]) answer[key] = []
	answer[key].push(hit._source[key])
}
return answer

	}

</script>

<style>
	a {
	    text-decoration: none;
	    color: #1b98f8;
	}


	.hoverable {
	  opacity: 0;
	  box-shadow: 1px 1px 3px 1px yellow;
	  transition: opacity .7s;

	}

	  a:hover .hoverable{
	  		opacity: 1;
	  	}



</style>

<!-- todo move it to onMount -->
<svelte:window on:keydown="{(e) => {handle_keydown(e)}}" />

<div class="" bind:this="{self}" on:keydown="{(e) => {handle_keydown(e)}}" >
	<div class="modal-background" on:click="{() => {close()}}"></div>
	<div class="modal" style="height: calc(100vw - 196px);">

	{#if (data && data.length)}
	<div class="container">

	  <DateHeatmap
	    data={data}
			cellRadius={0}
			on:mouseOn="{ async ({detail}) => {
					mouseon = detail
					if (detail.date) {entities = await getDateData(id,detail.date)}
			}
				}"
	  />
	</div>
	<div style=" width: calc(100vw - 128px);">
		{#if (entities && Object.keys(entities).length)}
		<div class="buttons">
			{#each Object.keys(entities) as key}
				<span class="rounded" on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key,entities[key].length)}}" >
					{key} ( {entities[key].length} )
					<span class="icon" >
					<Fa icon={faClipboard} />
					</span>
					<!--<Icon icon="clipboard" />-->
				</span>&nbsp;
			{/each}

		</div>
		<div class="lists">
			{#each Object.keys(entities) as key}
			<div class="list">
				<h4 on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key)}}">
					{key} ( {entities[key].length} )
					<span class="icon" >
					<Fa icon={faClipboard} />
					</span>

				</h4>
				{#each entities[key] as entitie}
				<div class="entitie">

					<a href="/search?q={entitie}" target="_self">
						{entitie}
						<svg class="hoverable" width="12" height="12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
					</a>
				</div>
				{/each}
			</div>
			{/each}
		</div>
		{/if}
	</div>
	{:else}
	<ContentLoader uniqueKey='item'>
		<rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
		<rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
		<rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
	</ContentLoader>
	{/if}

	</div>
</div>
