<script>

  import VirtualList from '@sveltejs/svelte-virtual-list'
  import Item from './item2.svelte'

  export let q
  export let s

  let start
  let end

  const things = []
  for (var index = 0; index < s; index++) things.push({index})
  console.dir(things)


</script>



<div >
  <div>
      found: {s} showing: {start +1} / {end}
      <hr style="box-shadow: 0 1px 2px 0px #c7c573;">
  </div>
  <div style="height:200em">
    <VirtualList  items={things} let:item bind:start bind:end>
      <div class="item">
          <Item query={q} index={item.index} />
      </div>
    </VirtualList>
  </div>
</div>
