<script>

	import Toast from './toast.svelte'
	import Fa from 'svelte-fa'
	import { faClipboard} from '@fortawesome/free-solid-svg-icons'


	export let entities
	let self

	const close = () => {
		self.parentNode.removeChild(self)
	}

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}
	}

	async function copy2Clipboard(data,key,count='') {
		const { clipboard } = navigator;
		if (clipboard){
			await clipboard.writeText(data);
		} else {
			const textArea = document.createElement("textarea");
			textArea.value = data;
			document.body.appendChild(textArea);
			textArea.select();
			document.execCommand('copy');
			document.body.removeChild(textArea);
		}

			const d = new Toast({props:{message:'copied to clipboard: '+key+' '+count},target: document.body})
			d.close = () => d.$destroy();

		//createToast({ message: key +' copied to clipboard', type:'is-success', position:'is-top' })
	}



</script>

<style>

	.rounded {
		cursor: pointer;
    background: var(--second);
    border-radius: 20px;
    padding: .5rem;
    //box-shadow:  1px 1px 10px 0px var(--second) ;
  }
	.rounded:hover .icon {
		//box-shadow:  1px 1px 5px 5px var(--second) ;
		opacity: 1;
	}

	.entitie {
		font-size: smaller;
		line-height: 1;
	}
	.icon {
		opacity: 0;
		cursor: pointer;
	}

	h4 {
		cursor: pointer;
	}

	h4:hover .icon  {
		opacity: 1;
		color: var(--second);
	}
	a {
			text-decoration: none;
			color: #1b98f8;
	}


	.hoverable {
		opacity: 0;
		box-shadow: 1px 1px 3px 1px yellow;
		transition: opacity .7s;

	}

		a:hover .hoverable{
				opacity: 1;
			}


</style>

<!-- todo move it to onMount -->
<svelte:window on:keydown="{(e) => {handle_keydown(e)}}" />

<div class="" bind:this="{self}" on:keydown="{(e) => {handle_keydown(e)}}">
	<div class="modal-background" on:click="{() => {close()}}"></div>
	<div class="modal">
		<div class="buttons">
			{#each Object.keys(entities) as key}
				<span class="rounded" on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key,entities[key].length)}}" >
					{key} ( {entities[key].length} )
					<span class="icon" >
					<Fa icon={faClipboard} />
					</span>
					<!--<Icon icon="clipboard" />-->
				</span>&nbsp;
			{/each}

		</div>
		<div class="lists">
			{#each Object.keys(entities) as key}
			<div class="list">
				<h4 on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key)}}">
					{key} ( {entities[key].length} )
					<span class="icon" >
					<Fa icon={faClipboard} />
					</span>

				</h4>
				{#each entities[key] as entitie}
				<div class="entitie">
				<a href="/search?q={entitie}" target="_self">
					{entitie}
					<svg class="hoverable" width="12" height="12" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
				</a>
				</div>
				{/each}
			</div>
			{/each}
		</div>
	</div>
</div>
