<script context="module">

export const cache = {}
export let tags = null

</script>

<script>

  import ContentLoader from 'svelte-content-loader';

  import Fa from 'svelte-fa'
  import { faBug, faEye, faTag, faComment, faFilter, faList, faClock as faCalendar, faInfoCircle as faInfo, faProjectDiagram } from '@fortawesome/free-solid-svg-icons'
  import Bug from './itembug.svelte'
  import Preview from './itempreview.svelte'
  import Meta from './itemmeta.svelte'
  import Entities from './itementities.svelte'
  import Timeline from './itemtimeline.svelte'

  import { onMount } from 'svelte'
  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let query
  export let index
  export let item

  let current = {}

  function prep(hit){
    const nice = {}
    nice._id = hit._id
    /* _source": {
        "__embedded_no"
        "__contenthash__"
        "__meta": {
            "resourcename"
    */
    if (hit._source) {
      if (hit._source.__meta && hit._source.__meta.resourcename) {
        // embedet thingie
        nice.name = hit._source.__meta.resourcename

        nice.parent = hit._source.__fields.basename || hit._source.__fields.__filename__
      } else if (hit._source.__fields ) {
        nice.name = hit._source.__fields.basename || hit._source.__fields.__filename__
      } else nice.name = "ERROR!!!"
      if (hit._source.__fields.fullname){
        if (!Array.isArray(hit._source.__fields.fullname)) {
          hit._source.__fields.fullname = [hit._source.__fields.fullname]
        }
        nice.fullnames = hit._source.__fields.fullname
      }
      if (hit._source.__fields.tag){
        if (!Array.isArray(hit._source.__fields.tag)) hit._source.__fields.tag = [hit._source.__fields.tag]
        nice.tags = hit._source.__fields.tag
      }
    }
    if (hit.highlight) {
      const fields = Object.keys(hit.highlight)
      const langs = fields.filter( i => i.startsWith('__languages.content'))
      if (langs.length) {
        nice.highlight = ''
        for (const lang of langs) {
          nice.highlight += hit.highlight[lang] +'<br>'
        }
      } else {
        if (hit.highlight.content) {
          nice.highlight = hit.highlight.content
        } else {
          const infields = fields.filter( i => i.startsWith('__fields.'))
          if (infields.length) {
            nice.highlight = ''
            for (const field of infields){
              nice.highlight +='<b>'+field+': </b>'+ hit.highlight[field]+'<br>'
            }
          } else {
            if (hit.highlight['__meta.all']) nice.highlight = '<b>META: </b>'+hit.highlight['__meta.all']
            else nice.highlight = '<pre>'+JSON.stringify(hit,null,4)+'</pre>'
          }
        }
      }
    }
    if (hit._source.__entities){
      nice.entities = hit._source.__entities
    }
    // nice.highlight = '<pre>'+JSON.stringify(hit,null,4)+'</pre>'

    return nice
  }

  onMount(async () => {

    if (tags === null) {
      const result = await fetch('/api/tags?q='+query)
      if (result.ok) {
        const answer = await result.json()
        if (answer.tags.count){
           tags = answer.tags.tags.filter(i => i.score < 100).map(i=>i.name)

        }
        else tags = []
      } else {
        if (result.status !== 404 ) error = result.status  + ' ' +result.statusText
        tags = []
      }
    }

    if (!cache[index] && query && index > -1) {
      if (item && item._id) {
        current = prep(item)
        if (current.entities) {
          try {
            const timeline = await fetch('/api/timeline?doc='+current._id)
            if (timeline.ok) {
              const _tm = await timeline.json()
              if (_tm.total.value) {
                current.timeline = true
              }
            }
          } catch (error) {
            current = { error:result.statusText }
          }
        }
        cache[index] = current

      } else {
        //get it, see search !!!
        try {
          const result = await fetch('/api/search?q='+query+'&start='+index+"&size=1&fields=__contenthash__,__embedded_no,__meta.resourcename,__fields.*,__entities.*")
          if (result.ok) {
            const answer = await result.json()

            current = prep(answer.hits[0])
            if (current.entities) {
              try {
                const timeline = await fetch('/api/timeline?doc='+current._id)
                if (timeline.ok) {
                  const _tm = await timeline.json()
                  if (_tm.total.value) {
                    current.timeline = true
                  }
                }
              } catch (error) {
                current = { error:result.statusText }
              }
            }
            cache[index] = current
          } else {
            current = { error:result.statusText }
          }
        } catch (error) {
          current = {error: error.message}
        }
      }
    } else current = cache[index]

  })

  function showBug(i){
    const d = new Bug({props:{i},target: document.body})
		d.close = () => d.$destroy();
  }
  function showPreview(id){
    const d = new Preview({props:{id},target: document.body})
    d.close = () => d.$destroy();
  }
  function showMeta(id){
    const d = new Meta({props:{id},target: document.body})
    d.close = () => d.$destroy();
  }
  function showEntities(entities){
    const d = new Entities({props:{entities},target: document.body})
    d.close = () => d.$destroy();
  }
  function showTimeline(id){
    const d = new Timeline({props:{id},target: document.body})
    d.close = () => d.$destroy();
  }

</script>

<style >

  .item {
    padding:3px;
  }

  .highlight {
    background:#f6f6f6;
  }

  .name {
    color:black;
  }

  .paths {

    line-height: .9rem;
  }

  .tools {
    opacity: 0;
    transition: hover 0.7s;
  }

  .item:hover .tools {
      opacity: 1;
  }

  .item:hover {
    box-shadow: inset 0px 0px 1px 0px grey;
  }
  .rounded {
    //background: var(--second);
    border-radius: 20px;
    padding: .5rem;
    box-shadow: inset 1px 1px 9px 0px #a1b2c3, 2px 2px 19px 0px var(--second) ;
  }


  .addicon {
    //position: relative;
    //top: 0;
    //right: 0.2em;
    //width: 2em;
    //height: 100%;

    //background: no-repeat 50% 50% url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23676778' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M17,7H14.5L13.5,6H10.5L9.5,7H7V9H17V7M9,18H15A1,1 0 0,0 16,17V10H8V17A1,1 0 0,0 9,18Z'%3E%3C/path%3E%3C/svg%3E");
    //background-size: 1.4em 1.4em;
    border: none;
    opacity: 0;
    transition: opacity 0.2s;
    //text-indent: -9999px;
    cursor: pointer;
    color:green;
  }
  .addicon:hover {
    opacity: 1;
  }
  .rounded:hover addicon {
    opacity: 1;

  }

  .icon {
    color:green;
  }
  .icon:hover {
    box-shadow: 1px 1px 19px 0px green ;
    //color:red;
  }


</style>

{#if (current._id)}
  <div class="item">
    <div class="tools">

      <span class="icons ">
        <span class="icon" on:click="{()=>{showBug(cache[index])}}"><Fa icon={faBug} /></span>

        <span class="icon" on:click="{()=>{showMeta(current._id)}}"><Fa class="icon" icon={faInfo} /></span>

        <!--
        <Fa class="icon" icon={faTag} />
        <Fa class="icon" icon={faComment} />
        -->
        <span class="icon" on:click="{()=>{window.location.href='/bv?hash='+current._id.split('-')[0]}}">
        <Fa class="icon" icon={faProjectDiagram} />
        </span>
        <span class="icon" on:click="{()=>{window.location.href='/doc?hash='+current._id.split('-')[0]}}"><Fa class="icon" icon={faFilter} /></span>
        {#if (current.entities)}
          {#if (current.timeline)}
            <span class="icon" on:click="{()=>{showTimeline(current._id)}}"><Fa class="icon" icon={faCalendar} /></span>
          {/if}
          <span class="icon" on:click="{()=>{showEntities(current.entities)}}"><Fa class="icon" icon={faList} /></span>
        {/if}
        <span class="icon" on:click="{()=>{showPreview(current._id)}}"><Fa class="icon" icon={faEye} /></span>
      </span>
      <span> &nbsp;</span>
      {#if (current.tags && current.tags.length)}
      <span class="buttons " style="text-align:right;">
        <small>

        {#each current.tags as tag,i }
          {#if tags.includes(tag)}
          <label class="rounded">
              {tag} <button on:click="{()=>{dispatch('selected',tag);}}" class="addicon" >+</button>
          </label>
          {:else}
            <!--{tag}&nbsp;-->
          {/if}
        {/each}
        </small>
      </span>
      {/if}
    </div>
    <div class="header">

      <div class="name">
        <!--
          <i class="fas fa-{getFontAwesomeIconFromMIME(file.__mimetype__)}"></i>
        -->

        {#if (current.parent)}
          {current.name}
          {#if (current.fullnames && current.fullnames.length )}
            <a href="file://{current.fullnames[0]}"><small>(<span class=""
              on:click="{async (e)=>{
                  e.preventDefault()
                  try {
                   window.nw.Shell.openItem(current.fullnames[0]);
                  } catch (error) {
                    const id = current._id.split('-')[0]
                    const __fn = await fetch('/upload/'+id)
                    const _fn = await __fn.text()
                    const fn = _fn.split('\n')[0]
                    window.open(`/upload/${id}/${fn}`)
                  }

              }}"
              >
              {current.parent}
            </span>)</small></a>
          {:else}
            <small><a href="#{current.name}">
            <span on:click="{async (e)=>{
                e.preventDefault()

                  const id = current._id.split('-')[0]
                  const __fn = await fetch('/upload/'+id)
                  const _fn = await __fn.text()
                  const fn = _fn.split('\n')[0]
                  window.open(`/upload/${id}/${fn}`)


            }}">({current.parent})</span></a></small>
          {/if}
        {:else}
          {#if (current.fullnames && current.fullnames.length )}
          <a href="file://{current.fullnames[0]}">
            <span on:click="{async (e)=>{
                e.preventDefault()
                try {
                 window.nw.Shell.openItem(current.fullnames[0]);
                } catch (error) {
                  const id = current._id.split('-')[0]
                  const __fn = await fetch('/upload/'+id)
                  const _fn = await __fn.text()
                  const fn = _fn.split('\n')[0]
                  window.open(`/upload/${id}/${fn}`)
                }

            }}"> {current.name}</span>
          </a>
          {:else}
          <a href="#{current.name}">
          <span on:click="{async (e)=>{
              e.preventDefault()

                const id = current._id.split('-')[0]
                const __fn = await fetch('/upload/'+id)
                const _fn = await __fn.text()
                const fn = _fn.split('\n')[0]
                window.open(`/upload/${id}/${fn}`)


          }}">
            {current.name} </span></a>
          {/if}
        {/if}
      </div>
      {#if (current.fullnames && current.fullnames.length )}

      <div class="paths">
        <small>
          {#each current.fullnames as fullname}
          <div class="paths">{fullname.replace(current.name,'').replace(current.parent,'')}</div>
          {/each}
        </small>
      </div>

      {/if}
    </div>
    <div class="highlight">
      {@html current.highlight}
    </div>

  </div>


{:else}
  {#if (current.error)}
    <div class="error">
      {current.error}
    </div>
  {:else}
  <ContentLoader uniqueKey='item'>
    <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
    <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
    <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
  </ContentLoader>
  {/if}
{/if}
<!--
<pre>
{index}
{query}
{JSON.stringify(current,null,4)}
</pre>
-->
