<script>

	import { onMount } from 'svelte'

	export let id
	let self
	let content

	const close = () => {
		self.parentNode.removeChild(self)
	}

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}
	}

	onMount(async ()=>{
		// http://localhost:3000/api/search?refresh&pretty&q=_id:%22124b9f3cd715f4c4dc44324733289ba7-0-1%22&size=1&fields=__meta.sjon
		try {
			const result = await fetch('/api/search?size=1&fields=__meta.*&q=_id:"'+id+'"')
			if (result.ok) {
				const answer = await result.json()
				content = answer.hits[0]._source.__meta
				if (content.json) {
					content.json = JSON.parse(content.json)
					delete content.all
				}
			} else {
				content = { error:result.statusText }
			}
		} catch (error) {
			content = {error: error.message}
		}
	})
	

</script>

<style>


</style>

<!-- todo move it to onMount -->
<svelte:window on:keydown="{(e) => {handle_keydown(e)}}" />

<div class="" bind:this="{self}" on:keydown="{(e) => {handle_keydown(e)}}">
	<div class="modal-background" on:click="{() => {close()}}"></div>
	<div class="modal">
		<pre>
			{JSON.stringify(content,null,4)}
		</pre>
	</div>
</div>
