<script context="module">

export const cache = {}

</script>

<script>

  import ContentLoader from 'svelte-content-loader';

  import { onMount } from 'svelte'
  import { makeQuery } from './ela-query.mjs'

  export let query
  export let index
  //export let data

  let current

  onMount(async () => {
    if (!cache[index] && query && index > -1) {
      const url = '/elastic/*content*/_search'
      const data = {
        _source: {
          //includes: ['__contenthash__','__fields.__filename__"','__meta.resourcename'],
          "excludes": ["__all__","content","content-*"]
        },
        query: makeQuery(query)/*{
          bool: {
            must: {
              simple_query_string: {
                query: query,
                fields: ['__all__^3', 'content','content-*'],
                default_operator: 'and',
              },
            },
          },
        }*/,
        highlight: {
          fields: {
            '*': {
              require_field_match: 'false',
            },
          },
        },
        size: 1,
        from: index,
      }
      //console.log(JSON.stringify(data,null,4))
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      const result = await response.json()
      console.dir({index,result});
      console.log(JSON.stringify(data,null,4))
      if (!result.hits.hits[0]) {

        cache[index] = { error : result._shards.failures}
      } else cache[index] = { ...result.hits.hits[0]._source, hl: result.hits.hits[0].highlight, _id: result.hits.hits[0]._id }

      //console.dir({index,query})
      //console.dir(cache)
    }
    current = cache[index]
  })


</script>

<style>
  :global(em) {
    background: #ff0;
  }
</style>


<div on:click={()=>{return}}>
  {#if (current && !current.error)}
    <h3>
      <a href="/doc?hash={current.__contenthash__}">
      {current.__fields.fullname || current.__fields.basename || current.__fields.__filename__}
      {#if (current.__meta.resourcename)}
      <small>( {current.__meta.resourcename} )</small>
      {/if}
      </a>
    </h3>
    {#if current.hl}
      {#each Object.keys(current.hl).sort() as key}

        {#if (key.startsWith('__entities'))}
          {#if (key.endsWith('keyword'))}
            <a href="/entities/{key}/current.hl[key]">{@html current.hl[key]}</a>&nbsp;&nbsp;
          {/if}
        {:else}
          {@html current.hl[key]}<br>
        {/if}
      {/each}
    {:else}
    <div style="color:green;">
      Raw result: {JSON.stringify(current)}
    </div>
    {/if}
  {:else}
    {#if (current)}
      <div style="color:red;">
          ERROR: {JSON.stringify(current)}
      </div>

    {:else}
    <ContentLoader>
<rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
<rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
<rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
</ContentLoader>
    {/if}
  {/if}
</div>
