<script>
import ContentLoader from 'svelte-content-loader';
	import { onMount } from 'svelte'

	export let id
	let self
	let content

	const close = () => {
		self.parentNode.removeChild(self)
	}

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}
	}

	onMount(async ()=>{
		// http://localhost:3000/api/search?refresh&pretty&q=_id:%22124b9f3cd715f4c4dc44324733289ba7-0-1%22&size=1&fields=content
		try {
			const result = await fetch('/api/search?size=1&fields=content&q=_id:"'+id+'"')
			if (result.ok) {
				const answer = await result.json()

				content = answer.hits[0].highlight.content
			} else {
				content = { error:result.statusText }
			}
		} catch (error) {
			content = {error: error.message}
		}
	})

</script>

<style>


</style>

<!-- todo move it to onMount -->
<svelte:window on:keydown="{(e) => {handle_keydown(e)}}" />

<div class="" bind:this="{self}" on:keydown="{(e) => {handle_keydown(e)}}">
	<div class="modal-background" on:click="{() => {close()}}"></div>
	<div class="modal" on:dragend="{(e)=>{
		self.parentNode.dispatchEvent(new e.constructor(e.type, e));
		close()
		}}">
		{#if (content)}
			{@html content}
		{:else}
	  <ContentLoader uniqueKey='item'>
	    <rect x="0" y="0" rx="3" ry="3" width="250" height="10" />
	    <rect x="20" y="20" rx="3" ry="3" width="220" height="10" />
	    <rect x="20" y="40" rx="3" ry="3" width="170" height="10" />
	  </ContentLoader>
	  {/if}
	</div>
</div>
