<script>


	export let i
	let self

	const close = () => {
		self.parentNode.removeChild(self)
	}

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}
	}

</script>

<style>



</style>

<!-- todo move it to onMount -->
<svelte:window on:keydown="{(e) => {handle_keydown(e)}}" />

<div class="" bind:this="{self}" on:keydown="{(e) => {handle_keydown(e)}}">
	<div class="modal-background" on:click="{() => {close()}}"></div>
	<div class="modal">
		<pre>
			{JSON.stringify(i,null,4)}
		</pre>
	</div>
</div>
