<script>
	export let segment;
</script>

<style>
	nav {
		border-bottom: 1px solid rgba(255,62,0,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	[aria-current] {
		position: relative;
		display: inline-block;
	}

	[aria-current]::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>

<!--
<nav>
	<ul>
		<li><a aria-current="{segment === undefined ? 'page' : undefined}" href=".">home</a></li>
		<li><a aria-current="{segment === 'about' ? 'page' : undefined}" href="search">search</a></li>

		 for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen
		<li><a rel=prefetch aria-current="{segment === 'blog' ? 'page' : undefined}" href="blog">blog</a></li>

	</ul>
</nav>
-->

<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<!--<a class="pure-menu-heading" href="">Your Site</a>-->

		<ul class="pure-menu-list">
				<li class="pure-menu-item pure-menu-selected">
					<!--<a href="#" class="pure-menu-link">Home</a>-->
					<a class="pure-menu-link" aria-current="{segment === undefined ? 'page' : undefined}" href=".">home</a>
				</li>
				<li class="pure-menu-item">
					<a class="pure-menu-link" aria-current="{segment === 'search' ? 'page' : undefined}" href="/search">search</a>
				</li>
				<li class="pure-menu-item">
					<a class="pure-menu-link" aria-current="{segment === 'birdview' ? 'page' : undefined}" href="/birdview">birdview</a>
				</li>
		</ul>
</div>
