<script>

  import { createEventDispatcher } from 'svelte';
	const dispatch = createEventDispatcher();

  export let query
  export let tags
  let realquery = ''

  $: if (tags.length || query.length) {
        realquery = query
        if (tags && tags.length){
          realquery += ' '
          for (const tag of tags) {
            realquery += 'tag:"'+tag+'" '
          }
        }
     } else realquery = ''

</script>

<style>
  .is-center {
    text-align: center;
  }
</style>


<div class="pure-form is-center" >

    <input

    bind:value="{query}"
    on:change="{()=>{dispatch('changed', query);}}"
    on:keyup="{(e)=>{
      dispatch('typed', query)
      if (e.keyCode && e.keyCode === 13)  {
        dispatch('search', query);
        window.open(window.location.protocol+'//'+window.location.host+'/search?q='+realquery,'_self')
        return false
      }
    }}"
    type="text"
    style="width:80%; box-shadow: 0 0 19px 1px var(--second);"
    placeholder="Type your query here"
    >
    <a href="/search?q={realquery}" target="_self">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
    </a>

</div>
