<script>
  import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

  export let name
  export let size
  export let zoom
  export let highlight

</script>

<style>

  .tag {
    flex: 1 auto;
    padding: .1rem;
    font-size: var(--size);
    transition: all .5s ease-in-out;
  }

  .tag:hover{
    box-shadow:rgba(29, 27, 27, 0.38) 1px 1px 4px 0px;
    color:blue;
    font-size: var(--zoom);
  }

  .highlight {
    box-shadow:yellow 1px 1px 10px 5px;
    font-size: var(--zoom);
    background: yellow;
  }

  /*
  .tag:hover::after{
  	      color: red;
          content: ' ';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M224%20387.814V512L32 320l192-192v126.912C447.375 260.152 437.794 103.016 380.93 0 521.287 151.707 491.48 394.785 224 387.814z'/%3E%3C/svg%3E");
  }
  */

</style>

<span  on:click={()=>{dispatch('selected', name)}} class="tag" style="--size:{(size)+'%'}; --zoom:{(zoom)+'%'};" class:highlight={highlight}>
    &nbsp;

    {#each name.split(' ') as word}
      {word}&nbsp;
    {/each}

</span>
