<script>

  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  import {onMount} from 'svelte'
  import Tag from './tag.svelte'

  export let filter
  export let selectedtags

  let docs
  let base
  let searchurl
  let contentMatchCount = -1
  let tagsurl
  let tags = []
  let error


  onMount(() => {
    base = window.location.protocol+'//'+window.location.host
    searchurl = base + '/api/search?q='
    tagsurl = base + '/api/tags?filter='
    if (filter.length > 1) {
      if (filter.length > 2) docCount()
      tagS()
    }
  })

  async function docCount(){
    error = null
    contentMatchCount = -1
    let query = filter
    let _tagsstr = ''
    if (selectedtags && selectedtags.length ) {
      _tagsstr += ' '
      for (const tag of selectedtags) {
        _tagsstr += 'tag:"'+tag+'"'
      }
      query += _tagsstr
    }
    //let query = filter.endsWith(' ') ? filter : filter + '*'
    const result = await fetch(searchurl+query)
    if (result.ok) {
      const answer = await result.json()
      contentMatchCount = answer.total.value
      if ( contentMatchCount === 0 &&  !filter.endsWith('*')) {
        query = filter + '*' + _tagsstr
        const sresult = await fetch(searchurl+query)
        if (sresult.ok) {
          const sanswer = await sresult.json()
          contentMatchCount = sanswer.total.value
        }
      }
    } else {
      if (result.status !== 404 ) error = result.status  + ' ' +result.statusText
    }

  }

  async function tagS(){
    error = null
    let query = filter.endsWith('*') ? filter.slice(0, -1) : filter
    const result = await fetch(tagsurl+query)
    if (result.ok) {
      const answer = await result.json()
      if (answer.tags.count){
        if (answer.tags.count < 64) tags = answer.tags.tags //.filter(i => i.score < 100)
        else tags = answer.tags.tags.filter(i => i.name.includes(query))
      }
      else tags = []
    } else {
      if (result.status !== 404 ) error = result.status  + ' ' +result.statusText
      tags = []
    }

  }

  $: if (process.browser && (filter || selectedtags)) {
    error = null
    contentMatchCount = -1
    tags = []
    if (filter.length > 2) {
      if (filter.length > 2) docCount()
      tagS()
    } else if (selectedtags.length ) {
      docCount()
    }
  }

</script>

<style >
  .error {
    color: crimson;
  }
</style>

<div class="">
<!--
  {JSON.stringify({error,filter,contentMatchCount,tags})}
-->
{#if (error)}
<div class="error">
  ERROR: {error}
</div>
{:else}
  <!-- TODO better messaging .. -->
  {#if (filter  && filter.length > 2 && contentMatchCount < 1 && tags.length === 0)}
    <div class="nomatch">
      It looks like there aren't any matches for your search
    </div>
  {:else}
    {#if (contentMatchCount > -1)}
      {#if (contentMatchCount > (1000-1))}
      <div class="">
        More than {contentMatchCount} results!<br>
        <small>
        Keep typing your query to get more refined search result.<br>
        {#if (tags.length)}
        And or add some tags as <b>filters</b>.
        {/if}
        </small>
      </div>
      {:else}
        {#if (contentMatchCount === 0 && selectedtags.length > 1 && filter.length < 2) }

          {contentMatchCount} results ;( <br>
          Modify your filter
          <small>
             (click on tag to remove it from filter)
          </small>

        {:else}
      <div class="">
        About {contentMatchCount} results <small>(as you keep typing your query the search keeps getting refined, hit enter when ready )</small>
      </div>
        {/if}
      {/if}
    {/if}

    {#if (tags.length)}
      <div class="">
        <hr>
        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12.434 22.586l7.859-7.858.707.707-8.565 8.565-.001-.001v.001l-12.434-12.434.707-.707 11.727 11.727zm-.033-1.7l-12.401-12.405v-8.481h8.441l12.445 12.401-8.485 8.485zm-4.373-19.886h-7.028v7.067l11.401 11.405 7.07-7.07s-7.534-7.506-11.443-11.402zm-1.598 2.594c.78.78.78 2.048 0 2.828-.781.781-2.048.781-2.829 0-.78-.78-.78-2.048 0-2.828.781-.781 2.048-.781 2.829 0zm-.707.707c.39.39.39 1.024 0 1.414-.391.39-1.024.39-1.414 0-.391-.39-.391-1.024 0-1.414.39-.39 1.023-.39 1.414 0z"/></svg>

        {#each tags as tag}
          <Tag on:selected="{(t) => {dispatch('selected',t.detail);}}" name={tag.name} size={120-(tag.score/1.5)} zoom={Math.min(100,(120-(tag.score/1.5))*2)} highlight={(tag.name.toLowerCase().includes(filter.replace('*','').toLowerCase()))} />
        {/each}

      </div>
    {/if}
  {/if}
{/if}



</div>
