<script>

  import { createEventDispatcher } from 'svelte';
  const dispatch = createEventDispatcher();

  export let tags

  function remove(i) {
    tags = [...tags.slice(0, i), ...tags.slice(i + 1)]
  }

</script>

<style >
  .rounded {
    background: var(--second);
    border-radius: 40px;
    padding: .5rem;
    }

  .delicon {
    position: relative;
		top: 0;
		right: 0.2em;
		width: 2em;
		height: 100%;
		background: no-repeat 50% 50% url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23676778' d='M12,2C17.53,2 22,6.47 22,12C22,17.53 17.53,22 12,22C6.47,22 2,17.53 2,12C2,6.47 6.47,2 12,2M17,7H14.5L13.5,6H10.5L9.5,7H7V9H17V7M9,18H15A1,1 0 0,0 16,17V10H8V17A1,1 0 0,0 9,18Z'%3E%3C/path%3E%3C/svg%3E");
		background-size: 1.4em 1.4em;
		border: none;
		opacity: 0;
		transition: opacity 0.2s;
		text-indent: -9999px;
		cursor: pointer;
  }
  .delicon:hover {
    opacity: 1;
  }
  .rounded:hover delicon {
		opacity: 1;
	}

</style>

{#if (tags && tags.length)}
  <div class="">
      {#each tags as tag,i }
        <label on:click="{()=>{remove(i)}}" class="rounded">
            {tag} <button class="delicon">x</button>
        </label>
      {/each}
  </div>
{/if}
