<script context="module">
  import { default as QuickLRU } from 'quick-lru'
  const cache = new QuickLRU({ maxSize: 10000 })

  export async function preload(page, session) {
    const { hash } = page.params

    let error
    let item = cache.get(cache)
    if (!item) {
      const data = {
        query: {
          bool: {
            must: {
              term: { __contenthash__: hash },
            },
          },
        }
      }
      const indexed = await this.fetch('/elastic/' + encodeURI('*files*') + '/_search', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
      if (!indexed.ok) error = {status:indexed.status, statusText: indexed.statusText}
      else {
        const response = await indexed.json()
        console.dir(response)
        if (response.hits.total.value) {
          item = {}
          item.files = response.hits.hits
        } else {
          const exists = await this.fetch('/files/' + hash, {
            method: 'HEAD'
          })
          // https://tools.ietf.org/html/rfc7231#section-7.1.3
          if (exists.status === 200) error = {status:204, 'Retry-After': 10}
          else if (exists.status === 404) error = {status:404, statusText:'not found'}
          else {
            console.error(exists)
            error = {status:exists.status, statusText: exists.statusText}
          }
        }
      }
      if (item) cache.set(hash,item)
      console.dir(item)
    }
    return { hash, item, error }
  }

</script>

<script>

export let hash
export let item
export let error

</script>


<div class="success">
  {hash}
</div>
{#if (error)}
<div class="error">
  {error.status}
  {error.statusText}
</div>
{:else}
  {#if (item)}
  <div class="">
    <pre>
    {JSON.stringify(item,null,4)}
    </pre>
  </div>
  {/if}
{/if}
