<script >

  import {onMount} from 'svelte'

  let base


  let justcount =   {
      "total": {
        "value": 994,
        "relation": "eq"
      },
      "max_score": null,
      "hits": []
    }


  let startsize = {}

  onMount(()=>{
    base = window.location.href
  })



</script>

<style>

</style>

<div class="">

<h1>API</h1>

<h2>search</h2>

<ul>
  <li>q some search query (+ field:value for filtering)</li>
  <li>start default 0</li>
  <li>size default 0 </li>
  <li>refresh default false</li>
  <li>fields default none</li>
</ul>

<hr>
<b>{base}/search ? q = something </b>
<small>
<pre>

{JSON.stringify(justcount,null,4)}

</pre>
</small>
<hr>

<b>{base}/search ? q = something & size = 1 & start = 1 </b>
<small>
<pre>
{JSON.stringify(startsize,null,4)}

</pre>
</small>
<hr>
</div>
