<script>
  /*
  heapTotal and heapUsed refer to V8's memory usage.
  external refers to the memory usage of C++ objects bound to JavaScript objects managed by V8.
  rss, Resident Set Size, is the amount of space occupied in the main memory device (that is a subset of the total allocated memory) for the process, including all C++ and JavaScript objects and code.
  arrayBuffers refers to memory allocated for ArrayBuffers and SharedArrayBuffers, including all Node.js Buffers.
  This is also included in the external value. When Node.js is used as an embedded library, this value may be 0 because allocations for ArrayBuffers may not be tracked in that case.
  When using Worker threads, rss will be a value that is valid for the entire process, while the other fields will only refer to the current thread.

  {
    "rss":171757568,
  "heapTotal":4595712,
  "heapUsed":4070104,
  "external":376245,
  "arrayBuffers":0,
  "timestamp":"2020-10-14T20:15:20.050Z"
  }

  */

  import {scale} from '../helpers/scalenumber.mjs'

  export let memoryUsage

</script>

<style>

</style>

<div class="">
  <div class="">
    <small>
      <small>
    rss: {scale(memoryUsage.rss)}
    heap: {scale(memoryUsage.heapTotal)}
    used: {scale(memoryUsage.heapUsed)}
    other: {scale(memoryUsage.external)}
    <small>
      [ pid:{memoryUsage.pid} parent:{memoryUsage.ppid} ] ( {JSON.stringify(memoryUsage.timestamp).replace(/"/g,'')} )
      <br>
      {memoryUsage.currentdir}
    </small>

  </small>
</small>
  </div>
</div>
