<script context="module">
  export async function preload(page,session) {
    if (session && session.user && session.user.ou){
        const result = await this.fetch('/api/paths?ou='+session.user.ou)
        let paths = []
        if (result.ok){
          paths = await result.json()
        }
        return {user: session.user, paths}
    }
  }
</script>

<script type="text/javascript">

  import {onMount} from 'svelte'
  import MemoryUsage from '../../components/megagiga/memoryusage.svelte'

  export let user
  export let paths
  let path
  let fileDialog
  let netuse

  let senderstatusmessages = []
  let memoryUsage
  let backend
  let workerError



  if (process.browser) {

    const broadcastChannel = new window.BroadcastChannel("GLOBSENDSTATUS");
    broadcastChannel.addEventListener("message", ({data}) => {
      if (data === 'ping') return
      const timestamp = new Date()
      //senderstatusmessages = [{ timestamp:new Date(),...data}, ...senderstatusmessages]
      if (data.error) {
        checkHealtz()
        workerError = data.error
        setTimeout(()=>{workerError = undefined},7000)
      }
      if (data.memoryUsage) {
         memoryUsage = data.memoryUsage
         memoryUsage.timestamp = timestamp
      } else senderstatusmessages = [{ timestamp,...data}, ...senderstatusmessages.slice(0,1024)]
    })
    const os = require('os')
    const platform = os.platform()
    const exec = nw.require('child_process').exec
    if (platform.startsWith('win')) {
      exec("net use", (error,output,code) => {
        if (!error && output) {
          netuse = []
          //console.log(output)
          const lines = output.split(os.EOL)
          for (const line of lines) {
            const bittes = line.split(':')
            if (bittes[1] && bittes[1].trim()) netuse.push({local:bittes[0].trim(),remote:bittes[1].trim()})
          }

        } else {
          console.error(error)
        }
      })
    } else if (platform.startsWith('darwin')) {
      console.error('TODO', platform)
        // mount | grep -e "smbfs" -e "nfs"
        //_netuse = {error: _platform + ' not supported'}

     } else {
      console.error('_platform', platform, 'not supported (yet)')
      // _netuse = {error: _platform + ' not supported'}
    }

  }

  async function savePaths(){
    try {
      const result = await fetch('/api/paths?ou='+user.ou, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(paths),
      })
      if (result.ok){
        // ? reload ..
      } else {
        checkHealtz()
        console.error(result)
        alert('Error\n\n'+result.status+' '+result.statusText)
      }
    } catch (error) {
      checkHealtz()
      alert('Backend Error\n\n'+error)
      console.error(error)
    }

  }

  async function deletePath(p){
    if (confirm('? delete '+ p )) {
      paths = paths.filter(i=>i!==p)
      await savePaths()
    }
  }

  async function handeInput(e){
    let path = e.srcElement.value
    console.log(netuse)
    if (netuse) {
      for (const maybe of netuse){
        const tmp = maybe.local+':'
        console.log(tmp,path.startsWith(tmp),path)
        if (path.startsWith(tmp)) {
          path = path.replace(tmp,maybe.remote)
        }
      }
    }
    const startswith = paths.filter(i => i.startsWith(path))
    if (startswith.length) {
      if (confirm('? replace \n\n'+startswith.join('\n')+'\n\nwith\n\n'+path)){
        paths = [...paths.filter(i => !i.startsWith(path)), path]
        await savePaths()
      }
    } else {
      const includes = paths.filter(i => path.startsWith(i))
      if (includes.length) alert('! subdir of \n\n'+includes)
      else if (confirm('? add \n\n' + path)){
        paths = [...paths, path]
        await savePaths()
      }
    }

  }

  async function checkHealtz(){
    console.log('checkHealtz')
    try {
      const result = await fetch('/api/healtz')

      if (result.ok) {
         const answer = await result.json()
         console.log(answer)
         backend = answer
      }
    } catch (error) {
      backend = error
    }
  }

  onMount(async () => {
    await checkHealtz()
  })

  const SELFTITLE = 'Naïve glob and send'

</script>

<style>
  .admin {
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 1px 3px 0px red;
  }
  .status {
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 1px 3px 0px black;
  }

</style>

<svelte:head>
	<title>{SELFTITLE}</title>
</svelte:head>

<button on:click="{()=>{
  nw.Window.getAll(ws => {
    if (ws.length > 1){
      for (const w of ws) {
        console.dir(w.title)
        if (!(w.title === SELFTITLE)){
          w.restore()
          w.focus()
        } else w.minimize()
      }
    } else {
      chrome.windows.create({
        url: window.location.origin+'/search',title:'Naïve search'
      });
      ws[0].minimize()
    }
  })
}}">got to search</button>

{#if (backend)}
<div class="backend">
  backend status:
  {#each backend.status as bs}
  <span class="service" style="color:{bs[Object.keys(bs)[0]].status};">
    &nbsp;{Object.keys(bs)[0]}&nbsp;
  </span>
  {/each}
</div>
{:else}
<div class="backend">
  waiting for backend status ...
</div>
{/if}
{#if (workerError)}
<div class="error">
  last error: {JSON.stringify(workerError)}
</div>
{/if}

{#if (user && user.isAdmin)}

<div class="admin">
  <button on:click="{()=>{window.open('chrome://inspect/#workers')}}">shared worker</button>
  <button on:click="{()=>{nw.Window.get().showDevTools()}}">devtools</button>

  <div class="ou">
    {user.ou}
  </div>
  <div class="paths">
      <ul>


      {#each paths as path}
        <li>
        <div class="path">
            {path} <button on:click="{()=>{deletePath(path)}}">-</button>
        </div>
        </li>
      {/each}

      </ul>
      <hr>
      <button on:click="{()=>{fileDialog.click()}}">+</button>
      <input style="visibility: hidden;" type="file" bind:this={fileDialog} nwdirectory on:input="{handeInput}"/>

  </div>

</div>
{/if}
<div class="status">
    {#if ( memoryUsage && memoryUsage.rss ) }
    <MemoryUsage bind:memoryUsage="{memoryUsage}" />
    {/if}
    <ul>
  {#each paths as path}
    <li>
    <div class="path">
        {path}
    </div>
    </li>
  {/each}
  </ul>

  <hr>
<small>
<small>
<pre style="line-height: 1em;">
{JSON.stringify(senderstatusmessages,null,4)}
</pre>
</small>
</small>

</div>
