<script context="module">
	let _lastQ
  let _entities

</script>

<script>

  import { onMount } from 'svelte'
  //import { Modal } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'
  import {create as createToast} from '../../../../../../packages/vendor/svelma/src/components/Toast/index.js'

  export let target = document.body
  export let found
  export let lastQ


  let mounted = false
  let entities = {}
  let meta
  let fullist = [ ...found]
  let waitforlong = ''
  let counter = 0

  onMount(async () => {
    if (lastQ === _lastQ) {
      entities = { ..._entities}
    } else {
      const tmp = {}
      const l = fullist.length
      const promises = []
      for (const i in fullist) {
        if (!fullist[i]){
          promises.push(new Promise( async (resolve) => {
            const _res = await fetch(window.location.origin+'/search/?q='+lastQ+'&start='+i+'&size=1')
            const _response = await _res.json()
            //if (_response.hits) fullist[i] = _response.hits[0]
            if (_response.hits &&  _response.hits[0] && _response.hits[0]._source && _response.hits[0]._source.entities){
              for (const key of Object.keys(_response.hits[0]._source.entities)){
                if (!tmp[key]) tmp[key] = []
                for (const e of _response.hits[0]._source.entities[key]){
                    if (!tmp[key].includes(e)) tmp[key].push(e)
                }
              }
            }
            counter ++
            waitforlong = counter + ' / ' + l
            resolve()
          }))
        }
      }
      
       await Promise.all(promises)
        for (const item of fullist){
          if (item && item._source && item._source.entities){
            for (const key of Object.keys(item._source.entities)){
              if (!tmp[key]) tmp[key] = []
              for (const e of item._source.entities[key]){
                  if (!tmp[key].includes(e)) tmp[key].push(e)
              }
            }
          }
        }
        let ordered = []
        for (const key of Object.keys(tmp)){
            ordered.push({key, length:tmp[key].length})
        }
        ordered = ordered.sort( (a, b) => (a.length>b.length) ? 1 : -1 )
        for (const o of ordered ){
          entities[o.key] = tmp[o.key]
        }
        _entities = { ...entities}
        _lastQ = lastQ
      }
      mounted = true
  })

  async function copy2Clipboard(data,key) {
    const { clipboard } = navigator;
    if (clipboard){
      await clipboard.writeText(data);
    } else {
      const textArea = document.createElement("textarea");
      textArea.value = data;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
    }
    createToast({ message: key +' copied to clipboard', type:'is-success', position:'is-top' })
  }


</script>

<Modal >
  <div class="box is-full" >
    {#if (!mounted) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
      {waitforlong}
    {:else}
    {#if (Object.keys(entities).length) }
      <div class="field has-addons is-expanded">
      <div class='tags'>
      <Icon icon="align-left" />
      <Button class="has-background-white-ter" on:click="{()=>{copy2Clipboard(JSON.stringify(entities,null,4),'json')}}" >
        all as json

        <Icon icon="clipboard" />
      </Button>
      <Icon icon="align-justify" />
      {#each Object.keys(entities) as key}
        <Button class="has-background-white-bis" on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key)}}" >
          {key} ( {entities[key].length} )

          <Icon icon="clipboard" />
        </Button>
      {/each}
      </div>
      </div>
      <hr>
      <div>
      {#each Object.keys(entities) as key}
        <p on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key)}}"><b>{key}</b></p>
        <p>
          {#each entities[key] as item}
            {item}<br>
          {/each}
        </p>
        <hr>
      {/each}
      </div>
      {/if}
      {/if}
  </div>
</Modal>
