<script>

  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import { omit } from '../../../../../../packages/vendor/svelma/src/utils/index.js'
	import { usersettings } from '../utils/usersettings.js'

  export let key
  export let settings = {}
  export let label = 'Save settings'
  export let updated = false

  /*
  const unsubscribe = usersettings.subscribe(value => {
    old = value;
  })
  */



  function same(o1,o2){
    const assert = nw.require('assert').strict
    try {
      assert.deepStrictEqual(o1, o2)
    } catch (e) {
      return false
    }
    return true
  }

  function save() {
    let old = {}
    try {
      old = JSON.parse(localStorage.getItem('usersettings'))
      if (old === null) old = {}
    } catch (e) {
      console.error(e)
    }
    let changed = false
    if ( !old[key] || !same(old[key],settings)){
        changed = true
        old[key] = settings

    }
    // changed, save and set
    if (changed) {
      localStorage.setItem('usersettings',JSON.stringify(old))
		  usersettings.set(old)
      updated = true
    }
	}

  $: props = { ...omit($$props, 'class') }

</script>

<Button {...props} class="{$$props.class || ''}"  iconRight='user-cog' on:click={()=>save()}>
	{label}
</Button>
