<script>

import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'


	import Files from './itemfiles.svelte'
	import Tags from './itemtags.svelte'
	//import Notes from './itemnotes.svelte'
	import Preview from './itempreview.svelte'
	import Entities from './itementities.svelte'
	import Timeline from './itemtimeline.svelte'
	import Meta from './itemmeta.svelte'
	import MLT from './itemmlt.svelte'
	import Bug from './itemdetails.svelte'
	import Selectable from './selectable.svelte'
	import TermCloud from './termcloud.svelte'

	export let content
	export let filter = []
	export let terms = []
	export let termsvisisble
	export let uniqsvisisble
	export let highlightfields

	function bug (content) {
		const d = new Bug({props:{content},target: document.body})
		d.close = () => d.$destroy();
	}
	function preview (id) {
		const p = new Preview({props:{id},target: document.body})
		p.close = () => p.$destroy();
	}
	function entities (id) {
		const e = new Entities({props:{id},target: document.body})
		e.close = () => e.$destroy();
	}
	function timeline (id,preloaded) {
		const e = new Timeline({props:{id,preloaded},target: document.body})
		e.close = () => e.$destroy();
	}
	function meta (id) {
		const m = new Meta({props:{id},target: document.body})
		m.close = () => m.$destroy();
	}
	function tags (id, tags) {
		const t = new Tags({props:{id,name:'tag',alias:'lipikud'},target: document.body})
		t.close = () => t.$destroy();
	}
	function notes (id, notes) {
		const t = new Tags({props:{id,name:'note',alias:'märkmed',type:'text'},target: document.body})
		t.close = () => t.$destroy();
	}
	async function mlt(id){
		const m = new MLT({props:{id},target: document.body})
		m.close = () => m.$destroy();
	}

	function denormalizefiles(files){
		const clean = {}
		for (const file of files) {
			if (file.fullname) {
				if (!Array.isArray(file.fullname)) file.fullname = [file.fullname]
				for (const fn of file.fullname) {
					if (!clean[fn] ){

						if (Array.isArray(file.__namehash__)) file.__namehash__ = file.__namehash__[0]
						clean[fn] = {fullname:fn,__mimetype__:file.__mimetype__,__namehash__:file.__namehash__, __filename__:file.__filename__ ? file.__filename__ : file.basename}
					}
				}
			} else {
        const fn = file.__filename__
        if (!clean[fn] ){
          	clean[fn] = {fullname:fn,__mimetype__:file.__mimetype__,__namehash__:file.__namehash__, __filename__:file.__filename__ ? file.__filename__ : file.basename}
        }
      }
		}
		const ret = []
		for (const key of Object.keys(clean)) ret.push(clean[key])
		return ret
	}

	function normalizetags(files){
		const tags = []
		for (const file of files) {
			if (file.tag) {
			  if (!Array.isArray(file.tag)) file.tag = [file.tag]
				for (const t of file.tag) if (!tags.includes(t)) tags.push(t)
			}
		}
		return tags
	}



</script>


  <div class="container">
     {#if (!content)}
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
        </span>
     {:else}
			 {#if (content._id && content.highlight) }
			 		<div>
						<!-- use:longpress on:longpress="{e=>longpressed(content)}" on:click="{e=>clicked(content._id,content.highlight.content.join('<br>'))}"-->
						<Icon icon="bug" on:click="{()=>{bug(content)}}" />
						<Icon icon="eye" on:click="{()=>{preview(content._id)}}" />
						{#if (content._source.entities)}
						<Icon icon="list" on:click="{()=>{entities(content._id)}}" />
						{/if}
						{#if (content._source.timeline)}
						<Icon icon="history" on:click="{()=>{timeline(content._id,content._source.timeline)}}" />
						{/if}
						<Icon icon="info-circle" on:click="{()=>{meta(content._id)}}" />
						<Icon icon="tags" on:click="{()=>{tags(content._id)}}" />
						<Icon icon="comment-alt" on:click="{()=>{notes(content._id,normalizetags(content.files))}}" />
						<Icon icon="filter" on:click="{()=>{mlt(content._id)}}" />
						{#if (content._id && content.files)}
							<Files id="{content._id}" files="{denormalizefiles(content.files)}" />
							<!--<Tags id="{content._id}" tags="{normalizetags(content.files)}" /> -->
							<Selectable name='tag' values="{normalizetags(content.files)}" bind:selected={filter}/>
						{:else}
							{console.error('no files',content)}
						{/if}
						<div style="background-color: #ffeb3b29;">
						{#if content.highlight.content}
						{#each content.highlight.content as highlight}
							{@html highlight}&nbsp;
						{/each}
						{:else}
							<!-- ! not found in content -->
						{/if}
						</div>
					</div>

						{#if (content.term_vectors && content.term_vectors.terms && termsvisisble)}
							<TermCloud bind:selected={terms} terms="{content.term_vectors.terms}"/>
						{/if}

						{#if (content.term_uniq && content.term_uniq.terms && uniqsvisisble)}
							{#if (termsvisisble)}
							<hr>
							{/if}
					  	<TermCloud terms="{content.term_uniq.terms}" />
						{/if}

					{#if (highlightfields || !(content.highlight.content && content.highlight.content.length))}
					{#each Object.keys(content.highlight) as key}

						{#if (key !== 'content' && !key.endsWith('.keyword'))  }
							<div class="is-size-7" >
							<li>
								{ key } : {@html JSON.stringify(content.highlight[key].join('<br>'))}
							</li>
							</div>
						{/if}
					{/each}
					{/if}
					<hr>
			{:else}
				{console.error('no highlight',content)}
			{/if}
    {/if}
  </div>


<style>
  :global(em) {
    background: #ff0;
  }
</style>
