<script>
//import  Icon  from './vendor/svelma/icon.svelte'
import Icon from "../../../../../../packages/vendor/svelma/src/components/Icon.svelte";
import { nodejs } from "../utils/sysinfo.js";
import Tags from "./itemtags.svelte";

export let id;
export let files;
const downloads = {};

function readable(file) {
  if (nodejs()) {
    const fs = window.nw.require("fs");
    try {
      const canRead = fs.accessSync(file, fs.constants.R_OK);
      return true;
    } catch (e) {
      if (e.code !== "ENOENT") console.error(e);
      return false;
    }
  } else return false;
}

function openLocal(file) {
  //TODO add showItemInFolder
  try {
    window.nw.Shell.openItem(file);
  } catch (e) {
    console.error(e);
  }
}

function openExternal(uri) {
  try {
    //window.nw.Shell.openExternal(uri)
    //IE did not open uri ;(
    window.nw.Window.open(uri, {}, new_win => {
      // TODO catch external window http errors
      // ? document.addEventListener('DOMContentLoaded', fn)
      new_win.on("loaded", () => {
        if (new_win.window.location.protocol === "chrome-error:") {
          alert("failed " + uri);
        }
        new_win.close();
      });
      new_win.on("error", function(e) {
        console.error(e);
        alert("failed " + e.message);
        new_win.close();
      });
      new_win.on("closed", function() {
        win = null;
      });
    });
  } catch (e) {
    console.error(e);
  }
}

function indownloads(i) {
  if (!downloads[i.__namehash__]) {
    downloads[i.__namehash__] = i;
    return false;
  } else return true;
}

function getFontAwesomeIconFromMIME(mimeType) {
  if (!mimeType) return "file";
  if (Array.isArray(mimeType)) {
		//mimeType = mimeType.filter( e => e !=='inode/x-empty; charset=binary')
		mimeType = mimeType.filter( e => !e.startsWith('inode/x-empty'))
		if (mimeType.length) mimeType = mimeType[0];
		else return "file";
	}
  if (mimeType.includes("; charset")) mimeType = mimeType.split(";")[0];
  // List of official MIME Types: http://www.iana.org/assignments/media-types/media-types.xhtml
  const icon_classes = {
    // Documents
    "application/pdf": "file-pdf",
		"text/rtf":  "file-word",
		"text/xml": "file-signature",
    "application/msword": "file-word",
    "application/vnd.ms-word": "file-word",
    "application/vnd.oasis.opendocument.text": "file-word",
    "application/vnd.openxmlformats-officedocument.wordprocessingml": "file-word",
    "application/vnd.ms-excel": "file-excel",
    "application/vnd.openxmlformats-officedocument.spreadsheetml": "file-excel",
    "application/vnd.oasis.opendocument.spreadsheet": "file-excel",
    "application/vnd.ms-powerpoint": "file-powerpoint",
    "application/vnd.openxmlformats-officedocument.presentationml": "file-powerpoint",
    "application/vnd.oasis.opendocument.presentation": "file-powerpoint",
    "text/plain": "file-alt",
    "text/html": "file-code",
    "application/json": "file-code",
    // Archives
    "application/gzip": "file-archive",
    "application/zip": "file-archive",
    "application/vnd.ms-outlook": "envelope",
		"application/CDFV2": "envelope",
		"application/vnd.openxmlformats-officedocument.wordprocessingml.document" : "file-signature"
  };
  if (icon_classes[mimeType]) return icon_classes[mimeType];
  else {
		if (mimeType.includes('image')) return "file-image"
		else if (mimeType.includes('audio')) return "file-audio"
		else if (mimeType.includes('video')) return "file-video"
		else {
			console.log('no icon',mimeType)
			return "file"
		}
	};
}

</script>

<div>

    {#each files as file}
    <div class="is-size-7">
      {#if (nodejs() && file.fullname && readable(file.fullname)) }
      <span class="icon">
        <i class="fas fa-{getFontAwesomeIconFromMIME(file.__mimetype__)}"></i>
        </span>
        <a class="is-size-7" href="{file.fullname}" on:click|preventDefault="{()=>{openLocal(file.fullname)}}">{file.fullname}</a>
      {:else}
        {#if (!indownloads(file))}
          <!-- download <a href="/files/{id}/{file.__namehash__}">{file.__filename__}</a> -->
        {/if}
      {/if}
    </div>
    {/each}
    {#each Object.keys(downloads) as dl}
		{#if (dl)}
			<i class="fas fa-{getFontAwesomeIconFromMIME(downloads[dl].__mimetype__)}"></i>
      <i class="fas fa-download"></i>
			{#if (nodejs())}
				<a class="is-size-7" href="#{downloads[dl].__filename__}" on:click|preventDefault="{()=>{openExternal(window.location.origin+'/files/'+id+'/'+dl)}}">{downloads[dl].__filename__}</a>
			{:else}
      <a class="is-size-7" target = '_blank' href="/files/{id}/{dl}">{downloads[dl].__filename__}</a>
			{/if}
		{/if}
    {/each}

</div>
