<script>
  //import { Modal, Input, Button, Icon } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Input from '../../../../../../packages/vendor/svelma/src/components/Input.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'

  import { onMount } from 'svelte'

  export let id
  export let notes = []
  export let name = 'noname'
  export let alias = 'noalias'
  let newnote
  let oldnotes = []

  function handleEnter () {}

  function addnew() {
    if (!notes.includes(newnote)) notes = [...notes,newnote]
  }
  function savenotes(){
    console.dir(notes)
  }
  onMount( () => {
    oldnotes = [ ...notes ]
  })

</script>
<Modal>
  <div class="box is-full" >
  <h3>{name} ({alias})</h3>
<div class="tags">
  {#each notes as note}
    <span class="tag is-small is-rounded is-light is-outlined" on:click="{() => console.dir(note)}">{note}</span>
  {/each}
  <br>
  <div class="field is-expanded is-horizontal">
  <div class="field is-expanded is-horizontal has-addons">

      <Input type="textarea" onkeydown={handleEnter} bind:value="{newnote}"  />


  </div>
  <p>
  <Button class="is-success"  on:click="{savenotes}">
    <Icon icon="save" />
    Save
  </Button>
  </div>

</div>
</div>
</Modal>
