<script>

  import { onMount } from 'svelte'
  //import { Modal } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'
  import VirtualList from '../../../../../../packages/vendor/sveltejs/virtuallist.svelte'
  import MLTItem from './mltitem.svelte'


  export let target = document.body
  export let id

  let meta
  let debugvisible = false
  let start
  let end
  let found = []
  let response
  let fetching = {}
  let maxscore

  onMount(async () => {
      let _response
      try {
      const _res = await fetch(window.location.origin+'/search/?mlt='+id+'&size=3')
       _response = await _res.json()
      //console.dir(response)
      //meta = JSON.stringify(_json,null,4)
      } catch (e) {
        meta = 'no more like this'
      }
      if (_response.hits && _response.total) {
        maxscore = _response.max_score
        for (const i in _response.hits) {

          //found[i].__n__ = i
          _response.hits[i].highlight = {}
          const __res = await fetch(window.location.origin+'/search/?preview='+_response.hits[i]._id+'&length=256')
          const prvw = await __res.json()
          _response.hits[i].highlight.content = prvw.content.split('\n')
          //response.hits[i].highlight.content = [''+i,'12','12413423r523']
          found.push(_response.hits[i])
        }
        // fill with 0  for virtualist
        while (found.length < _response.total.value) {
          found.push(0)
        }
        found = [ ...found]
        response = _response
      }
  })

  async function load(n){
    if (id && found.length && n > -1 && n < found.length && !fetching[n] && !found[n]) {
      fetching[n] = true
      const _res = await fetch(window.location.origin+'/search/?mlt='+id+'&start='+n+'&size=1')
      fetching[n] = false
      const _response = await _res.json()
      if (_response.hits) {
        _response.hits[0].highlight = {}
        const __res = await fetch(window.location.origin+'/search/?preview='+_response.hits[0]._id+'&length=256')
        const prvw = await __res.json()
        _response.hits[0].highlight.content = prvw.content.split('\n')
        found[n] = _response.hits[0]
      }
      if (found[n]) found[n].__n__ = n
      else console.log('failed',n,last)
    }
  }

  $: if (!found[end]) {load(end); load(end+1)}
  $: if (!found[start]) {load(start)}

</script>

<Modal >
  <div class="box is-full" >
    {#if (!response) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {:else}
        {#if (response.total && response.total.value) }
          <div id="mlt" style="box-shadow: 0 8px 6px -6px grey;">
          found more like this: {response.total.value} (showing {start} - {end})
          </div>
          {#if (response.hits)}
            <div id="results" class="" style="height:{window.document.body.firstElementChild.offsetHeight-120}px; ">
            <VirtualList items={found} let:item bind:start bind:end>
              <MLTItem content={item} parent={id} maxscore={maxscore} />
            </VirtualList>
            </div>

          {:else}
            something went wrong ;(
          {/if}
        {:else}
          no more like this
        {/if}
      <Icon icon="bug" on:click="{()=>{debugvisible = !debugvisible}}" />
      {#if (debugvisible)}
      <pre>
        {JSON.stringify(response,null,4)}
      </pre>
      {/if}
    {/if}
  </div>
</Modal>
