<script>

  //import { Modal } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  

  export let content

</script>


<Modal>
  <div class="box">
  <pre>
    {JSON.stringify(content,null,4)}
  </pre>
  </div>
</Modal>
