<script>

  import ShowTime from './showtime.svelte'
  import { onMount } from 'svelte'
  //import { Modal } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'
  import {create as createToast} from '../../../../../../packages/vendor/svelma/src/components/Toast/index.js'


  export let target = document.body
  export let id
  export let preloaded

  let timeline
  let meta
  const keyed = {}
  let first = new Date(Infinity)
  let last


  onMount(async () => {
      if (preloaded && preloaded.length) {
        timeline = [ ...preloaded]
      } else {
        try {
          const _res = await fetch(window.location.origin+'/search/?timeline='+id)
          console.log(_res.ok, _res.ok === true)
          if (_res.ok === true) timeline = await _res.json()
          else timeline = []
        } catch (e) {
          timeline = []
          meta = 'no timeline'
        }
      }

      if (timeline.length) {
        for (const item of timeline){
          for (const key of Object.keys(item).filter( k => k !== 'timestamp')) {
            if (!keyed[key]) keyed[key] = []
            keyed[key].push(item.timestamp+'\t'+item[key])
          }
        }
      }
  })

  async function copy2Clipboard(data,key) {
    const { clipboard } = navigator;
    if (clipboard){
      await clipboard.writeText(data);
    } else {
      const textArea = document.createElement("textarea");
      textArea.value = data;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
    }
    createToast({ message: key +' copied to clipboard', type:'is-success', position:'is-top' })
  }


</script>

<Modal >
  <div class="box is-full" >
    {#if (!timeline) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {:else}
    {#if (Object.keys(timeline).length) }
      <span>
      {#each Object.keys(keyed) as key}
        <Button class="has-background-white-bis" on:click="{()=>{copy2Clipboard(keyed[key].join('\n'),key)}}" >
          {key} ( {keyed[key].length} )
          <Icon icon="clipboard" />
        </Button>
      {/each}
      </span>
      <hr>
      <ShowTime items={timeline} keyed={keyed} />
      {:else}
      no timeline ;(
      {/if}
    {/if}
  </div>
</Modal>
