<script>

  import { onMount } from 'svelte'
  //import { Modal } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'
  import {create as createToast} from '../../../../../../packages/vendor/svelma/src/components/Toast/index.js'


  export let target = document.body
  export let id

  let entities
  let meta


  onMount(async () => {
      try {
        const _res = await fetch(window.location.origin+'/search/?entities='+id)
        console.log(_res.ok, _res.ok === true)
        if (_res.ok === true) entities = await _res.json()
        else entities = []
      } catch (e) {
        entities = []
        meta = 'no entities'
      }
  })

  async function copy2Clipboard(data,key) {
    const { clipboard } = navigator;
    if (clipboard){
      await clipboard.writeText(data);
    } else {
      const textArea = document.createElement("textarea");
      textArea.value = data;
      document.body.appendChild(textArea);
      textArea.select();
      document.execCommand('copy');
      document.body.removeChild(textArea);
    }
    createToast({ message: key +' copied to clipboard', type:'is-success', position:'is-top' })
  }


</script>

<Modal >
  <div class="box is-full" >
    {#if (!entities) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {:else}
    {#if (Object.keys(entities).length) }
      <div class="field has-addons is-expanded">
      <div class='tags'>
      <Icon icon="align-left" />
      <Button class="has-background-white-ter" on:click="{()=>{copy2Clipboard(JSON.stringify(entities,null,4),'json')}}" >
        all as json

        <Icon icon="clipboard" />
      </Button>
      <Icon icon="align-justify" />
      {#each Object.keys(entities) as key}
        <Button class="has-background-white-bis" on:click="{()=>{copy2Clipboard(entities[key].join('\n'),key)}}" >
          {key} ( {entities[key].length} )

          <Icon icon="clipboard" />
        </Button>
      {/each}
      </div>
      </div>
      <hr>
      <div>
      {#each Object.keys(entities) as key}
        <p><b>{key}</b><br><br>
          {#each entities[key] as item}
            {item}<br>
          {/each}
        </p>
        <hr>
      {/each}
      </div>
      {:else}
      no entities
      {/if}
    {/if}
  </div>
</Modal>
