<script>
  //import { Modal, Input, Button, Icon } from 'svelma'
  import Modal from '../../../../../../packages/vendor/svelma/src/components/Modal/Modal.svelte'
  import Input from '../../../../../../packages/vendor/svelma/src/components/Input.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import Icon from '../../../../../../packages/vendor/svelma/src/components/Icon.svelte'

  import { onMount } from 'svelte'
  import { readbylinefromurl } from '../utils/var.js'
  import { remoteuser } from '../utils/remoteinfo.js'
  import { localuser, fingerprint, hardware } from '../utils/sysinfo.js'

  export let id
  export let name
  export let alias
  export let type = 'input'

  let newtag = ''
  let newtags = []
  let tags = []
  let oldtags = []
  let filesfields = []
  let canAdd = false
  let canSave = false
  let loading = true

  let debugvisible = false

  function handleEnter () {
    // TODO if input && enter
  }

  function addnew() {
    if (!tags.includes(newtag)) {
      tags = [...tags,newtag]
      newtags = [...newtags,newtag]
      newtag = ''
    }
  }

  async function savetags(){
    console.log((type==='text'),newtag)
    if (!(filesfields && filesfields[0] && filesfields[0].hash)) {
      console.error('no __namehash__')
      return
    }
    if ((type==='text') && newtag.length > 12) {
      tags = [...tags,newtag]
      newtags = [...newtags,newtag]
      console.dir(newtags)
    }
    if (newtags.length < 1) return
    loading = true
    const namehash = filesfields[0].hash
    const form = new FormData()
    form.append('uid', $remoteuser.uid)
    if ($localuser && $localuser.username) {
      form.append('username', $localuser.username)
      form.append('hostname', $localuser.hostname)
      form.append('uui',$hardware.uuid)
      form.append('serial',$hardware.serial)
    } else if ($remoteuser.uid) {
      form.append('fingerprint',$fingerprint)
    } else {
      console.error('no user')
    }
    //form.append('contentHash', id)
    //form.append('shortNameHash', namehash)
    for (const tag of newtags) {
      if (tag.trim()) form.append(name,tag.trim())
    }
    const dupe = await fetch(`/files/${id}/${namehash}.json`, {
            method:  "PUT",
            body: form
    })
    console.dir(dupe)
    newtags = []
    newtag = ''
    loading = false
  }

  $: canSave = !!((type==='input' && newtags.length > 0) || (type==='text' && newtag && newtag.length > 12))
  $: canAdd = !!(newtag && newtag.length > 3 && !tags.includes(newtag.trim()))


  onMount( async () => {
    if (!name) throw new Error('no name')
    if (!alias) alias = name
    tags = []
    for await (let hash of readbylinefromurl(`/files/${id}`)) {
      const _f = await fetch(`/files/${id}/${hash}/FIELDS`)
      const fields = await _f.json()
      filesfields.push({hash,fields})
    }
    filesfields = [ ...filesfields ]
    for (const file of filesfields){
      for (const fields of file.fields) {
        if (!Array.isArray(fields[name])) fields[name] = [fields[name]]
        for (const field of fields[name]) {
            if (!tags.includes(field)) tags.push(field)
        }
      }
    }
    tags = [ ...tags ]
    oldtags = [ ...tags ]
    loading = false
  })

</script>

<Modal>
  <div class="box is-full" >
    <h3>{alias} ({name})</h3>
    {id}
    {#if (loading)}
      <Icon icon="spinner" customClass="pulse" />
    {:else}
      <div>
      {#each tags as tag}
        {#if (tag)}
          {#if (type==='text')}
          <pre>
            {tag}
          </pre>
          <hr>
          {:else}
          <span class="tag is-small is-rounded is-light is-outlined" on:click="{() => console.dir(tag)}">
          {tag}
          </span>
          {/if}
        {/if}
      {/each}
      <br>
      <div class="field is-expanded is-horizontal">
      <div class="field is-expanded is-horizontal has-addons">
        <p class="control is-expanded is-small">
          {#if (type==='input')}
          <Input type="text" onkeydown={handleEnter} bind:value="{newtag}"  />
          {:else if (type==='text')}
          <Input type="textarea" bind:value="{newtag}"  />
          {:else}
            ERROR: not implemented !
          {/if}
        </p>
        <p class="control">
        {#if (type==='input')}
        {#if (canAdd)}
        <Button iconLeft="plus" on:click="{addnew}" />
        {:else}
        <Button iconLeft="plus" disabled />
        {/if}
        {/if}
        </p>
      </div>
      {#if (canSave)}
      <Button type="is-success" iconLeft="save" on:click="{savetags}">
        Save
      </Button>
      {:else}
        <Button type="is-success" iconLeft="save" disabled >
          Save
        </Button>
      {/if}
    </div>

    </div>
      <Icon icon="bug" on:click="{()=>{debugvisible = !debugvisible}}" />
      {#if (debugvisible)}
      <pre>
      {JSON.stringify(filesfields,null,4)}
      </pre>
      {/if}
    {/if}
  </div>

</Modal>
