<script>

  //import { Input, Button } from 'svelma'
  import Input from '../../../../../../packages/vendor/svelma/src/components/Input.svelte'
  import Button from '../../../../../../packages/vendor/svelma/src/components/Button.svelte'
  import { omit } from '../../../../../../packages/vendor/svelma/src/utils/index.js'

  import { onMount } from 'svelte'

  export let path

  let fileDialog

  function fileDialogClick(e){
    fileDialog.click()
  }
  function handeInput(e){
    if (!(path && path.path)) path = {}
    path.path = e.srcElement.value
  }

  onMount( () => {
    if (!(path && path.path && path.path.trim().length)) {
      fileDialog.click()
    }
  })

  $: props = { ...omit($$props, 'class') }


</script>

<div {...props} class="field is-horizontal has-addons {$$props.class || ''}">
    <slot />
    <Button disabled class="control {$$props.class || ''}" type="is-success" iconPack="fa" iconRight="folder-open" on:click={()=>{fileDialog.click()}}></Button>
    <Input class="is-expanded {$$props.class || ''}" disabled type="text" bind:value={path.path}/>
    <input class="is-hidden" type="file" bind:this={fileDialog} nwdirectory on:input="{handeInput}"/>
</div>
