<script>

  import { onMount } from 'svelte'
  import {copy2Clipboard} from './copy2clipboard.js'

	export let items // array of objects, one field MUST be timestamp
  export let keyed

  let ol = [] // time ordered/chuncked list of items
  let start, end, duration


  function duration2string(d){
  const r = {};
  const s = {
      years: 31536000,
      months: 2592000,
      weeks: 604800, // uncomment row to ignore
      days: 86400,   // feel free to add your own row
      hours: 3600,
      minutes: 60,
      seconds: 1
  };
  let rs = ''
  Object.keys(s).forEach(function(key){
      r[key] = Math.floor(d / s[key]);
      d -= r[key] * s[key];
      if (r[key]) rs += r[key] + ' ' + key + '  '
  });


  return rs
  }

  function reol(){

    const converted = []
    for (const item of items){
      const i = {...item}
      if (!(i.timestamp instanceof Date)) {
        i.timestamp = new Date(i.timestamp.replace(/"|'/g,''))
      }
      if (isNaN(i.timestamp)) throw new Error('timestap is not a time', i)
      else converted.push(i)
    }

    const sorted = converted.sort((a,b)=>a.timestamp-b.timestamp)
    start = sorted[0].timestamp
    end = sorted[sorted.length-1].timestamp
    duration = duration2string((end - start)/1000)

    let last = {}
    for (const i of sorted){
      const key = Object.keys(i).filter(k=>k!=='timestamp')[0]
      if (key){
        let debug = '' // JSON.stringify(i)
        const value = i[key]
        const time = i.timestamp
        let yyyy = time.getFullYear()
        if (last.yyyy && last.yyyy === yyyy) yyyy = ''
        else last.yyyy = yyyy
        let mm = time.toLocaleString('default', { month: 'long' })
        if (last.mm && last.mm === mm) mm = ''
        else last.mm = mm
        // toLocaleString('default', { month: 'short' })
        //  time.getMonth()+1
        let dd = ', '+time.getDate()
        if (last.dd && last.dd === dd) dd = ''
        else {
          last.dd = dd
          last.HH = ''
        }
        let HH = ('0'+time.getHours()).slice(-2)+':'
        if (last.HH && last.HH === HH) HH = ''
        else {
          last.HH = HH
          last.MM = ''
        }
        let MM = ('0'+time.getMinutes()).slice(-2)+':'
        if (last.MM && last.MM === MM) MM = ''
        else {
          last.MM = MM
          last.SS = ''
        }
        let SS = ('0'+time.getSeconds()).slice(-2)
        if (last.SS && last.SS === SS) SS = ''
        else last.SS = SS
        ol.push({yyyy,mm,dd,HH,MM,SS,value,key,timestamp:i.timestamp})
      }
    }
    ol = [...ol]
  }


  onMount(()=>{
    reol()
  })


  $: if (items && items.length) reol()

  function copyThis2Clipboard(item){

    // copy2Clipboard(JSON.stringify(item.timestamp).replace(/"|'/g,'') + '\t' + item.value, item.key + ':'+item.value)
    const others = keyed[item.key].filter(i=>i.endsWith(item.value))
    console.dir(others)
    copy2Clipboard(others.join('\n'),item.key + ':' + item.value)

  }

</script>

<style>
	tr {

  }
		tr:hover {
  	box-shadow: 0 0 100px 0px gray;
  }

  .item {
    padding-left: 1em;
  }

  .sed {
    text-shadow: 0px 0px 20px black;
  }

</style>

<div>
  <span class="sed"> {start.toLocaleString()} - {end.toLocaleString()}  ({duration}) </span>
	<table>
	{#each ol as item}
		<tr>
			<td>
				{item.yyyy}
			</td>
			<td align="right">
				{item.mm}
			</td>
			<td>
				{item.dd}
			</td>
			<td align="right">
				{item.HH}
			</td>
			<td>
				{item.MM}
			</td>
			<td>
				{item.SS}
			</td>
			<td align="right">
				{item.key}
			</td>
			<td class="item"
      on:dblclick="{()=>{
        copyThis2Clipboard(item)
      }}"
      on:mouseover="{()=>{
        //console.dir(item.timestamp)
        //item.yyyy = item.timestamp.getFullYear()
      }}"
        >
				{item.value}
			</td>
		</tr>
  {/each}
	</table>
</div>
