<script>
  import { onMount } from 'svelte'

  export let terms
  export let selected = []

  let words = {}
  let min = Infinity
  let max = -Infinity

  onMount(()=>{
    //words = Object.keys(terms)

    for (const word of Object.keys(terms)) {
      max = Math.max(terms[word].doc_freq,max)
      min = Math.min(terms[word].doc_freq,min)
      words[terms[word].doc_freq+'_'+word.length+'_'+word] = word
    }
    if (max === min) {min = 0; max=3}
  })
  const select = value => {
    if (!selected.some(e => e === value )) selected = [ ...selected,value ]
  }

</script>

<div>
  {#each Object.keys(terms).sort() as key}
  &nbsp;
  <span style="box-shadow: 1px 1px 4px 0px #1d1b1b61; font-size: {(1/Math.ceil((terms[key].doc_freq/((max-min)/5))))}rem"
    on:dblclick="{() => select(key)}"
  >
   &nbsp;{key}&nbsp;
  </span>
  &nbsp;
  {/each}

</div>
