<script>

  import { onMount } from 'svelte'
  import { Modal } from 'svelma'

  export let target = document.body
  export let id

  let preview

  onMount(async () => {
      const _res = await fetch(window.location.origin+'/search/?preview='+id)
      try {
      const _json = await _res.json()
      // TODO .replace( /\n\n/g, '</p><p>' ) and .replace( /\n/g, '<br/>'
      preview = _json.content.replace(new RegExp('(\n){3,}', 'gim') , '\n')
      } catch (error){
        preview = 'no content'
      }
  })


</script>


<Modal>
  <div class="box is-full" >
    {#if (!preview) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {:else}
      <pre>
        {preview}
      </pre>
    {/if}
  </div>
</Modal>

<style>
  :mymodal(modal-content) {
    background: #ff0;
    width: 99%
  }
</style>
