<script>
import  Icon  from './vendor/svelma/icon.svelte'
import { nodejs } from '../utils/sysinfo.js'
import Tags from './itemtags.svelte'


export let id
export let files
const downloads = {}

function readable (file){

		if (nodejs()) {
		 const fs = window.nw.require('fs')
		 try {
			 const canRead = fs.accessSync(file, fs.constants.R_OK)
			 return true
		 } catch (e) {
			 console.error(e)
			 return false
		 }
	 } else return false
}

function openLocal(file){

		try {
      window.nw.Shell.openItem(file)
		} catch (e) {
			console.error(e)
		}
}

function indownloads(i){

  if (!downloads[i.__namehash__]){
    downloads[i.__namehash__] = i.__filename__
    return false
  } else return true

}

</script>

<div>

    {#each files as file}
    <div class="is-size-7">
      {#if (nodejs() && file.fullname && readable(file.fullname)) }
      <span class="icon">
        <i class="fas fa-file"></i>
        </span>
        <a class="is-size-7" href="{file.fullname}" on:click|preventDefault="{()=>{openLocal(file.fullname)}}">{file.fullname}</a>
      {:else}
        {#if (!indownloads(file))}
          <!-- download <a href="/files/{id}/{file.__namehash__}">{file.__filename__}</a> -->
        {/if}
      {/if}
    </div>
    {/each}
    {#each Object.keys(downloads) as dl}

      <i class="fas fa-download"></i>
      <a class="is-size-7" href="/files/{id}/{dl}">{downloads[dl]}</a>
    {/each}

</div>
