<script>

	import { longpress } from '../utils/actions.js';
	import Files from './itemfiles.svelte'
	import Tags from './itemtags.svelte'
	import Notes from './itemnotes.svelte'
	import Preview from './itempreview.svelte'
	import Entities from './itementities.svelte'
	import Meta from './itemmeta.svelte'
	import Bug from './itemdetails.svelte'
	import Selectable from './selectable.svelte'

	let pressed = false
	export let content
	export let filter = []

	function bug (content) {
		const d = new Bug({props:{content},target: document.body})
		d.close = () => d.$destroy();
	}
	function preview (id) {
		const p = new Preview({props:{id},target: document.body})
		p.close = () => p.$destroy();
	}
	function entities (id) {
		const e = new Entities({props:{id},target: document.body})
		e.close = () => e.$destroy();
	}
	function meta (id) {
		const m = new Meta({props:{id},target: document.body})
		m.close = () => m.$destroy();
	}
	function tags (id, tags) {
		const t = new Tags({props:{id,name:'tag',alias:'lipikud'},target: document.body})
		t.close = () => t.$destroy();
	}
	function notes (id, notes) {
		const t = new Tags({props:{id,name:'note',alias:'märkmed',type:'text'},target: document.body})
		t.close = () => t.$destroy();
	}

	function denormalizefiles(files){
		const clean = {}
		for (const file of files) {
			if (file.fullname) {
				if (!Array.isArray(file.fullname)) file.fullname = [file.fullname]
				for (const fn of file.fullname) {
					if (!clean[fn] ){
						if (Array.isArray(file.__namehash__)) file.__namehash__ = file.__namehash__[0]
						clean[fn] = {fullname:fn,__namehash__:file.__namehash__, __filename__:file.__filename__ ? file.__filename__ : file.basename}
					}
				}
			}
		}
		const ret = []
		for (const key of Object.keys(clean)) ret.push(clean[key])
		return ret
	}

	function normalizetags(files){
		const tags = []
		for (const file of files) {
			if (file.tag) {
				for (const t of file.tag)
				if (!tags.includes(t)) tags.push(t)
			}
		}
		return tags
	}



</script>


  <div class="container">
     {#if (!content)}
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
        </span>
     {:else}
			 {#if (content._id && content.highlight) }
			 		<div>
						<!-- use:longpress on:longpress="{e=>longpressed(content)}" on:click="{e=>clicked(content._id,content.highlight.content.join('<br>'))}"-->
						<i class="icon fas fa-bug" on:click="{()=>{bug(content)}}"></i>
						<i class="icon fas fa-eye" on:click="{()=>{preview(content._id)}}"></i>
						<i class="icon fas fa-list" on:click="{()=>{entities(content._id)}}"></i>
						<i class="icon fas fa-info-circle" on:click="{()=>{meta(content._id)}}"></i>
						<i class="icon fas fa-tags" on:click="{()=>{tags(content._id)}}"></i>
						<i class="icon fas fa-comment-alt" on:click="{()=>{notes(content._id,normalizetags(content.files))}}"></i>
						<i class="icon fas fa-filter" label="MLT" on:click="{()=>{alert('more like this\n not implemented (yet) ;()')}}"></i>
						{#if (content._id && content.files)}
							<Files id="{content._id}" files="{denormalizefiles(content.files)}" />
							<!--<Tags id="{content._id}" tags="{normalizetags(content.files)}" /> -->
							<Selectable name='tag' values="{normalizetags(content.files)}" bind:selected={filter}/>
						{:else}
							{console.error('no files',content)}
						{/if}
						<div>
						{#if content.highlight.content}
						{#each content.highlight.content as highlight}
							{@html highlight}&nbsp;
						{/each}
						{:else}
							<!-- ! not found in content -->
						{/if}
						</div>
					</div>
					{#each Object.keys(content.highlight) as key}
						{#if key !== 'content'}
							<div class="is-size-7" >
							<li>
								{ key } : <br> {@html JSON.stringify(content.highlight[key].join('<br>'))}
							</li>
							</div>
						{/if}
					{/each}
					<hr>
			{:else}
				{console.error('no highlight',content)}
			{/if}
    {/if}
  </div>


<style>
  :global(em) {
    background: #ff0;
  }
</style>
