<script>

  import { onMount } from 'svelte'
  import { Modal } from 'svelma'

  export let target = document.body
  export let id

  let meta

  onMount(async () => {
      const _res = await fetch(window.location.origin+'/search/?meta='+id)
      const _json = await _res.json()
      meta = JSON.stringify(_json,null,4)
  })

</script>

<Modal class="mymodal">
  <div class="box is-full" >
    {#if (!meta) }
      <span class="icon">
        <i class="fas fa-spinner fa-pulse"></i>
      </span>
    {:else}
      <pre>
        {meta}
      </pre>
    {/if}
  </div>
</Modal>
