<script>

  import {Button} from 'svelma'
  export let name = 'noname'
  export let alias = 'noalias'
  export let values = []
  export let selected = []

  const select = value => {
    if (!selected.some(e => e.value === value && e.name === name)) selected = [ ...selected,{name, alias, value}]
  }

</script>

<div class='tags'>
  {#each values as value}
    <Button class="is-small is-rounded"
          on:click="{() => select(value)}"
          disbled={(selected.some(e => e.value === value && e.name === name))}
          >{value}</Button>
  {/each}
</div>
