<script>

  import { Input, Button } from 'svelma'
  import { onMount } from 'svelte'

  export let path

  let fileDialog

  function fileDialogClick(e){
    fileDialog.click()
  }
  function handeInput(e){
    path.path = e.srcElement.value
  }

  onMount( () => {
    if (!path.path) fileDialog.click()
    //else fileDialog.value = path.path
  })

</script>

<div class="field is-expanded is-horizontal has-addons">
  <input class="is-hidden" type="file" bind:this={fileDialog} nwdirectory on:input="{handeInput}"/>
  <!--<input class="field is-expanded" disabled type="text" bind:value={path.path}/> -->
    <slot></slot>
    <Button class="control" type="is-success" iconPack="fa" iconLeft="check" on:click={fileDialogClick}>Select</Button>
    <!-- <span class="control"> &nbsp {path.path}</span> -->
    <input class="is-expanded" disabled type="text" bind:value={path.path}/>

</div>
