<script>
  import { Button } from 'svelma'
	import { usersettings } from '../utils/usersettings.js'

  export let settings = {}


  let old
  // ?! or getitem it from localStorage
  const unsubscribe = usersettings.subscribe(value => {
    old = value;
  })

  function same(o1,o2){
    const assert = nw.require('assert').strict

    try {
      assert.deepStrictEqual(o1, o2)
    } catch (e) {
      return false
    }
    return true
  }

  function save() {
    let changed = false
    for (const key of Object.keys(settings)){
      if (!same(old[key],settings[key])){
        changed = true
        old[key] = settings[key]
      }
    }
    // changed, save and set
    if (changed) {
      localStorage.setItem('usersettings',JSON.stringify(old))
		  usersettings.set(old) // TODO ?! load from localStorage, but we just saved it 
    }
	}
</script>

<Button on:click={save}>
	Save
</Button>
