<script>

  // svelma icon has hardcoded 'fa' ;(
  import  Icon  from './vendor/svelma/icon.svelte'
  import { Progress } from 'svelma'

  export let label = ''

  export let status = '' // ''    == stale, stoped, error, .. not doing it
                         // spin  == globbing, sending
                         // pulse == waiting for next spin  (like setTimeout(send(),10000))

  export let progress    // if is number show progress bar
  export let fields = {} // Object like {queue:900, sent:127, ..}
  export let spinner = 'asterisk' // use any of https://fontawesome.com/icons?c=spinners

  let type = 'is-success'

  let pack = 'fa'



  function isNumber(obj) {
    return obj !== undefined && typeof(obj) === 'number' && !isNaN(obj);
  }

  $: {
        if (!(status === 'spin' || status === 'pulse' )) {
          status = ''
          type = 'is-danger'
        } else type = 'is-success'
      }
  $: {if (!isNumber(progress)) progress = undefined}
  $: {if (isNumber(progress) && progress > 99.9999999) progress = undefined}

</script>

<div class="field ">
  <label class="label is-grouped">
  {label}
  <Icon type={type} pack={pack} icon={spinner} customClass={status} />
  {#if progress}
  <Progress {type} value={progress} duration=200 max="100" />
  {/if}
  </label>
  <div class="control">
{#each Object.keys(fields) as key}
{#if fields[key] } <!--  /* do not show undefined or empty or 0 */ -->
  <p>{key} : {fields[key]}</p>
  {/if}
{/each}
  </div>
</div>
<slot />
