<script>
import {onMount} from 'svelte'
import { createEventDispatcher } from 'svelte'
import SvelteHeatmap from './src/SvelteHeatmap.svelte'

export let data
export let showDate = true
export let cellGap = 1
export let cellRadius = 0
export let colors = ['#a1dab4', '#42b6c4', '#2c7fb9', '#263494']
export let emptyColor = '#ecedf0'


let ready, start, end, self, scroll



onMount(()=>{
  //data = data.sort( (a,b) => a.date > b.date ? 1 : -1)
  start = new Date(data[0].date)
  start.setDate(0)
  end = new Date(data[data.length-1].date)
  end.setMonth(end.getMonth()+1)
  end.setDate(0)
  ready = true
  console.dir({timeline})
})

let dicpatch = createEventDispatcher()
let mouseon
let timeline

/*
$: (self && timeline && timeline.scrollWidth > self.clientWidth)
   ? scroll = self.clientWidth / timeline.scrollWidth
   : scroll = 1
*/
</script>

<style>

::-webkit-scrollbar {
width: 1px;
height:1px;
}

::-webkit-scrollbar-thumb {
background: blue;

}
.timeline {

	//overflow: auto;
  overflow-x: scroll;

}

.container {

	padding: 2px;
}

</style>

{#if (ready)}
<div class="container">
<div class="timeline" bind:this={self} on:wheel="{(e)=>{self.scrollLeft += e.deltaY}}">
  <SvelteHeatmap
    bind:self="{timeline}"
    allowOverflow={true}
    cellGap={cellGap}
    cellRadius={cellRadius}
    colors={colors}
    data={data}
    dayLabelWidth={20}
    emptyColor={emptyColor}
    endDate={end}
    startDate={start}
    view={'weekly'}
		on:mouseOn="{ ({detail}) => {
				mouseon = detail
        dicpatch('mouseOn', detail)
		    }
			}"
  />

</div>
<!--
{#if (self && timeline && timeline.scrollWidth > self.clientWidth)}
scroll ..
timeline {timeline ? timeline.scrollWidth : ''}
{self ? self.clientWidth : ''}
{/if}
-->

{#if (showDate)}
<span>
	{mouseon && mouseon.date ? mouseon.date : '.'}
</span>
{/if}
</div>
{/if}
